<div class="space">
</div>
<div class="commerce">
    <div class="title">
        <h1>特定商取引法に基づく表記</h1>
    </div>
    <div class="commerce_background">
        <div class="commerce_text">
            <div class="commerce_wrapp">

                <div class="commerce_item1">
                    <p>▪️事業者の名称及び連絡先</p>
                </div>
                <div class="commerce_item2">
                    <p>株式会社エイトプロジェクト</p>
                    <p>代表取締役　新海　英人</p>
                    <p>所在地　東京都杉並区高円寺南2-54-2ダイナシティ高円寺605号室</p>
                    <p>営業時間　平日 10:00～17:00（土・日・祝休）</p>
                    <p><a href="/support/inquiry">お問い合わせフォームはこちら</a></p>
                    <p>※お問い合わせについては個人情報保護などのためサイト内の「お問い合わせ」フォームよりご連絡をお願いいたします。</p>
                </div>
            </div>
            <div class="commerce_wrapp1" id="commerce_wrapp1">
                <div class="commerce_item3" id="commerce_item3">
                    <p>▪️サービス価格</p>
                </div>
                <div class="commerce_item4" id="commerce_item4">
                    <p>サービス価格は各ページに記載しております（表示価格は消費税込みの金額の場合と消費税抜きの金額の場合がありますので、各ページをご参照下さい）。</p>
                </div>
            </div>
            <div class="commerce_wrapp1">
                <div class="commerce_item3 down">
                    <p>▪️支払方法</p>
                </div>
                <div class="commerce_item4 down">
                    <p>クレジットカード決済</p>
                </div>
            </div>
            <div class="commerce_wrapp1">
                <div class="commerce_item3 down">
                    <p>▪️支払時期</p>
                </div>
                <div class="commerce_item4 down">
                    <p>保管契約成立時とし、詳しくは保管契約成立時にご案内いたします。</p>
                </div>
            </div>
            <div class="commerce_wrapp1">
                <div class="commerce_item3 down">
                    <p>▪️サービスの提供時期</p>
                </div>
                <div class="commerce_item4 down">
                    <p>サービスご利用者間での合意に基づく、詳しくは保管契約成立時にご案内いたします。</p>
                </div>
            </div>
            <div class="commerce_wrapp1">
                <div class="commerce_item3 down">
                    <p>▪️サービス利用料以外に必要な料金</p>
                </div>
                <div class="commerce_item4 down">
                    <p>インターネット接続に必要な通信回線等の諸費用</p>
                </div>
            </div>
            <div class="commerce_wrapp1">
                <div class="commerce_item3 down">
                    <p>▪️キャンセルについて</p>
                </div>
                <div class="commerce_item4 down">
                    <p><a href="/support/index">Second House Q&A</a>をご参照ください。</p>
                </div>
            </div>
            <div class="commerce_wrapp1">
                <div class="commerce_item5 down">
                    <p>▪️動作環境</p>
                </div>
                <div class="commerce_item6 down">
                    <p><a href="/support/index">Second House Q&A</a>をご参照ください。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!---スマホ---->
<div class="commerce" id="commerce">
    <div class="evaluation_head">
        <h1>特定商取引法に基づく表記</h1>
    </div>
    <div class="commerce_background" id="commerce_background">
        <div class="commerce_text" id="commerce_text">
            <div class="commerce_wrapp" id="commerce_wrapp">
                <div class="commerce_item1" id="commerce_item1">
                    <p>▪️事業者の名称及び連絡先</p>
                </div>
                <div class="commerce_item2">
                    <p>株式会社エイトプロジェクト</p>
                    <p>代表取締役　新海　英人</p>
                    <p>所在地　東京都杉並区高円寺南2-54-2ダイナシティ高円寺605号室</p>
                    <p>営業時間　平日 10:00～17:00（土・日・祝休）</p>
                    <p><a href="/support/inquiry">お問い合わせフォームはこちら</a></p>
                    <p>※お問い合わせについては個人情報保護などのためサイト内の「お問い合わせ」フォームよりご連絡をお願いいたします。</p>
                </div>
            </div>
            <div class="commerce_wrapp1" id="commerce_wrapp1">
                <div class="commerce_item3" id="commerce_item3">
                    <p>▪️サービス価格</p>
                </div>
                <div class="commerce_item4" id="commerce_item4">
                    <p>サービス価格は各ページに記載しております（表示価格は消費税込みの金額の場合と消費税抜きの金額の場合がありますので、各ページをご参照下さい）。</p>
                </div>
            </div>
            <div class="commerce_wrapp1">
                <div class="commerce_item3 down">
                    <p>▪️支払方法</p>
                </div>
                <div class="commerce_item4 down">
                    <p>クレジットカード決済</p>
                </div>
            </div>
            <div class="commerce_wrapp1">
                <div class="commerce_item3" id="down_s1">
                    <p>▪️支払時期</p>
                </div>
                <div class="commerce_item4" id="down_s1">
                    <p>保管契約成立時とし、詳しくは保管契約成立時にご案内いたします。</p>
                </div>
            </div>
            <div class="commerce_wrapp1">
                <div class="commerce_item3" id="down_s1">
                    <p>▪️サービスの提供時期</p>
                </div>
                <div class="commerce_item4" id="down_s1">
                    <p>サービスご利用者間での合意に基づく、詳しくは保管契約成立時にご案内いたします。</p>
                </div>
            </div>
            <div class="commerce_wrapp1">
                <div class="commerce_item3" id="down_s1">
                    <p>▪️サービス利用料以外に必要な料金</p>
                </div>
                <div class="commerce_item4" id="down_s1">
                    <p>インターネット接続に必要な通信回線等の諸費用</p>
                </div>
            </div>
            <div class="commerce_wrapp1">
                <div class="commerce_item3" id="down_s1">
                    <p>▪️キャンセルについて</p>
                </div>
                <div class="commerce_item4" id="down_s1">
                    <p><a href="/support/index">Second House Q&A</a>をご参照ください。</p>
                </div>
            </div>
            <div class="commerce_wrapp1">
                <div class="commerce_item5" id="down_s1">
                    <p>▪️動作環境</p>
                </div>
                <div class="commerce_item6" id="down_s1">
                    <p><a href="/support/index">Second House Q&A</a>をご参照ください。</p>
                </div>
            </div>
        </div>
    </div>
</div>
