<div class="space">
</div>
<<<<<<< HEAD
<div class="guide_payment">
    <div class="title">
        <h1>お支払い方法・手数料</h1>
    </div>
    <div class="background_safe" id="background_safe_hei">
        <div class="text_safe" id="text_safe_hei">
            <div class="content_safe">
                <div class="logo">
                    <img src="/assets/guide_pay.jpg" alt="">
                    <h2>お支払い方法・手数料</h2><br>
                    <p>SecondHouseでは、簡単・安心・便利にお支払いやお受け取りができるよう</p><p>決済方法を工夫しております。</p>
                </div>
                <div class="item_header_container" id="item_header_container">
                    <div class="pay_header_item">
                        <p><a href="#scroll1"><i class="fas fa-angle-down no_pa"></i>安心・安全の決済</a></p>
                        <p><a href="#scroll2"><i class="fas fa-angle-down no_pa"></i>サービス購入時のお支払い方法</a></p>
                    </div>
                    <div class="pay_header_item">
                        <p><a href="#scroll3"><i class="fas fa-angle-down no_pa"></i>サービス販売代金の受け取り方法</a></p>
                        <p id="scroll1"><a href="#scroll4"><i class="fas fa-angle-down no_pa"></i>手数料</a></p>
                    </div>
                </div>
                <div class="item" id="item_hei">
                    <div class="item_title">
                        <h3>安心・安全の決済</h3>
                        <div class="pay_image">
                            <img src="/assets/pay_guide.png" alt="">
                        </div>

                        <div class="item_content">
                            <p id="scroll2">SecondHouseでは、有料ユーザーへの依頼の場合、事前にサービス代金を決済していただき、サービス提供が完了するまでSecondHouse側で代金をお預かりいたします。そのため、サービスを提供したのに代金を受け取れないことや、サービスがキャンセルになったのに返金されないといった問題は発生しません。また、取引相手にカード番号、金融機関口座情報を知らせる必要もありません。</p>
                        </div>
                    </div>
                </div>
                <div class="item" id="item_hei2">
                    <div class="item_title">
                        <h3>サービス購入時のお支払い方法</h3>
                        <div class="item_content">
                            <p class="credit_title">クレジットカード</p>
                            <div class="credit_kind">
                                <p>ご利用可能カード</p>
                                <p>VISA、Mastercard、JCB、AMEX、Diners Club、Discoverがご利用いただけます。</p>
                                <div id="scroll3" class="credit_img">
                                    <img id="visa" src="/assets/visa.png" alt="">
                                    <img id="Diners" src="/assets/Diners-logo.svg" alt="">
                                    <img id="Discover" src="/assets/Discover.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" id="item_hei3">
                    <div class="item_title">
                        <h3>サービス販売代金の受け取り方法</h3>
                        <div class="item_content">
                            <p id="scroll4">売上は、双方のユーザーが完了、評価をした時点で預かった方ののアカウントに反映されます（反映には最大1日ほどお時間いただきます）。受取可能な残高が1000円を超えた段階で、売上管理画面より、設定した銀行口座に振込申請をすることができます。なお、売上には120日の期限があるため、120日以内に振込申請をしてください。1日〜15日 23:59 までに振込申請をした場合は同月の末日、16日〜月末 23:59 までに振込申請をした場合は翌月の15日に振り込みを行います（土日祝の場合は翌営業日に振り込みます）。振込申請は期間中1回のみ可能となっており、また、振り込まれてから次の振込申請ができるようになっております。振込手数料として324円が差し引かれます。</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item_title">
                        <h3>手数料</h3>
                        <div class="item_content">
                            <div class="fee">
                                <p><span class="dot"></span></p>
                                <p>サービスを利用するのに初期費用や月会費等はかかりません。</p>
                            </div>
                            <div class="fee">
                                <p><span class="dot"></span></p>
                                <p>売上総額から手数料25%（税別）が差し引かれます。</p>
                            </div>
                            <div class="fee">
                                <p><span class="dot"></span></p>
                                <p>当社の手数料には別途消費税8%が発生します。（例：25%×1.08=27%）</p>
                            </div>
                            <div class="fee">
                                <p><span class="dot"></span></p>
                                <p>手数料はシステム利用料と決済手数料（クレジットカード等の決済システム利用料）で構成されています。</p>
=======
<div class="title">
    <h1>お支払い方法・手数料</h1>
</div>
<div class="background_safe" id="background_safe_hei">
    <div class="text_safe" id="text_safe_hei">
        <div class="content_safe">
            <div class="logo">
                <img src="/guide_pay.jpg" alt="">
                <h2>お支払い方法・手数料</h2><br>
                <p>SecondHouseでは、簡単・安心・便利にお支払いやお受け取りができるよう</p><p>決済方法を工夫しております。</p>
            </div>
            <div class="item_header_container" id="item_header_container">
                <div class="pay_header_item">
                    <p><a href="#scroll1"><i class="fas fa-angle-down no_pa"></i>安心・安全の決済</a></p>
                    <p><a href="#scroll2"><i class="fas fa-angle-down no_pa"></i>サービス購入時のお支払い方法</a></p>
                </div>
                <div class="pay_header_item">
                    <p><a href="#scroll3"><i class="fas fa-angle-down no_pa"></i>サービス販売代金の受け取り方法</a></p>
                    <p id="scroll1"><a href="#scroll4"><i class="fas fa-angle-down no_pa"></i>手数料</a></p>
                </div>
            </div>
            <div class="item" id="item_hei">
                <div class="item_title">
                    <h3>安心・安全の決済</h3>
                    <div class="pay_image">
                        <img src="/pay_guide.png" alt="">
                    </div>

                    <div class="item_content">
                        <p id="scroll2">SecondHouseでは、有料ユーザーへの依頼の場合、事前にサービス代金を決済していただき、サービス提供が完了するまでSecondHouse側で代金をお預かりいたします。そのため、サービスを提供したのに代金を受け取れないことや、サービスがキャンセルになったのに返金されないといった問題は発生しません。また、取引相手にカード番号、金融機関口座情報を知らせる必要もありません。</p>
                    </div>
                </div>
            </div>
            <div class="item" id="item_hei2">
                <div class="item_title">
                    <h3>サービス購入時のお支払い方法</h3>
                    <div class="item_content">
                        <p class="credit_title">クレジットカード</p>
                        <div class="credit_kind">
                            <p>ご利用可能カード</p>
                            <p>VISA、Mastercard、JCB、AMEX、Diners Club、Discoverがご利用いただけます。</p>
                            <div id="scroll3" class="credit_img">
                                <img id="visa" src="/visa.png" alt="">
                                <img id="Diners" src="/Diners-logo.svg" alt="">
                                <img id="Discover" src="/Discover.jpg" alt="">
>>>>>>> refs/remotes/origin/master
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<<<<<<< HEAD
        </div>
    </div>
</div>
<!---スマホ---->
<div class="guide_payment" id="guide_payment">
    <div class="evaluation_head">
        <h1>お支払い方法・手数料</h1>
    </div>
    <div class="text_safe2" id="text_safe22">
        <div class="content_safe" id="content_safe">
                <div class="logo" id="logo">
                    <img src="/assets/guide_pay.jpg" alt="">
                    <h2>お支払い方法・手数料</h2><br>
                    <p>SecondHouseでは、簡単・安心・便利にお支払いやお受け取りができるよう</p><p>決済方法を工夫しております。</p>
                </div>
                <div class="item_header_container" id="item_header_container">
                    <div class="pay_header_item" id="pay_header_item">
                        <p><a href="#scroll1"><i class="fas fa-angle-down no_pa"></i>安心・安全の決済</a></p>
                        <p><a href="#scroll2"><i class="fas fa-angle-down no_pa"></i>サービス購入時のお支払い方法</a></p>
                    </div>
                    <div class="pay_header_item" id="pay_header_item">
                        <p><a href="#scroll3"><i class="fas fa-angle-down no_pa"></i>サービス販売代金の受け取り方法</a></p>
                        <p id="scroll1"><a href="#scroll4"><i class="fas fa-angle-down no_pa"></i>手数料</a></p>
                    </div>
                </div>
                <div class="item" id="item_hei_s">
                    <div class="item_title" id="item_title00">
                        <h3>安心・安全の決済</h3>
                        <div class="pay_image">
                            <img src="/assets/pay_guide.png" alt="">
                        </div>

                        <div class="item_content" id="item_content_s">
                            <p id="scroll2">SecondHouseでは、有料ユーザーへの依頼の場合、事前にサービス代金を決済していただき、サービス提供が完了するまでSecondHouse側で代金をお預かりいたします。そのため、サービスを提供したのに代金を受け取れないことや、サービスがキャンセルになったのに返金されないといった問題は発生しません。また、取引相手にカード番号、金融機関口座情報を知らせる必要もありません。</p>
                        </div>
                    </div>
                </div>
                <div class="item" id="item_hei_s2">
                    <div class="item_title" id="item_title00">
                        <h3>サービス購入時のお支払い方法</h3>
                            <div class="credit_kind" id="credit_kind">
                                <p>ご利用可能カード</p>
                                <p>VISA、Mastercard、JCB、AMEX、Diners Club、Discoverがご利用いただけます。</p>
                                <div id="scroll3" class="credit_img">
                                    <img id="visa" src="/assets/visa.png" alt="">
                                    <img id="Diners" src="/assets/Diners-logo.svg" alt="">
                                    <img id="Discover" src="/assets/Discover.jpg" alt="">
                                </div>
                            </div>
                    </div>
                </div>
                <div class="item" id="item_hei_s3">
                    <div class="item_title" id="item_title00">
                        <h3>サービス販売代金の受け取り方法</h3>
                        <div class="item_content" id="item_content_s">
                            <p id="scroll4">売上は、双方のユーザーが完了、評価をした時点で預かった方ののアカウントに反映されます（反映には最大1日ほどお時間いただきます）。受取可能な残高が1000円を超えた段階で、売上管理画面より、設定した銀行口座に振込申請をすることができます。なお、売上には120日の期限があるため、120日以内に振込申請をしてください。1日〜15日 23:59 までに振込申請をした場合は同月の末日、16日〜月末 23:59 までに振込申請をした場合は翌月の15日に振り込みを行います（土日祝の場合は翌営業日に振り込みます）。振込申請は期間中1回のみ可能となっており、また、振り込まれてから次の振込申請ができるようになっております。振込手数料として324円が差し引かれます。</p>
                        </div>
                    </div>
                </div>
                <div class="item" id="item_hei_s3">
                    <div class="item_title" id="item_title00">
                        <h3>手数料</h3>
                        <div class="item_content" id="item_content_s">
                            <div class="fee" id="fee">
                                <p><span id="dot" class="dot"></span></p>
                                <p>サービスを利用するのに初期費用や月会費等はかかりません。</p>
                            </div>
                            <div class="fee">
                                <p><span id="dot"  class="dot"></span></p>
                                <p>売上総額から手数料25%（税別）が差し引かれます。</p>
                            </div>
                            <div class="fee">
                                <p><span id="dot"  class="dot"></span></p>
                                <p id="fee_s">当社の手数料には別途消費税8%が発生します。（例：25%×1.08=27%）</p>
                            </div>
                            <div class="fee">
                                <p><span id="dot"  class="dot"></span></p>
                                <p>手数料はシステム利用料と決済手数料（クレジットカード等の決済システム利用料）で構成されています。</p>
                            </div>
=======
            <div class="item" id="item_hei3">
                <div class="item_title">
                    <h3>サービス販売代金の受け取り方法</h3>
                    <div class="item_content">
                        <p id="scroll4">売上は、双方のユーザーが完了、評価をした時点で預かった方ののアカウントに反映されます（反映には最大1日ほどお時間いただきます）。受取可能な残高が1000円を超えた段階で、売上管理画面より、設定した銀行口座に振込申請をすることができます。なお、売上には120日の期限があるため、120日以内に振込申請をしてください。1日〜15日 23:59 までに振込申請をした場合は同月の末日、16日〜月末 23:59 までに振込申請をした場合は翌月の15日に振り込みを行います（土日祝の場合は翌営業日に振り込みます）。振込申請は期間中1回のみ可能となっており、また、振り込まれてから次の振込申請ができるようになっております。振込手数料として324円が差し引かれます。</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item_title">
                    <h3>手数料</h3>
                    <div class="item_content">
                        <div class="fee">
                            <p><span class="dot"></span></p>
                            <p>サービスを利用するのに初期費用や月会費等はかかりません。</p>
                        </div>
                        <div class="fee">
                            <p><span class="dot"></span></p>
                            <p>売上総額から手数料25%（税別）が差し引かれます。</p>
                        </div>
                        <div class="fee">
                            <p><span class="dot"></span></p>
                            <p>当社の手数料には別途消費税8%が発生します。（例：25%×1.08=27%）</p>
                        </div>
                        <div class="fee">
                            <p><span class="dot"></span></p>
                            <p>手数料はシステム利用料と決済手数料（クレジットカード等の決済システム利用料）で構成されています。</p>
>>>>>>> refs/remotes/origin/master
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<<<<<<< HEAD
=======
<script type="text/javascript">




</script>
>>>>>>> refs/remotes/origin/master
