<div class="space">
</div>
<div class="title">
  <h1>プライバシーポリシー</h1>
</div>

<div class="privacy_background">
  <div class="privacy_text">
    <p>株式会社エイトプロジェクト（以下「当社」といいます）は、お客様（サービス利用会員、サービス提供者、及び下記「本ウェブサイト等」の閲覧者を総称するものです）の個人を識別しうる情報を適切に保護することが社会的責務として重要と考え、下記の「お客様情報の取扱規定（プライバシーポリシー）」に基づき、お客様の個人情報を取得、利用、第三者に預託または提供させていただきます。お客様が、本ウェブサイト及び本アプリケーション「Second House（セカンドハウス）」（以下総称して「本ウェブサイト等」といいます）のご利用をされるためには、下記「お客様情報の取扱規定（プライバシーポリシー）」を熟読のうえ、内容に同意していただく必要があります。同意いただけない場合は、本ウェブサイト等へのアクセス及び本サービスのご利用はお断りします。</p><br>


    <h4>お客様情報について</h4>
    <p>お客様情報とは、お客様個人を識別しうる情報をいい、下記を含むものとします。</p><br>
    <div class="terms_content">
      <p class="number">・</p>
      <p>お客様が登録もしくは変更の届出をしたか、または公開されている、お客様のお名前、ログインID、パスワード、ニックネーム、ご住所、電子メールアドレス、電話番号、会員に関する情報、クレジットカード番号その他のクレジットカードに関する情報、銀行口座番号</p>
      </div>
      <div class="terms_content">
        <p class="number">・</p>
        <p class="width">お客様がご利用になった本サービスの内容、ご利用日時、ご利用回数などのご利用内容・ご利用履歴に関する情報</p>
      </div>
      <div class="terms_content">
        <p class="number">・</p>
        <p class="width">お客様のご利用に関連した決済状況に関する情報</p>
      </div>
<!---------お客様情報の取得・収集について------>
      <div class="privacy_content">
          <h4>お客様情報の取得・収集について</h4>
          <p>当社は、以下の方法により、本ウェブサイト等をご利用になるお客様のお客様情報を取得・収集させていただくことがあります。</p><br>
          <div class="terms_content">
            <p class="number">・</p>
            <p>本ウェブサイト等を通じて取得・収集させて頂く方法本ウェブサイト等上でお客様自身が入力されたお客様情報を、当社は取得・収集させていただきます。</p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">電子メール、郵便、書面、電話等の手段により取得・収集させて頂く方法
                お客様から当社に対し、電子メール、郵便、書面、電話等の手段によって、ご提供していただいたお客様情報を当社は取得・収集させていただきます。</p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">お客様にお送りした電子メールを通じて取得・収集させて頂く方法
                お客様がご使用の電子メールソフトに電子メールの到着および開封の確認機能がある場合、当社からお客様にお送りした電子メールの到着および開封に関する情報を受け取らせていただき、記録させていただくことがございます。お客様がこのような情報を当社が受領することをご希望されない場合は、ご使用の電子メールソフトの確認機能を停止していただくか、確認機能のない電子メールソフトのご使用をお願いいたします。</p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">お客様が本ウェブサイト等へアクセスされた際に情報を収集させて頂く方法
                お客様が本ウェブサイト等の本サービスをご利用された履歴等を収集させていただきます。これらの情報にはお客様が利用されるＵＲＬ、ブラウザや携帯電話の種類やIPアドレスなどの情報を含みます。
                また、本ウェブサイト等では、ウェブサイト又はアプリケーションを改善する目的でGoogle Analyticsを利用し、それに伴いかかる目的でお客様の情報を利用しています。Google Analyticsは、クッキーを利用してお客様の情報を収集します。Google Analyticsの利用規約及びプライバシーポリシーに関する説明については、Google Analyticsのサイトをご覧ください。
                また、本ウェブサイト等では、ウェブサイト又はアプリケーションを改善する目的でAndroid 広告IDを収集し、それに伴いかかる目的でAndroid 広告IDを利用しています。当社は、Android 広告IDの規約に同意した上でかかる収集及び利用を行っています。
              </p>
            </div>
      </div>
<!---------お客様情報の利用目的について------>
      <div class="privacy_content">
          <h4>お客様情報の利用目的について</h4><br>
          <div class="terms_content">
            <p class="number">・</p>
            <p>当社は、お客様情報を取得・収集する際にお客様にお知らせした利用目的または以下の目的のために、お客様情報を利用させていただきます。これらの利用目的以外には、下記「4.お客様情報の第三者への預託、提供について」に記載する場合または事前にお客様に同意をいただいた場合を除き、利用致しません。なお、お客様は、お客様に対する情報提供について、会員登録時及び登録後に、情報提供を断ることができます。但し、本サービス運営上必要となる情報提供については、その情報提供を断ることができないこととします。</p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">本ウェブサイト等で安全かつ確実に取引をして頂くために 利用者に電子メール等で取引の状態や重要な事項を連絡させて頂くため</p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">本取引のご購入確認をするため</p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">電子メール配信サービスのお申し込みの確認やメールを配信するため
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">本サービスへの登録の確認や本サービスを提供するため
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">本取引・本サービスのご請求、お支払いとその確認をするため
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">ご協力いただいた調査に対して謝礼などをお送りするため
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">ご応募いただいた懸賞などに対する景品等をお送りするため
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">本ウェブサイト等運営上のトラブルの解決のため
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">本取引・本サービス、本ウェブサイト等などの内容を皆さまがよりご満足いただけるよう改良するため
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">皆さまが注文された情報や本取引などに関する満足度を調査するため
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">個人情報を統計的に処理した情報を集約し調査結果として公表するため
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">皆さまのご利用状況を把握し、本サービスの改善や新サービスの開発に役立てるため
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">各種会員制サービス、その他各種サービスのご案内をお届けするため
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">調査のご協力や各種イベントへのご参加をお願いしたり、その結果等をご報告するため
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">本取引、本サービス、本ウェブサイト等などの利用状況を把握し、当社をはじめ皆さまに有益と思われる企業/団体の情報や調査などをお届けするため
              </p>
            </div>
        </div>
<!----------お客様情報の第三者への預託、提供について----->     <div class="privacy_content">
          <h4>お客様情報の第三者への預託、提供について</h4><br>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">本ウェブサイト等で本サービスを提供するために当社が必要と判断した場合の、本ウェブサイト等上での情報の開示や共有について
              公開された取引相手の情報は、当該取引のためにのみ利用するものとし、ご購入者のお客様の事前の同意なく、これを第三者に開示いたしません。またお客様の本ウェブサイト等利用履歴や一部の公開用のお客様情報（ニックネーム、性別、自己紹介文等）は、本ウェブサイト等上で当社が定める期間、公開されます。
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">
                本サービス提供に必要な場合
                当社が本サービスの運営において必要と判断した場合
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">
                業務委託先への預託・提供
                お客様情報の処理、お客様への情報提供、キャンペーン・アンケートの実施等を行うために、当社が信頼に足ると判断し個人情報の守秘義務契約を結んだ企業に、業務の全部または一部を委託する場合があり、この場合、当社の厳正な管理下のもと、業務を行うのに必要最小限の範囲で、当該業務委託先企業にお客様情報を預託、提供させていただくことがあります。
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">
                当社の協力会社・提携先への預託・提供
                本サービス提供のため、当社が信頼に足ると判断し個人情報の守秘義務契約を結んだ企業と協力関係・提携関係を結ぶ場合があり、この場合、当社の厳正な管理下のもと、本サービス提供に必要な最小限の範囲で、当該協力会社・提携先企業にお客様情報を預託、提供させていただくことがあります。
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">
                クレジットカード会社、その他金融機関に対する照会
                当社は、お客様が本ウェブサイト等で本サービスを利用された場合等に、代金の決済等を目的として、クレジットカードその他の決済用カードの番号およびお客様のお名前等をクレジットカード会社、その他金融機関に照会させていただくことがあります。

              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">
                事業の譲渡に伴う事業売却先への提供
                当社は、企業として、合併や事業の売却をさせていただく場合があります。その場合、当社のお客様情報の取扱規定と同等の方針に従うことを条件に、事業売却先の第三者にお客様情報を提供させていただくことがあります。
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">
                法令等に基づく提供
                当社は、裁判所、行政機関、監督官庁その他の公的機関からお客様情報を提供するよう求められた場合、提供を拒否する合理的な理由がない場合には、お客様情報を提供させていただくことがあります。
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">
                第三者との紛争解決
                会員が第三者に迷惑をかけ、そのトラブルを解決するために、当社が開示を必要と判断した場合には、お客様情報を提供させていただくことがあります。 当社が提供する本サービスの利用者及び第三者の権利や利益等を守るために当社が情報開示が必要と判断した場合には、お客様情報を提供させていただくことがあります。
              </p>
            </div>
            <div class="terms_content">
              <p class="number">・</p>
              <p class="width">
                Criteo社への提供
                Criteo株式会社に対して、個人を特定できない加工情報を提供いたします。Criteo株式会社は、広告主が提供するサービス（Webサイト、アプリ、メールマガジン）を閲覧したユーザーに対して、パーソナライズされた広告メールやその他広告を配信するサービスです。Criteoはクッキーを利用して、閲覧履歴に基づいたパーソナライズ広告を提供します。Criteoに関する詳細およびオプトアウト（配信停止）方法に関してはこちら。

              </p>
            </div>
        </div>
<!---------クッキーの使用について------>
        <div class="privacy_content">
            <h4>クッキーの使用について</h4><br>
            <p>本ウェブサイト等は、お客様のコンピュータの記憶装置に、「クッキー」と呼ばれるテキストファイルを送付し、保存・利用させていただくことがございます。「クッキー」を使用する事により具体的には、例えば、興味をお持ちであろう分野のコンテンツを表示する事ができるというメリットがあります。お客様は、「クッキー」を受け取る前にブラウザが警告を出す様に設定しておく事により、お客様の判断で「クッキー」を受け取る事を拒否できますが、本ウェブサイト等の機能または本サービスがご利用になれない場合があります。
            </p>
      </div>
<!---------当社によるお客様情報の訂正について------>
      <div class="privacy_content">
            <h4>当社によるお客様情報の訂正について</h4><br>
            <p>ご登録いただいたお客様情報のうち、市町村などの名称および郵便番号、金融機関の名称あるいはクレジットカードの有効期限など、ご請求を行う上で支障がある情報に変更があった場合には、当社が登録されているお客様情報を変更させていただく場合があります。
            </p>
      </div>
<!---------お客様情報の管理およびセキュリティについて------>
      <div class="privacy_content">
            <h4>お客様情報の管理およびセキュリティについて</h4><br>
            <p>当社では、収集させていただいたお客様情報を、一般の利用者がアクセスできない環境下にある、ファイヤーウォールで保護されたサーバーにて安全に保管し、不正アクセス・紛失・破壊・改ざんまたは漏洩が生じないよう努めます。なお、当社では、当社が信頼に足ると判断し個人情報の守秘義務契約を結んだ企業に、個人情報の取り扱いを委託する場合がありますが、この場合にも、お客様情報は当社のお客様情報の取扱規定（プライバシーポリシー）のもとで保護されます。
            </p>
      </div>
<!---------免責・注意事項について------>
      <div class="privacy_content">
            <h4>お客様情報の管理およびセキュリティについて</h4><br>
            <p>当社は、本ウェブサイト等のウェブページにリンクされている他の事業者または個人のウェブサイトにおけるお客様の個人情報等の保護について、責任を負うものではありません。お客様ご自身にて当該ウェブサイトの内容をよくご確認の上で、閲覧およびご利用をお願いいたします。
            当社は、お客様の個人情報を不正なアクセスから守るため､データの保護が必要であると判断した場合、データ転送にSSL(Secure Socket Layer)という業界標準の暗号方式を使用しています。SSL非対応ブラウザによる本ウェブサイト等上での登録、申込もしくは注文、または電子メールもしくは郵便によりお客様情報をご提供いただく場合は、当社への情報到達過程にて、当社の管理外の第三者に閲覧、窃取される危険性が高まりますので、これらの危険性をご了解の上これらの手段をご利用ください。
            万一、当社によるセキュリティ施策にもかかわらず、ハッカー等による不当な行為により、お客様および第三者に損害が生じた場合については、当社は責任を負いかねますのでご了承ください。 お客様ご本人を確認するための情報につきましては、お客様にて、紛失、忘失または第三者に知られることのないよう厳重な管理をお願いいたします。
            </p>
      </div>
<!---------海外からのアクセスについて------>
      <div class="privacy_content">
            <h4>海外からのアクセスについて</h4><br>
            <p>本ウェブサイト等の利用、管理、運用方法および掲載内容が違法または不適切とされる国または地域からの本ウェブサイト等へのアクセスはご遠慮を願います。
            </p>
      </div>
<!---------お客様情報の取扱規定の改善および最新のお客様情報の取扱規定の確認について------>
      <div class="privacy_content">
            <h4>お客様情報の取扱規定の改善および最新のお客様情報の取扱規定の確認について</h4><br>
            <p>当社はお客様情報の取扱規定（プライバシーポリシー）について、適宜その改善に努めていきます。最新のお客様情報の取扱規定は、当社のウェブサイトでご覧になれます。 お客様は、本ウェブサイト等にアクセスするか当社の本サービスをご利用になる前に、必ず最新のお客様情報の取扱規定をご確認ください。お客様が本ウェブサイト等にアクセスされるか当社の本サービスをご利用になられた場合は、最新のお客様情報の取扱規定の内容に同意されたものとみなします。
            </p>
      </div>
<!---------お客さま情報の開示・訂正・利用停止等の手続について------>
      <div class="privacy_content">
            <h4>お客さま情報の開示・訂正・利用停止等の手続について</h4><br>
            <p>お客さまはご登録いただいたログインIDとパスワードで本ウェブサイト等にログインしていただき、会員登録時にご登録いただいたお客さまの情報をご確認・訂正いただくことができます。その他、お客さま情報の開示、訂正、利用停止等の取扱いに関するお問合わせはこちら
            </p>
      </div>




  </div>
</div>
