<div class="space">
</div>
<div class="safe">
    <div class="title">
        <h1>安心・安全の取り組み</h1>
    </div>
    <div class="background_safe" id="safe_hei">
        <div class="text_safe" id="safe_hei2">

            <!--------左部分（文章）------------------------->
            <div class="content_safe">
                <div class="logo">
                    <img src="/guide_q.jpg" alt="">
                    <h2>安心・安全の取り組み</h2><br>
                    <p>Second Houseでは、みなさんが快適に安心・安全に</p>
                    <p>マッチングサービスをご利用できるように、様々な独自の取り組みを行っています。</p>
                </div>
                <div class="item">
                    <div class="item_title">
                        <h3>その1. 安心・安全の決済システム</h3>
                        <div class="item_content">
                            <p>Second Houseではリクエスト時の支払い金額は、ワンちゃんのお預けの終了後に相手方に支払われます。これより詐欺などのトラブルを防ぐ事ができます。</p>
                            <p>万が一トラブルになったり、キャンセルになったら全額返金いたします。またワンちゃんを預かる方は未払いのリスクがなくなり、お預かり終了後に確実に報酬を受け取ることができます。</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item_title">
                        <h3>その2. 全サービスのパトロール</h3>
                        <div class="item_content">
                            <p>専任スタッフが常時チェックをし、違反行為や悪質なユーザーをいち早く見つける体制をとっています。不適切なものは削除や機能制限などの対応を行っております。</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item_title">
                        <h3>その3. 取引評価システムの導入</h3>
                        <div class="item_content">
                            <p>ワンちゃんのお預かりごとに飼い主さん、預かる方ともにお互いを評価します。評価を目安に安心なお預けが可能です。
                                運営判断により一定基準よりも低い評価を受けたユーザー様は利用停止、強制退会などを行い、安心・安全にサービスを楽しめるよう運営を行っております。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item_title">
                        <h3>その4. ランク制度の導入</h3>
                        <div class="item_content">
                            <p>Second Houseでは、安心してお預け・お預かりをしていただけるよう、ランク認定されたユーザーがいます。
                                お預かりランクは、お預かり実績、相手方の満足度をSecond House独自の基準で評価し、「レギュラー」「ブロンズ」「シルバー」「ゴールド」「プラチナ」の5ランクを認定しています。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item_title">
                        <h3>その5. 本人確認書類の提出</h3>
                        <div class="item_content">
                            <p>Second Houseでは安心してサービスをご利用頂くため、全ユーザーに本人確認用書類の提出をお願いしております。</p>
                            <p>※本人確認の申請はマイページの「設定」より行ってください。</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item_title">
                        <h3>その6. 適切な個人情報の管理</h3>
                        <div class="item_content">
                            <p>Second Houseではお客様の個人情報を守るためにシステム保守に万全を期しています。トークルームは暗号化された通信になっており、飼い主さんと預かる方が閲覧できます。今後も日々システム保守に努め、安全で楽しくサービスが利用できる環境を提供できるように努めて参ります。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----スマホ--->
<div class="safe_s">
    <div class="evaluation_head">
        <h1>安心・安全の取り組み</h1>
    </div>
    <div class="background_safe" id="safe_hei_s">
        <div class="text_safe" id="safe_hei2_s">
            <div class="content_safe" id="content_safe">
                <div class="logo" id="logo">
                    <img id="image_support" src="/assets/guide_q.jpg" alt="">
                    <h2>安心・安全の取り組み</h2><br>
                    <p>Second Houseでは、みなさんが快適に安心・安全に</p>
                    <p>マッチングサービスをご利用できるように、様々な独自の取り組みを行っています。</p>
                </div>
                <div class="item_s" id="item">
                    <div class="item_title" id="item_title">
                        <h3>その1. 安心・安全の決済システム</h3>
                        <div class="item_content" id="item_content">
                            <p>Second Houseではリクエスト時の支払い金額は、ワンちゃんのお預けの終了後に相手方に支払われます。これより詐欺などのトラブルを防ぐ事ができます。</p>
                            <p>万が一トラブルになったり、キャンセルになったら全額返金いたします。またワンちゃんを預かる方は未払いのリスクがなくなり、お預かり終了後に確実に報酬を受け取ることができます。</p>
                        </div>
                    </div>
                </div>
                <div class="item_s" id="item1">
                    <div class="item_title" id="item_title">
                        <h3>その2. 全サービスのパトロール</h3>
                        <div class="item_content" id="item_content">
                            <p>専任スタッフが常時チェックをし、違反行為や悪質なユーザーをいち早く見つける体制をとっています。不適切なものは削除や機能制限などの対応を行っております。</p>
                        </div>
                    </div>
                </div>
                <div class="item_s" id="item2">
                    <div class="item_title" id="item_title">
                        <h3>その3. 取引評価システムの導入</h3>
                        <div class="item_content" id="item_content">
                            <p>ワンちゃんのお預かりごとに飼い主さん、預かる方ともにお互いを評価します。評価を目安に安心なお預けが可能です。
                                運営判断により一定基準よりも低い評価を受けたユーザー様は利用停止、強制退会などを行い、安心・安全にサービスを楽しめるよう運営を行っております。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item_s" id="item3">
                    <div class="item_title" id="item_title">
                        <h3>その4. ランク制度の導入</h3>
                        <div class="item_content" id="item_content">
                            <p>Second Houseでは、安心してお預け・お預かりをしていただけるよう、ランク認定されたユーザーがいます。
                                お預かりランクは、お預かり実績、相手方の満足度をSecond House独自の基準で評価し、「レギュラー」「ブロンズ」「シルバー」「ゴールド」「プラチナ」の5ランクを認定しています。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item_s" id="item4">
                    <div class="item_title" id="item_title">
                        <h3>その5. 本人確認書類の提出</h3>
                        <div class="item_content" id="item_content">
                            <p>Second Houseでは安心してサービスをご利用頂くため、全ユーザーに本人確認用書類の提出をお願いしております。</p>
                            <p>※本人確認の申請はマイページの「設定」より行ってください。</p>
                        </div>
                    </div>
                </div>
                <div class="item_s" id="item5">
                    <div class="item_title" id="item_title">
                        <h3>その6. 適切な個人情報の管理</h3>
                        <div class="item_content" id="item_content">
                            <p>Second Houseではお客様の個人情報を守るためにシステム保守に万全を期しています。トークルームは暗号化された通信になっており、飼い主さんと預かる方が閲覧できます。今後も日々システム保守に努め、安全で楽しくサービスが利用できる環境を提供できるように努めて参ります。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item_s" id="item">
