<div class="space">
</div>
<<<<<<< HEAD
<div class="settlement" id="settlement_pc">
    <div class="title">
      <h1>資金決済法に基づく表記</h1>
    </div>
    <div class="settlement_background">
        <div class="settlement_text">
            <div class="settlement_wrapp">
                <div class="settlement_item1">
                    <p>▪️商号</p>
                </div>
                <div class="settlement_item2">
                    <p>株式会社エイトプロジェクト</p>
                </div>
            </div>
            <div class="settlement_wrapp1">
                <div class="settlement_item3">
                    <p>▪️支払可能金額等</p>
                </div>
                <div class="settlement_item4">
                    <p>累積保有限度額:50万報酬ポイント</p>
                </div>
            </div>
            <div class="settlement_wrapp1">
                <div class="settlement_item3">
                    <p>▪️有効期限</p>
                </div>
                <div class="settlement_item4">
                    <p>報酬ポイント:最後に報酬ポイントの発行を受けた日から1年間</p>
                </div>
            </div>
            <div class="settlement_wrapp1 change">
                <div class="settlement_item3 change">
                    <p>▪️利用者からの苦情又は相談に応じる営業所または事務所の所在地及び連絡先</p>
                </div>
                <div class="settlement_item4 change">
                    <p>166-0003</p>
                    <p>東京都杉並区高円寺南2-54-2ダイナシティ高円寺605号室</p>
                    <p>株式会社エイトプロジェクト</p>
                    <p>http://localhost:3000/support/inquiry</p>
                </div>
            </div>
            <div class="settlement_wrapp1">
                <div class="settlement_item3">
                    <p>▪️使用することができる施設または場所の範囲</p>
                </div>
                <div class="settlement_item4">
                    <p>Second House（セカンドハウス）のサービス内</p>
                </div>
            </div>
            <div class="settlement_wrapp1">
                <div class="settlement_item3">
                    <p>▪️利用上の注意点</p>
                </div>
                <div class="settlement_item4">
                    <p><a href="/notation/terms">利用規約をご覧ください。</a></p>
                </div>
            </div>
            <div class="settlement_wrapp1">
                <div class="settlement_item3">
                    <p>▪️未使用残高を知ることができる方法</p>
                </div>
                <div class="settlement_item4">
                    <p>Second Houseサイト上の「マイページ」にて残高確認できます。</p>
                </div>
            </div>
            <div class="settlement_wrapp1">
                <div class="settlement_item3 non">
                    <p>▪️規約</p>
                </div>
                <div class="settlement_item4 non">
                    <p>Second House<a href="/notation/terms">利用規約</a>、 <a href="/notation/member_store">加盟店規約をご確認ください。</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----スマホ---->
<div class="settlement" id="settlement">
    <div class="evaluation_head">
        <h1>資金決済法に基づく表記</h1>
    </div>
    <div class="settlement_text" id="settlement_text">
        <div class="settlement_wrapp">
            <div class="settlement_item1" id="settlement_item1">
                <p>▪️商号</p>
            </div>
            <div class="settlement_item2" id="settlement_item2">
                <p>株式会社エイトプロジェクト</p>
            </div>
        </div>
        <div class="settlement_wrapp1" id="settlement_wrapp1">
            <div class="settlement_item3" id="settlement_item3">
                <p>▪️支払可能金額等</p>
            </div>
            <div class="settlement_item4" id="settlement_item4">
                <p>累積保有限度額:50万報酬ポイント</p>
            </div>
        </div>
        <div class="settlement_wrapp1" id="settlement_wrapp1">
            <div class="settlement_item3" id="settlement_item3">
                <p>▪️有効期限</p>
            </div>
            <div class="settlement_item4" id="settlement_item4">
                <p>報酬ポイント:最後に報酬ポイントの発行を受けた日から1年間</p>
            </div>
        </div>
        <div class="settlement_wrapp1">
            <div class="settlement_item3" id="settlement_item3_s">
                <p>▪️使用することができる施設または場所の範囲</p>
            </div>
            <div class="settlement_item4" id="settlement_item4_s">
                <p>Second House（セカンドハウス）のサービス内</p>
            </div>
        </div>
        <div class="settlement_wrapp1" id="settlement_wrapp1_s">
            <div class="settlement_item3" id="settlement_item3_1">
                <p>▪️利用上の注意点</p>
            </div>
            <div class="settlement_item4"  id="settlement_item3_2">
=======

<div class="title">
  <h1>資金決済法に基づく表記</h1>
</div>
<div class="settlement_background">
    <div class="settlement_text">
        <div class="settlement_wrapp">
            <div class="settlement_item1">
                <p>▪️商号</p>
            </div>
            <div class="settlement_item2">
                <p>株式会社エイトプロジェクト</p>
            </div>
        </div>
        <div class="settlement_wrapp1">
            <div class="settlement_item3">
                <p>▪️支払可能金額等</p>
            </div>
            <div class="settlement_item4">
                <p>累積保有限度額:50万報酬ポイント</p>
            </div>
        </div>
        <div class="settlement_wrapp1">
            <div class="settlement_item3">
                <p>▪️有効期限</p>
            </div>
            <div class="settlement_item4">
                <p>報酬ポイント:最後に報酬ポイントの発行を受けた日から1年間</p>
            </div>
        </div>
        <div class="settlement_wrapp1 change">
            <div class="settlement_item3 change">
                <p>▪️利用者からの苦情又は相談に応じる営業所または事務所の所在地及び連絡先</p>
            </div>
            <div class="settlement_item4 change">
                <p>166-0003</p>
                <p>東京都杉並区高円寺南2-54-2ダイナシティ高円寺605号室</p>
                <p>株式会社エイトプロジェクト</p>
                <p>http://localhost:3000/support/inquiry</p>
            </div>
        </div>
        <div class="settlement_wrapp1">
            <div class="settlement_item3">
                <p>▪️使用することができる施設または場所の範囲</p>
            </div>
            <div class="settlement_item4">
                <p>Second House（セカンドハウス）のサービス内</p>
            </div>
        </div>
        <div class="settlement_wrapp1">
            <div class="settlement_item3">
                <p>▪️利用上の注意点</p>
            </div>
            <div class="settlement_item4">
>>>>>>> refs/remotes/origin/master
                <p><a href="/notation/terms">利用規約をご覧ください。</a></p>
            </div>
        </div>
        <div class="settlement_wrapp1">
<<<<<<< HEAD
            <div class="settlement_item3"id="settlement_item3_3">
                <p>▪️未使用残高を知ることができる方法</p>
            </div>
            <div class="settlement_item4"id="settlement_item3_4">
=======
            <div class="settlement_item3">
                <p>▪️未使用残高を知ることができる方法</p>
            </div>
            <div class="settlement_item4">
>>>>>>> refs/remotes/origin/master
                <p>Second Houseサイト上の「マイページ」にて残高確認できます。</p>
            </div>
        </div>
        <div class="settlement_wrapp1">
<<<<<<< HEAD
            <div class="settlement_item3 non" id="settlement_item3_3">
                <p>▪️規約</p>
            </div>
            <div class="settlement_item4 non" id="settlement_item3_4">
=======
            <div class="settlement_item3 non">
                <p>▪️規約</p>
            </div>
            <div class="settlement_item4 non">
>>>>>>> refs/remotes/origin/master
                <p>Second House<a href="/notation/terms">利用規約</a>、 <a href="/notation/member_store">加盟店規約をご確認ください。</a></p>
            </div>
        </div>
    </div>
</div>
