<div class="space">
</div>
<div class="users_temporary">
    <div class="users_head">
      <h2>新規会員登録</h2>

      <div class="maru2 maru_space">
      <span>1</span>
      </div>
      <div class="maru3 maru_space1">
      <span>2</span>
      </div>
      <div class="maru2 maru_space1">
      <span>3</span>
      </div>
    </div>
  <div class="content">
    <h3>仮登録ありがとうございます！</h3>
    <div class="content_icon">
      <i class="far fa-envelope"></i>
      <p class="check">下記メールアドレスに、認証用URLをお送りしました。</p>
    </div>

    <p class="check">メールに記載されている認証用URLをクリックして本登録を行ってください。</p><br><br>

    <div class="content_temporary">
        <div class="content_temporary_add">
          <p>メールアドレス：</p>
        </div>
        <p class="check_email"><strong><%= @user.email %></strong></p>

    </div>

  </div>




</div>
