/*預かり依頼詳細(details)------------------------------*/
.details_h1{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: #3ecdc6;
}

.details_main{
  width: 1000px;
  height: 1000px;
  margin: 20px auto 0;
  display: flex;
  justify-content:center;
}

.details_side{
  width: 250px;
  height: 1000px;
  border: dotted 0.5px;
}

.details_side2{
  width: 750px;
  height: 1000px;
  border: dotted 0.5px;
  border-left: none;
}
.request_dog{
  /*width: 700px;
  text-align: center;
  display: flex;
  justify-content:left;
  margin-left:50px;*/
}

.request_dogs3{
  width: 100%;
}

.users_icon22{
  margin: 20px auto 0;
}

.time{
  text-align: center;
  width: 500px;;
  height:50px;
  margin: 20px auto 0;
}

.time2{
  text-align: center;
  width: 500px;;
  height:50px;
  margin: 20px auto 0;
}

.details_content1{
  width: 750px;
  min-height:600px;
  border: dotted 0.5px;
}

.time p:first-child{
  border-bottom: solid 1px black;
  color: #3ecdc6;
}

.time2 p:first-child{
  border-bottom: solid 1px black;
  color: #3ecdc6;
}

.time p:last-child{
  margin-bottom: 40px;
}

.time2 p:last-child{
  margin-bottom: 40px;
}

.dog_info22{
  border-bottom: solid 1px black;
  text-align: center;
  width: 500px;
  margin: 20px auto 27px;;
  width: 500px;
  color: #3ecdc6;
}

.dog_name_details{
  display: flex;
  justify-content:left;
  margin-left: 20px;
  margin-top: 20px;
}
.dog_name_details00{
  display: flex;
  justify-content:left;
  margin-left: 20px;
  margin-top: 10px;
}

.show_wrapp00{
  width: 100%;
  height: auto;
}

.icon_wrapp00{
  margin-top: 20px;
  margin-left: 20px;
}

.edit_wrapp00{
  height: 71px;
}

.detail_performance00{
  margin-right: 137px;
  background-color: #F0F0F0;
}

.details_info{
  display: flex;
  justify-content:left;
}
.detail_move111{
  margin-right: 5px;
  margin-left: -10px;
}

.show_user_details001{
  display: flex;
  justify-content:left;
  margin-left: 187px;
  margin-top:  10px;
}

.show_user_details001 p{
  font-size: 12px;
}

.show_user_name00{
  margin-left: 30px;
  margin-top: 10px;
  height: 30px;
  border-bottom: dotted 0.5px;
  display: flex;
  justify-content:left;
  width: 436px;

}

.show_user_name00 p{
  font-size: 20px;
}

.show_user_details111 p{
  margin-left: 85px;
  margin-top: 5px;
  font-size: 12px;
}

.show_user_details111{
  display: flex;
  justify-content:left;
  margin-left: 30px;
  margin-top:  5px;
}

.users_icon33{
  width: 118px;
  height: 118px;
  border-radius: 50%;
  border: #fff solid 5px;
}

.dog_icon{
 width: 200px;
 height: 200px;
 border-radius: 50%;
 border: #fff solid 5px;
 background-color: #F0F0F0;
}

.dog_icon:hover{
    opacity: 0.6;
    border: solid 2px #3ecdc6;
    transition: 0.2s;
}

.fa-dog11{
    color:#fff;
}




.request_ok{
  display: flex;
  justify-content:center;
  width: 500px;
  margin: 0 auto 0;
}

.request_ok p{
  width: 300px;
}
.request_ok p:first-child{
  text-align: right;
}
.request_ok p:last-child{
  text-align: center;
}
.space1{
  height: 20px;
}


.comment_ng000{
  width: 700px;
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center;
}


#introduction110{
  width: 700px;
  margin: 0px auto 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
 flex-wrap: wrap;
 align-items: baseline;
}


.box110{
  width: 700px;
  border: dotted 0.5px;
  margin-top: -20px;
  text-align: center;
  padding: 15px;
}

#introduction_mydog000{
  width: 700px;
  border: dotted 0.5px gray;
  margin: 77px auto 27px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.remarks000{
    width: 500px;
    margin: 20px auto 0;
    height: 10px;
    text-align: center;
  }





/*検索表示(search)------------------------------*/

.conditions{
    width:500px;
    margin:0 auto 50px;
    text-align: center;
}
.conditions00{
    width:500px;
    margin: 0px auto 30px;
    text-align: center;
}

.conditions_head{
    background-color:#3ecdc6;
    color: #fff;
}

.conditions:nth-of-type(n+2){
    border: dotted 0.5px;
    border-top:none;
}

.conditions_item{
    display: flex;
    justify-content:left;
    border: dotted 0.5px;
    height: 37px;
}
.conditions_item p{
    line-height: 40px;
}

.conditions_item p:nth-of-type(1){
    width: 100px;
    margin-left: 132px;
}
.conditions_item p:nth-of-type(2){
    width: 220px;
    text-align: left;
}
.btn_search{
    font-size: 14px;
    color: gray;
    text-align: center;
    border: solid 1px;
    border-radius: 5px;
    height: 24px;
    width:39px;
    margin-top: 6px;
    background-color: #f3f3f3;
}

#btn_address{
    line-height: 25px;
    cursor: pointer;
}
#btn_breed{
    line-height: 25px;
}

#btn_day{
    line-height: 25px;
}
//テスト-------------------------
.search_addres{
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;

}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #fff;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}
.fa {
  margin-right: 5px;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

.login-form{
    margin-top: 30px;
}


.btn_search00 {
  color: #3ecdc6;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  width: 170px;
  height: 30px;
  font-size: 15px;
  padding-top: 2px;
  background-color: #fff;
  border: dotted 0.5px gray;
  margin: 0 auto;
  cursor: pointer;
}
.btn_search00::after {
  position: absolute;
  top: 50%;
  right: .2em;
  content: '';
  margin-top: -5px;
  border: 7px solid transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
  transition: all .3s;
}
.btn_search00:hover {
  opacity: 0.6;
}

//ここまでテスト-------------------------


.icon_wrapp00{
}
.no_search{
    width: 800px;
    margin: 50px auto 20px;
    text-align: center;
}

.no_search_head{
    margin-bottom: 74px;
}


.users_icon00{
  width: 168px;
  height: 168px;
  border-radius: 50%;
  border: #fff solid 5px;
}

.icon_img00 {
    width: 162px;
    height: 162px;
    border-radius: 50%;
}

.search_icon{
  width:200px;
  height: 200px;
}

.search_icon p{
  text-align: center;
}

.search_cover{
  //display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 20px auto 0;
  width:1000px;
}

.num0{
  width:1000px;
  display: flex;
  justify-content:space-evenly;
  height:300px;
}

.info_dog p{
  margin-top: 5px;
}

.info_dog p:first-child{
  margin-top: 20px;
}







/*基本情報編集(dog_edit)------------------------------*/
.evaluation_button_dog {
  position: relative;
  display: inline-block;
  color: #3ecdc6;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  width: 190px;
  height: 30px;
  margin-top: 10px;
  font-size: 15px;
  padding-top: 2px;
  background-color: #fff;
  border: dotted 0.5px gray;
}
.evaluation_button_dog::after {
  position: absolute;
  top: 50%;
  right: .2em;
  content: '';
  margin-top: -5px;
  border: 7px solid transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
  transition: all .3s;
}
.evaluation_button_dog:hover {
  opacity: 0.6;
}

.edit_dog{
  margin-left: 10px;
  margin-top: 30px;
}

.edit_dog1{
  margin-top: -1px;
}

.edit_dog1 select{
  width:50px;
  height: 30px;
}
#biret select{
  width: 150px;
  height: 22px;
  font-size: 12px;
  border-radius: 13px;
}

#year00{
  width:100px;
  height: 30px;
}

#year11{
  width:120px;
  height: 30px;
}


.edit_dog2{
  margin-top: -1px;
  width: 830px;
  margin-left: 70px;
}

.edit_user_contents_item6{
  display: flex;
  justify-content:left;
  height: 170px;
  width: 700px;
}

.evaluation_show_dog{
  height: 1330px;
}

.edit_dog0{
  width: 750px;
  height: 1250px;
  border: dotted 0.5px gray;
  margin-left: 30px;
  margin-top: 20px;
}

.notation2{
  margin-bottom: 20px;
  margin-left: 22px;
}

/*新規登録(new)-----------------------------------*/
.birt select{
    width: 50px;
    height: 30px;
    font-size: 16px;
    border-radius: 13px;
}
.birt select:first-child{
  width: 73px;
}

.width_set{
    width: 150px;
}
.birt2 select{
  width: 150px;
  height: 30px;
  font-size: 16px;
  border-radius: 13px;
}

.birt3 select{
  width: 150px;
  height: 22px;
  font-size: 12px;
  border-radius: 13px;
}

.dog_container{
  width: 650px;
  margin: 80px auto 0;
}

#output{
  width: 600px;
  color: red;
  margin: 10px auto 0;
  height: 10px;
}

.age_dog{
    height: 25px;
}




.dog_head {
    border-bottom: dotted 0.5px gray;
}

.dog_item{
  margin-top: 20px;
  display: flex;
  justify-content:left;
}

.dog_name{
  padding-top: 10px;
  color:  #808080;

}

.dog_name1{
  margin-top: 50px;
}

.dog_name5{
  padding-top: 10px;
  color:  #808080;
  width: 90px;

}

.em{
  margin-left: 120px;
  width: 350px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
}




.dog_email p{
  margin-left: 20px;
  margin-right: 50px;
  font-size: 15px;
  color: #808080;
  margin-top: 10px;
}

input[type="email"]:focus {
outline: 0;
border: 2px solid #3ecdc6;
box-shadow: 1px 0 5px 1px #999;
}

input[type="name"]:focus {
outline: 0;
border: 2px solid #3ecdc6;
box-shadow: 1px 0 5px 1px #999;
}
input[type="password"]:focus {
outline: 0;
border: 2px solid #3ecdc6;
box-shadow: 1px 0 5px 1px #999;

}


.example1{
  width: 350px;
  height: 40px;
  border-radius: 8px;
}





.dog_name2{

}

.dog_name3{
  padding-top: 20px;
}

.dog_name3 label{
  font-size: 15px;
  color: #808080;
}



.notation{
  margin-left: 180px;
  font-size: 13px;
}

.notation1{
  color: red;
}

.notation3{
  margin-left: 152px;
  font-size: 13px;
  color: red;
}

.notation33{
  margin-left: 163px;
  font-size: 13px;
  color: red;
}


.birt{
  margin-top: 10px;
  margin-left: 133px;
}

.birt2{
  margin-top: 10px;
  margin-left: 133px;
}

.birt3{
  margin-top: 10px;
  margin-left: 82px;
}

.ch{
  margin-left: 140px;
  padding-top: 10px;
}
.ch2{
  margin-left: 45px;
  padding-top: 10px;
}

.choice1{
  margin-left: 20px;
}

.file{
  margin-left: 45px;
}

.notice{
  margin-top: 50px;
  text-align: center;
  font-size: 15px;
}
.submit{
  text-align: center;
  margin-top: 20px;
}


.submit input#dog_submit{
  background-color: #3ecdc6;
  color: #fff;
  width: 400px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}

.submit input#dog_submit:hover{
  opacity: 0.5;
}



.remove0{
  margin-left: 8px;
}

.remove2{
  margin-left: 25px;
}

.remove3{
  margin-left: 58px;
}

.remove4{
  margin-left: 38px;
}
.remove5{
  margin-left: 73px;
}

.remove6{
  margin-left: 5px;
}

.remove7{
  margin-left: 55px;
}

.remove8{
  margin-left: 20px;
}

.bottom_entry{
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin: 48px auto 50px;
}

.entry_button {
  position: relative;
  display: inline-block;
  color: #000;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  width: 226px;
  height: 30px;
  margin-top: 10px;
  font-size: 15px;
  padding-top: 2px;
  background-color: #fff;
  border: solid 0.5px;
}

.entry_button::after {
  position: absolute;
  top: 50%;
  right: .2em;
  content: '';
  margin-top: -5px;
  border: 7px solid transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
  transition: all .3s;
}
.entry_button:hover {
  background-color: #3ecdc6;
  color: #fff;
  border: none;
  transition: 0.5s;
}

.management_containar{
    margin: 40px auto 0;
    height: auto;
}
#ch_mar{
    margin: 0;
}
#owner_com{
    border: solid 2px;
}

.management_containar h1{
    font-size: 18px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border-bottom: dotted 0.5px;
}

.waiting{
    margin-top: 20px;
    margin-left: 100px;
}

.fa-map-marker-alt{
    color: #3ecdc6;
}

/*預かり依頼管理(management)*/

.management{
    width: 730px;
    margin: 0 auto;
}
.entry_user {
  height: 300px;
  width: 100%;
  color: #000000;
  display: flex;
  justify-content:center;
}

.entry_user_item{
    width:25%;
    margin-top: 20px;
    text-align: center;
}
#entry_pic{
    margin-left: 0px;
}
.entry_name{
    margin-top: 10px;
}

#entry_pic2{
    margin-left: 31px;
}
.space2{
    height: 70px;
}

@keyframes click-wave {
	0% {
		position: relative;
		width: 30px;
		height: 30px;
		opacity: 0.35;
	}
	100% {
		width: 200px;
		height: 200px;
		margin-top: -80px;
		margin-left: -80px;
		opacity: 0;
	}
}
.option-input {
	position: relative;
	position: relative;
	top: 13.33333px;
	right: 0;
	bottom: 0;
	left: 3;
	width: 30px;
	height: 30px;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	color: #ffffff;
	border: none;
	outline: none;
	background: #d7cbcb;
	-webkit-appearance: none;
	        appearance: none;
}
.option-input:hover {
	background: #d6a9a9;
}
.option-input:checked {
	background: #da3c41;
}
.option-input:checked::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '✔';
	text-align: center;
}
.option-input:checked::after {
	position: relative;
	display: block;
	content: '';
	-webkit-animation: click-wave 0.65s;
	        animation: click-wave 0.65s;
	background: #da3c41;
}
.option-input.radio {
	border-radius: 50%;
}
.option-input.radio::after {
	border-radius: 50%;
}
.entry_user_item label {
	line-height: 40px;
	display: block;
}
.option-input:disabled {
	cursor: not-allowed;
	background: #b8b7b7;
}
.option-input:disabled::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '✖︎';
	text-align: center;
}
.entry_user_item .disabled {
	color: #9e9e9e;
}
.button66 {
  color: #000;
  text-align: center;
  transition: all .3s;
  width: 170px;
  height: 30px;
  font-size: 15px;
  background-color: #fff;
  border: solid 0.5px;
}

.button66:hover {
  opacity: 0.6;
}
.mar_center{
    margin: 0 auto;
}
.management p:first-child{
    text-align: center;
    margin-top: -17px;
}
.choice_entry{
  text-align: center;
  margin-top: 20px;
}

.choice_entry input#entry_submit{
  background-color: #3ecdc6;
  color: #fff;
  width: 140px;
  height: 34px;
  font-size: 18px;
  border-radius: 5px;
}

.choice_entry input#entry_submit:hover{
  opacity: 0.5;
}

.status1 h1{
    font-size: 18px;
    text-align: center;
    width: 500px;
    margin: 0 auto;

}

.status1{
    width: 1037px;
    margin: 20px auto 0;
}

.container_cul{
    display: flex;
    justify-content:left;
    margin-top: 30px;
}

.left_cul{
    width: 230px;
    height: 350px;
    border-right: none;
}

.right_cul{
    width: 663px;

}
.rightcul_container{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border: dotted 0.5px;
}



.request_content{
    display: flex;
    justify-content:left;
}
#icon_choi{
    width: 119px;
    height: 119px;
    margin: 13px auto 0;
}
#manage_fin{
    margin-top: 0px;
}
#choiced_user1_pc{
    margin-top: 20px;
}
.choiced_user1{
    text-align: center;
}

#choice_btn{
    margin: 10px auto;
    margin-left: 30px;
}

.request_content p{
    width: 293px;
    height: 70px;
}
.request_content p:nth-child(2){
    line-height: 69px;
}
.request_content p:nth-child(1){
    margin-left: 67px;
}

.btn_manage{
    text-align: center;
}

.container_cul00{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.comment_item{
    border: solid 0.3px;
    width: 452px;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 15px;
    margin-bottom: 47px;
}

.item_re{
    font-size: 16px;
    text-align: center;
}

.right_cul h2{
    margin-bottom: 20px;
}
.ch label{
    cursor: pointer;
}
.dog_name span{
    color: red;
}
.ch2 label{
    cursor: pointer;
}
.date_j{
    display: none;
}
.birt3 label{
    cursor: pointer;
}

#search_dog{
    color: #fff;
    position: absolute;
    top: 12px;
    left: 19px;
    z-index: 13;

}
#search_i{
    position: relative;
    background-color: gray;
}
#change_wra{
    margin-top: 20px;
}
.pay_modal{
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    background-color: #fff;
    border: solid 1px #000;
    z-index: 120;
    position: fixed;
}
.change_hei{
    height: 260px;
}
.pay_modal_wrapp{
    display: none;
    position: fixed;
    background-color: #000;
    opacity: 0.4;
    z-index: 100;
    width: 100%;
    height: 100%;
}
.pay_modal > p:first-child{
    text-align: center;
    border-bottom: dotted 1px;
    width: 627px;
    margin: 59px auto 0px;
}
.pay_method{
    margin: 38px auto 38px;
    text-align: center;
}
.pay_method > a{
    font-size: 15px;
}

.pay_item_wrapp{
    margin: 44px auto 0;
    width: 468px;

}
.pay_item{
    display: flex;
    justify-content: left;
    height: 55px;
}
.pay_item > p:first-child{
    margin-right: 62px;
    text-align: right;
    width: 200px;
}
.pay_btn{
    text-align: center;
}


#payment {
    position: relative;
    display: inline-block;
    color: #fff;        text-align: center;
    text-decoration: none;
    transition: all .3s;
    width: 214px;
    height: 30px;
    margin-top: 10px;
    font-size: 15px;
    padding-top: 2px;
    margin-left: 199px;
    background-color: #3ecdc6;
}
#payment::after {
  position: absolute;
  top: 50%;
  right: .2em;
  content: '';
  margin-top: -5px;
  border: 7px solid transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
  transition: all .3s;
}
#payment:hover {
  opacity: 0.6;
}
.footer_btn{
    margin: 0px auto 0;
    border-top: dotted 1px;
    text-align: center;
    padding-top: 15px;
    width: 600px;
    cursor: pointer;
    display: flex;
    justify-content: left;
}
#footer_btn{
    margin-left: 148px;
    height: 30px;
    margin-top: 10px;
}


#footer_btn_ch{
    margin: 20px auto 0;
    padding-top: 10px;
}
#footer_btn00{
    margin: 10px auto 0;
}
.messeage_choice{
    position: fixed;
    top:150;
    width: 100%;
    height: 30px;
}

.step_userId{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 20px auto 0;
}
.step_head{
    margin: 30px auto 0;
    color: #3ecdc6;
    font-size: 16px;
    text-align: center;
    border-bottom: solid 1px #000;
    width: 300px;
}
.step_userId_item{
    display: flex;
    justify-content: left;
}
#eva_fin{
  position: relative;
  display: inline-block;
  color: #3ecdc6;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  width: 170px;
  height: 30px;
  margin-top: 10px;
  font-size: 15px;
  padding-top: 2px;
  background-color: #fff;
  border: dotted 0.5px gray;
}
#eva_fin :after {
  position: absolute;
  top: 50%;
  right: .2em;
  content: '';
  margin-top: -5px;
  border: 7px solid transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
  transition: all .3s;
}
#manage_com{
    width: 125px;
}
#ch_user_icon{
    margin-top: -26px;
    margin-left: -33px;
}
#dog_seen2{
    margin-left: 100px;
}

#search_icon{
    width: 130px;
    height: 130px;
    margin: 0 auto 0;
    border: none;
}
#search_icon2{
    width: 120px;
    height: 120px;
    margin: 35px auto 0;
    border: none;
}
#search_dog_icon{
        margin-top: 38px;
}
#icon_center{
    margin: 0 auto 0;
}
#icon_center :hover{
    opacity: 0.6;
}
#icon_center2{
    margin-left: 20px;
}
#dog_icon_mydog2{
    margin-left: -13px;
    margin-top: -9px;
}

#users_search{
    width: 130px;
    height: 130px;
}
#search_dog_image{
    margin-top: 0px;
}
#change_ic{
    margin-top: 0px;
}
.edit_dog1 label{
    cursor: pointer;
}
.edit_dog2 label{
    cursor: pointer;
}
