<div class="space">
</div>
<div class="title">
  <h1>評価について</h1>
</div>
<div class="background_safe55">
    <div class="text_safe55">

    <!--------左部分（文章）------------------------->
        <div class="content_safe55">
            <div class="logo">
                <img src="/guide_safe.jpg" alt="">
                <h2>評価について</h2><br>
                <p>SecondHouseでは、ユーザーの皆様に安心してサービスをご利用していただきたいと考えています。SecondHouseを利用する際の参考となるよう、飼い主さんと預かる方、お互いが評価し、その評価内容を表示しています。</p>
            </div>
            <div class="evaluation_nav">
                <p><i class="fas fa-map-marker" id="mark_icon"></i>飼い主さんへの評価</p>
                <div class="evaluation_item">
                    <p><a href="#scroll_1"><i class="fas fa-arrow-circle-down"></i>飼い主さんへの評価について</a></p>
                    <p><a href="#scroll_2"><i class="fas fa-arrow-circle-down"></i>評価の基準について</a></p>
                </div>

                <p><i class="fas fa-map-marker" id="mark_icon"></i>預かる方への評価</p>
                <div class="evaluation_item">
                    <p><a href="#scroll_3"><i class="fas fa-arrow-circle-down"></i>預かった方への評価について</a></p>
                    <p><a href="#scroll_4"><i class="fas fa-arrow-circle-down"></i>評価の基準について</a></p>
                </div>
                <p  id="scroll_1"><a href="#scroll_5"><i class="fas fa-map-marker" id="mark_icon"></i>評価コメントのガイドライン</a></p>
                <p><a href="#scroll_6"><i class="fas fa-map-marker" id="mark_icon"></i>より良い評価の為に</a></p>
            </div>
            <div class="item_title2">
                <h3>出品サービスへの評価</h3>
            </div>
            <h3  id="scroll_2" class="evaluation_title">飼い主さんへの評価について</h3>
            <p>実際に飼い主さんのワンちゃんを預かった方が飼い主さんを評価します。</p>
            <p>評価は5段階で行い、コメントを送ることができます。</p>
            <div class="item_title2">
                <h3>評価の基準について</h3>
            </div>
            <img class="ev_img" src="/evaluation.png" alt="">
            <div class="evaluation_cont">
                <h3 class="evaluation_title">総合評価</h3>
                <p>飼い主さんの対応についての満足度を5段階で評価します。</p>
                <p>サービスページにある総合評価は個別の評価の平均となります。</p>
                <h3 class="evaluation_title">評価基準</h3>
                <p id="scroll_3">飼い主さんの対応、連絡のレスポンスや信頼できるか、コミュニケーション、ワンちゃんの様子などを基準に評価をつけてください。</p>
            </div>
            <div class="item_title2">
                <h3>預かった方への評価</h3>
            </div>
            <h3 class="evaluation_title" id="scroll_4">預かった方への評価について</h3>
            <p>全体評価（5段階）を入力します。コメントを送ることができます。</p>
            <div class="item_title2">
                <h3>評価の基準について</h3>
            </div>
            <img class="ev_img" src="/evaluation2.png" alt="">
            <div class="evaluation_cont">
                <h3 class="evaluation_title">総合評価</h3>
                <p>預かった方の対応についての満足度を5段階で評価します。</p>
                <p>サービスページにある総合評価は個別の評価の平均となります。</p>
                <h3 class="evaluation_title">評価基準</h3>
                <p id="scroll_5">預かった方の対応、連絡のレスポンスや信頼できるか、コミュニケーション、ワンちゃんの様子などを基準に評価をつけてください。</p>
            </div>
            <div class="item_title2">
                <h3>評価コメントのガイドライン</h3>
            </div>
            <div class="cont_item_ev">
                <p>SecondHoseは、全てのユーザーに対して透明性のあるプラットフォームを目指しています。公開された評価コメントに対してSecondHouse側で編集・削除などは原則行いません。ただし、利用規約に反する、または以下のような内容は確認され次第、編集・削除することがあります。</p>
                <p>・サービスと関係ないコメント</p>
                <p>・個人や団体の権利を侵害するコメント（公開していない本名、住所、その他身元が特定できる</p>
                <p class="rulu_item" id="scroll_6">情報を無断で掲載する行為）</p>
                <p>・誹謗中傷を含む内容で運営が問題であると判断したコメント</p>
            </div>

            <div class="item_title2">
                <h3>より良い評価のために</h3>
            </div>
            <div class="cont_item_ev">
                <h3 class="evaluation_title">コミュニティの一員としてお互いを尊重し、思いやりましょう。</h3>
                <p>SecondHouseは誰でも気軽にサービス利用できるプラットフォームです。SecondHouseのワンちゃんを預かる方は誰かの役に立ちたいと思って一生懸命サービスを提供している方たちです。他の利用者の方がより安心して参加できる評価コメントを残しましょう。</p>
                <h3 class="evaluation_title">今後もみなさまのフィードバックを元に改善していきます。</h3>
                <p>現在の評価システムが完成形ではありません。今後、ユーザーの皆様と一緒に、より信頼度のある評価システムを目指していきます。</p>
            </div>

        </div>
    </div>
</div>
