<div class="space">
</div>
<div class="new_menber">

  <!---------Second Houseの禁止行為・マナー-------------->
  <h1>Second Houseの禁止行為・マナー</h1>

  <ul>

    <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration65">
          どういったことがSecond Houseでの「禁止行為」に該当しますか？
          </a>
    </li>
    <li> <i class="fas fa-chevron-right"></i>
          <a href="/support/registration66">
          評価の感想（コメント）が削除されるのはどういった時ですか？
          </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration67">
          強制退会となるケースについて
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration68">
          Second Houseのサイト外でやり取りしても大丈夫ですか？
        </a>
    </li>

  </ul>

</div>
