<div class="space">
</div>
<div class="title">
  <h1>ワンちゃんを預かりたい</h1>
</div>
<div class="background_safe333" id="deposit_hei">
    <div class="text_safe333" id="deposit_hei2">

    <!--------左部分（文章）------------------------->
        <div class="content_safe">
            <div class="logo">
                <img src="/guide_deposit.jpg" alt="">
                <h2>ワンちゃんを預かりたい</h2><br>
                <p>Second Houseは、飼い主さんとワンちゃんを預かりたい人をマッチングするサービスです。</p>
                <p>休日にワンちゃんを預かって素敵な時間を過ごしませんか？</p>
            </div>
            <div class="item_content">
                <ol class="step">
                    <li class="is-current">STEP1:預かり依頼を検索する</li>
                    <li>STEP2</li>
                    <li>STEP3</li>
                </ol>
                <div class="prof_create">
                    <p><i class="fas fa-map-marker-alt"></i>近所の預かり依頼を検索してみましょう</p>
                </div>
                <img class="search_dog_re" src="/search.png" alt="">
                <div class="prof_create">
                    <p><i class="fas fa-map-marker-alt"></i>預かり依頼の詳細確認</p>
                </div>
                <img id="search2" class="img_entrusted" src="/search2.png" alt="">
                <div class="prof_create">
                    <p><i class="fas fa-map-marker-alt"></i>エントリーする</p>
                </div>
                <img id="search3" class="img_entrusted" src="/search3.png" alt="">
            </div>


            <div class="item_content">
                <ol class="step">
                    <li>STEP1</li>
                    <li class="is-current">STEP2:飼い主さんから選ばれる</li>
                    <li>STEP3</li>
                </ol>
                <div class="prof_create">
                    <p><i class="fas fa-map-marker-alt"></i>飼い主さんから選ばれるとお知らせが来ます</p>
                </div>
                <img class="img_entrusted" src="/search4.png" alt="">
                <img class="img_entrusted" src="/search5.png" alt="">
            </div>
            <div class="item_content">
                <ol class="step">
                    <li>STEP1</li>
                    <li>STEP2</li>
                    <li class="is-current">STEP3:当日待ち合わせ〜お見送り</li>
                </ol>
                <div class="prof_create">
                    <p><i class="fas fa-map-marker-alt"></i>待ち合わせ場所でワンちゃんを預かりましょう</p>
                    <p id="search_conts">遅刻に気をつけましょう！万が一遅れる場合はわかった時点で飼い主さんに連絡しましょう！</p>
                    <div class="space"></div>
                    <p><i class="fas fa-map-marker-alt"></i>評価とコメントを書きましょう</p>
                    <img id="sp_search" class="img_entrusted" src="/search6.png" alt="">
                    <img id="sp_search" class="img_entrusted" src="/search7.png" alt="">
                    <img id="sp_search" class="img_entrusted" src="/search8.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
