<div class="space">
</div>
<div class="new_menber">

  <!---------まずはじめに・サービスの検索方法-------------->
<<<<<<< HEAD
    <h1>ワンちゃんの飼い主さん向け</h1>
    <h2>まずはじめに・サービスの検索方法</h2>
    <ul>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration29">
                「リクエスト」という機能について教えてください
            </a>
        </li>
        <li>
             <i class="fas fa-chevron-right"></i>
             <a href="/support/registration30">
                 安心してワンちゃんを預けられますか？
             </a>
         </li>
         <li>
             <i class="fas fa-chevron-right"></i>
             <a href="/support/registration31">
                 匿名でサービスを利用できますか？
             </a>
         </li>
         <li>
             <i class="fas fa-chevron-right"></i>
             <a href="/support/registration32">
                 預かってくれる人の探し方が分かりません
             </a>
         </li>
         <li>
             <i class="fas fa-chevron-right"></i>
             <a href="/support/registration33">
                 ワンちゃんを預かってもらうのは有料ですか？
             </a>
         </li>
         <li>
             <i class="fas fa-chevron-right"></i>
             <a href="/support/registration34">
                 ワンちゃんを預けるまでの流れを教えてください
             </a>
         </li>
         <li>
             <i class="fas fa-chevron-right"></i>
             <a href="/support/registration35">
                 実際のやり取りはどのようになりますか？
             </a>
         </li>
         <li>
             <i class="fas fa-chevron-right"></i>
             <a href="/support/registration36">
                    「フォローする」とは何ですか？
                </a>
        </li>
    </ul>
<!---------お支払い方法-------------->
    <h2>お支払い方法</h2>
    <ul>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration37">
                支払い方法はどのようなものがありますか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration38">
                クレジットカード決済でエラーメッセージが表示されるのはどうしてですか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration39_1">
                海外発行のクレジットカードは利用できますか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration39">
                分割払いは可能ですか？
            </a>
        </li>
    </ul>

<!---------預かってくれる人とのやりとり-------------->
    <h2>預かってくれる人とのやりとり</h2>
    <ul>

        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration40">
                「トークルーム」の一覧はどこから確認できますか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration41">
                預かってくれる人から連絡がない場合はどうしたらいいですか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration42">
                「ダイレクトメッセージ」が送れません
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration43">
                「トークルーム」の使い方が分かりません
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration44">
                「ショートメッセージ」が送れません
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration45">
                預かってくれる人との「やり取り」の回数に上限はありますか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration46">
                トークルームのやり取りでファイルは添付できますか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration47">
                「トークルーム」とは何ですか？
            </a>
        </li>
=======
  <h1>ワンちゃんの飼い主さん向け</h1>
  <h2>まずはじめに・サービスの検索方法</h2>
  <ul>

    <li><i class="fas fa-chevron-right"></i>
      <a href="/support/registration29">
      「リクエスト」という機能について教えてください
      </a>
    </li>
    <li> <i class="fas fa-chevron-right"></i>
      <a href="/support/registration30">
      安心してワンちゃんを預けられますか？
      </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
      <a href="/support/registration31">
      匿名でサービスを利用できますか？
      </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
      <a href="/support/registration32">
      預かってくれる人の探し方が分かりません
      </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
      <a href="/support/registration33">
      ワンちゃんを預かってもらうのは有料ですか？
      </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
      <a href="/support/registration34">
      ワンちゃんを預けるまでの流れを教えてください
      </a>
    </li>
    <li> <i class="fas fa-chevron-right"></i>
      <a href="/support/registration35">
      実際のやり取りはどのようになりますか？
      </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration36">
      「フォローする」とは何ですか？
        </a>
    </li>

  </ul>


<!---------お支払い方法-------------->
  <h2>お支払い方法</h2>
  <ul>

    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration37">
          支払い方法はどのようなものがありますか？
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration38">
          クレジットカード決済でエラーメッセージが表示されるのはどうしてですか？
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration39_1">
          海外発行のクレジットカードは利用できますか？
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration39">
          分割払いは可能ですか？
        </a>
    </li>

  </ul>

  <!---------預かってくれる人とのやりとり-------------->
    <h2>預かってくれる人とのやりとり</h2>
    <ul>

      <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration40">
        「トークルーム」の一覧はどこから確認できますか？
        </a>
      </li>
      <li> <i class="fas fa-chevron-right"></i>
            <a href="/support/registration41">
              預かってくれる人から連絡がない場合はどうしたらいいですか？
            </a>
      </li>
      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration42">
            「ダイレクトメッセージ」が送れません
          </a>
      </li>
      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration43">
            「トークルーム」の使い方が分かりません
          </a>
      </li>
      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration44">
            「ショートメッセージ」が送れません
          </a>
      </li>
      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration45">
            預かってくれる人との「やり取り」の回数に上限はありますか？
          </a>
      </li>
      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration46">
            トークルームのやり取りでファイルは添付できますか？
          </a>
      </li>
      <li><i class="fas fa-chevron-right"></i>
            <a href="/support/registration47">
              「トークルーム」とは何ですか？
            </a>
      </li>

>>>>>>> refs/remotes/origin/master
    </ul>

<!---------サービスのキャンセル・返金-------------->
    <h2>サービスのキャンセル・返金</h2>
    <ul>
<<<<<<< HEAD
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration48">
                支払い後にキャンセルはできますか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration49">
                相手方の都合でキャンセルになった場合は返金されますか？
            </a>
        </li>
=======

      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration48">
            支払い後にキャンセルはできますか？
          </a>
      </li>
      <li> <i class="fas fa-chevron-right"></i>
            <a href="/support/registration49">
              相手方の都合でキャンセルになった場合は返金されますか？
            </a>
      </li>
>>>>>>> refs/remotes/origin/master
    </ul>

<!---------サービスの評価-------------->
    <h2>サービスの評価</h2>
    <ul>

<<<<<<< HEAD
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration50">
                評価の入力にご協力ください
            </a>
        </li>
        <li>
             <i class="fas fa-chevron-right"></i>
             <a href="/support/registration51">
                 サービスの評価の入力方法を教えてください
             </a>
         </li>
         <li>
             <i class="fas fa-chevron-right"></i>
             <a href="/support/registration52">
                 支払い後にキャンセルになった相手方を評価することはできますか？
             </a>
         </li>
         <li>
             <i class="fas fa-chevron-right"></i>
             <a href="/support/registration63">
                 「評価コメント」を削除することはできますか？
             </a>
         </li>
         <li>
             <i class="fas fa-chevron-right"></i>
             <a href="/support/registration64">
                 「評価コメント」に書かれた悪い情報を削除することはできますか？
             </a>
         </li>
     </ul>
</div>
<!---スマホ--->

<div class="new_menber" id="new_menber">
    <div class="evaluation_head">
        <h1>ワンちゃんの飼い主さん向け</h1>
    </div>

  <!---------まずはじめに・サービスの検索方法-------------->
    <div class="conteinar_question">
        <h2>まずはじめに・サービスの検索方法</h2>
        <ul>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration29">
                    「リクエスト」という機能について教えてください
                </a>
            </li>
            <li>
                 <i id="mark_arrow" class="fas fa-chevron-right"></i>
                 <a href="/support/registration30">
                     安心してワンちゃんを預けられますか？
                 </a>
             </li>
             <li>
                 <i id="mark_arrow" class="fas fa-chevron-right"></i>
                 <a href="/support/registration31">
                     匿名でサービスを利用できますか？
                 </a>
             </li>
             <li>
                 <i id="mark_arrow" class="fas fa-chevron-right"></i>
                 <a href="/support/registration32">
                     預かってくれる人の探し方が分かりません
                 </a>
             </li>
             <li>
                 <i id="mark_arrow" class="fas fa-chevron-right"></i>
                 <a href="/support/registration33">
                     ワンちゃんを預かってもらうのは有料ですか？
                 </a>
             </li>
             <li>
                 <i id="mark_arrow" class="fas fa-chevron-right"></i>
                 <a href="/support/registration34">
                     ワンちゃんを預けるまでの流れを教えてください
                 </a>
             </li>
             <li>
                 <i id="mark_arrow" class="fas fa-chevron-right"></i>
                 <a href="/support/registration35">
                     実際のやり取りはどのようになりますか？
                 </a>
             </li>
             <li>
                 <i id="mark_arrow" class="fas fa-chevron-right"></i>
                 <a href="/support/registration36">
                        「フォローする」とは何ですか？
                    </a>
            </li>
        </ul>
    </div>
    <div class="conteinar_question">
    <!---------お支払い方法-------------->
        <h2>お支払い方法</h2>
        <ul>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration37">
                    支払い方法はどのようなものがありますか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration38">
                    クレジットカード決済でエラーメッセージが表示されるのはどうしてですか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration39_1">
                    海外発行のクレジットカードは利用できますか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration39">
                    分割払いは可能ですか？
                </a>
            </li>
        </ul>
    </div>
    <div class="conteinar_question">
    <!---------預かってくれる人とのやりとり-------------->
        <h2>預かってくれる人とのやりとり</h2>
        <ul>

            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration40">
                    「トークルーム」の一覧はどこから確認できますか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration41">
                    預かってくれる人から連絡がない場合はどうしたらいいですか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration42">
                    「ダイレクトメッセージ」が送れません
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration43">
                    「トークルーム」の使い方が分かりません
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration44">
                    「ショートメッセージ」が送れません
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration45">
                    預かってくれる人との「やり取り」の回数に上限はありますか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration46">
                    トークルームのやり取りでファイルは添付できますか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration47">
                    「トークルーム」とは何ですか？
                </a>
            </li>
        </ul>
    </div>
    <div class="conteinar_question">

    <!---------サービスのキャンセル・返金-------------->
        <h2>サービスのキャンセル・返金</h2>
        <ul>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration48">
                    支払い後にキャンセルはできますか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration49">
                    相手方の都合でキャンセルになった場合は返金されますか？
                </a>
            </li>
        </ul>
    </div>
    <div class="conteinar_question">
    <!---------サービスの評価-------------->
        <h2>サービスの評価</h2>
        <ul>

            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration50">
                    評価の入力にご協力ください
                </a>
            </li>
            <li>
                 <i id="mark_arrow" class="fas fa-chevron-right"></i>
                 <a href="/support/registration51">
                     サービスの評価の入力方法を教えてください
                 </a>
             </li>
             <li>
                 <i id="mark_arrow" class="fas fa-chevron-right"></i>
                 <a href="/support/registration52">
                     支払い後にキャンセルになった相手方を評価することはできますか？
                 </a>
             </li>
             <li>
                 <i id="mark_arrow" class="fas fa-chevron-right"></i>
                 <a href="/support/registration63">
                     「評価コメント」を削除することはできますか？
                 </a>
             </li>
             <li>
                 <i id="mark_arrow" class="fas fa-chevron-right"></i>
                 <a href="/support/registration64">
                     「評価コメント」に書かれた悪い情報を削除することはできますか？
                 </a>
             </li>
         </ul>
    </div>
=======
      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration50">
            評価の入力にご協力ください
          </a>
      </li>
      <li> <i class="fas fa-chevron-right"></i>
            <a href="/support/registration51">
              サービスの評価の入力方法を教えてください
            </a>
      </li>
      <li> <i class="fas fa-chevron-right"></i>
            <a href="/support/registration52">
              支払い後にキャンセルになった相手方を評価することはできますか？
            </a>
      </li>
      <li> <i class="fas fa-chevron-right"></i>
            <a href="/support/registration63">
              「評価コメント」を削除することはできますか？
            </a>
      </li>
      <li> <i class="fas fa-chevron-right"></i>
            <a href="/support/registration64">
              「評価コメント」に書かれた悪い情報を削除することはできますか？
          </a>
      </li>

    </ul>


>>>>>>> refs/remotes/origin/master
</div>
