<div class="space">
</div>
<<<<<<< HEAD
<div class="deposit_dog">
    <div class="title">
      <h1>ワンちゃんを預かりたい</h1>
    </div>
    <div class="background_safe333" id="deposit_hei">
        <div class="text_safe333" id="deposit_hei2">

        <!--------左部分（文章）------------------------->
            <div class="content_safe">
                <div class="logo">
                    <img src="/assets/guide_deposit.jpg" alt="">
                    <h2>ワンちゃんを預かりたい</h2><br>
                    <p>Second Houseは、飼い主さんとワンちゃんを預かりたい人をマッチングするサービスです。</p>
                    <p>休日にワンちゃんを預かって素敵な時間を過ごしませんか？</p>
                </div>
                <div class="item_content">
                    <ol class="step">
                        <li class="is-current">STEP1:預かり依頼を検索する</li>
                        <li>STEP2</li>
                        <li>STEP3</li>
                    </ol>
                    <div class="prof_create" id="prof_create">
                        <p><i class="fas fa-map-marker-alt"></i>近所の預かり依頼を検索してみましょう</p>
                    </div>
                    <img class="search_dog_re" src="/assets/search.png" alt="">
                    <div class="prof_create" id="prof_create">
                        <p><i class="fas fa-map-marker-alt"></i>預かり依頼の詳細確認</p>
                    </div>
                    <img id="search2" class="img_entrusted" src="/assets/search2.png" alt="">
                    <div class="prof_create" id="prof_create">
                        <p><i class="fas fa-map-marker-alt"></i>エントリーする</p>
                    </div>
                    <img id="search3" class="img_entrusted" src="/assets/search3.png" alt="">
                </div>


                <div class="item_content">
                    <ol class="step">
                        <li>STEP1</li>
                        <li class="is-current">STEP2:飼い主さんから選ばれる</li>
                        <li>STEP3</li>
                    </ol>
                    <div class="prof_create" id="prof_create">
                        <p><i class="fas fa-map-marker-alt"></i>飼い主さんから選ばれるとお知らせが来ます</p>
                    </div>
                    <img class="img_entrusted" src="/assets/search4.png" alt="">
                    <img class="img_entrusted" src="/assets/search5.png" alt="">
                </div>
                <div class="item_content">
                    <ol class="step">
                        <li>STEP1</li>
                        <li>STEP2</li>
                        <li class="is-current">STEP3:当日待ち合わせ〜お見送り</li>
                    </ol>
                    <div class="prof_create" id="prof_create">
                        <p><i class="fas fa-map-marker-alt"></i>待ち合わせ場所でワンちゃんを預かりましょう</p>
                        <p id="search_conts">遅刻に気をつけましょう！万が一遅れる場合はわかった時点で飼い主さんに連絡しましょう！</p>
                        <div class="space"></div>
                        <p><i class="fas fa-map-marker-alt"></i>評価とコメントを書きましょう</p>
                        <img id="sp_search" class="img_entrusted" src="/assets/search6.png" alt="">
                        <img id="sp_search" class="img_entrusted" src="/assets/search7.png" alt="">
                        <img id="sp_search" class="img_entrusted" src="/assets/search8.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----スマホ--->
<div class="deposit_dog" id="deposit_dog">
    <div class="evaluation_head">
        <h1>ワンちゃんを預かりたい</h1>
    </div>
        <!--------左部分（文章）------------------------->
        <div class="content_safe" id="content_safe_s">
            <div class="logo" id="logo">
                    <img id="img_dog_s" src="/assets/guide_deposit.jpg" alt="">
                    <h2>ワンちゃんを預かりたい</h2>
                    <p>Second Houseは、飼い主さんとワンちゃんを預かりたい人をマッチングするサービスです。</p>
                    <p>休日にワンちゃんを預かって素敵な時間を過ごしませんか？</p>
                </div>
                <div class="item_content" id="item_content">
                    <ol class="step" id="step">
                        <li class="is-current">STEP1:預かり依頼を検索する</li>
                        <li>STEP2</li>
                        <li>STEP3</li>
                    </ol>
                    <div class="prof_create" id="prof_create">
                        <p><i class="fas fa-map-marker-alt" id="allor_s"></i>近所の預かり依頼を検索してみましょう</p>
                    </div>
                    <div class="img_entrusted_cont">
                        <img id="img_entrusted" src="/assets/search.png" alt="">
                    </div>
                    <div class="prof_create" id="prof_create">
                        <p><i class="fas fa-map-marker-alt"></i>預かり依頼の詳細確認</p>
                    </div>
                    <div class="img_entrusted_cont">
                        <img id="img_entrusted" class="img_entrusted" src="/assets/search2.png" alt="">
                    </div>
                    <div class="prof_create" id="prof_create">
                        <p><i class="fas fa-map-marker-alt" id="allor_s"></i>エントリーする</p>
                    </div>
                    <div class="img_entrusted_cont">
                        <img id="img_entrusted" class="img_entrusted" src="/assets/search3.png" alt="">
                    </div>
                </div>


                <div class="item_content" id="item_content">
                    <ol class="step" id="step">
                        <li>STEP1</li>
                        <li class="is-current">STEP2:飼い主さんから選ばれる</li>
                        <li>STEP3</li>
                    </ol>
                    <div class="prof_create" id="prof_create">
                        <p><i class="fas fa-map-marker-alt" id="allor_s"></i>飼い主さんから選ばれるとお知らせが来ます</p>
                    </div>
                    <div class="img_entrusted_cont">
                        <img id="img_entrusted" class="img_entrusted" src="/assets/search4.png" alt="">
                        <img id="img_entrusted" class="img_entrusted" src="/assets/search5.png" alt="">
                    </div>
                </div>
                <div class="item_content" id="item_content">
                    <ol class="step" id="step">
                        <li>STEP1</li>
                        <li>STEP2</li>
                        <li class="is-current">STEP3:当日待ち合わせ〜お見送り</li>
                    </ol>
                    <div class="prof_create" id="prof_create">
                        <p><i class="fas fa-map-marker-alt" id="allor_s"></i>待ち合わせ場所でワンちゃんを預かりましょう</p>
                        <p id="search_conts">遅刻に気をつけましょう！万が一遅れる場合はわかった時点で飼い主さんに連絡しましょう！</p>
                        <p class="please_write"><i class="fas fa-map-marker-alt" id="allor_s"></i>評価とコメントを書きましょう</p>
                        <div class="img_entrusted_cont">
                            <img id="img_entrusted" class="img_entrusted" src="/assets/search6.png" alt="">
                            <img id="img_entrusted" class="img_entrusted" src="/assets/search7.png" alt="">
                            <img id="img_entrusted" class="img_entrusted" src="/assets/search8.png" alt="">
                        </div>
                    </div>
=======
<div class="title">
  <h1>ワンちゃんを預かりたい</h1>
</div>
<div class="background_safe333" id="deposit_hei">
    <div class="text_safe333" id="deposit_hei2">

    <!--------左部分（文章）------------------------->
        <div class="content_safe">
            <div class="logo">
                <img src="/guide_deposit.jpg" alt="">
                <h2>ワンちゃんを預かりたい</h2><br>
                <p>Second Houseは、飼い主さんとワンちゃんを預かりたい人をマッチングするサービスです。</p>
                <p>休日にワンちゃんを預かって素敵な時間を過ごしませんか？</p>
            </div>
            <div class="item_content">
                <ol class="step">
                    <li class="is-current">STEP1:預かり依頼を検索する</li>
                    <li>STEP2</li>
                    <li>STEP3</li>
                </ol>
                <div class="prof_create">
                    <p><i class="fas fa-map-marker-alt"></i>近所の預かり依頼を検索してみましょう</p>
                </div>
                <img class="search_dog_re" src="/search.png" alt="">
                <div class="prof_create">
                    <p><i class="fas fa-map-marker-alt"></i>預かり依頼の詳細確認</p>
                </div>
                <img id="search2" class="img_entrusted" src="/search2.png" alt="">
                <div class="prof_create">
                    <p><i class="fas fa-map-marker-alt"></i>エントリーする</p>
                </div>
                <img id="search3" class="img_entrusted" src="/search3.png" alt="">
            </div>


            <div class="item_content">
                <ol class="step">
                    <li>STEP1</li>
                    <li class="is-current">STEP2:飼い主さんから選ばれる</li>
                    <li>STEP3</li>
                </ol>
                <div class="prof_create">
                    <p><i class="fas fa-map-marker-alt"></i>飼い主さんから選ばれるとお知らせが来ます</p>
                </div>
                <img class="img_entrusted" src="/search4.png" alt="">
                <img class="img_entrusted" src="/search5.png" alt="">
            </div>
            <div class="item_content">
                <ol class="step">
                    <li>STEP1</li>
                    <li>STEP2</li>
                    <li class="is-current">STEP3:当日待ち合わせ〜お見送り</li>
                </ol>
                <div class="prof_create">
                    <p><i class="fas fa-map-marker-alt"></i>待ち合わせ場所でワンちゃんを預かりましょう</p>
                    <p id="search_conts">遅刻に気をつけましょう！万が一遅れる場合はわかった時点で飼い主さんに連絡しましょう！</p>
                    <div class="space"></div>
                    <p><i class="fas fa-map-marker-alt"></i>評価とコメントを書きましょう</p>
                    <img id="sp_search" class="img_entrusted" src="/search6.png" alt="">
                    <img id="sp_search" class="img_entrusted" src="/search7.png" alt="">
                    <img id="sp_search" class="img_entrusted" src="/search8.png" alt="">
>>>>>>> refs/remotes/origin/master
                </div>
            </div>
        </div>
    </div>
</div>
