<div class="space">
</div>

<div class="entrusted_dog">
    <div class="title">
      <h1>ワンちゃんを預けたい</h1>
    </div>
    <div class="background_safe33">
        <div class="text_safe2">

        <!--------左部分（文章）------------------------->
            <div class="content_safe">
                <div class="logo">
                    <img src="/assets/guide_azu.gif" alt="">
                    <h2>ワンちゃんを預けたい</h2><br>
                    <p>Second Houseは、飼い主さんとワンちゃんを預かりたい人をマッチングするサービスです。</p>
                    <p>ご近所で安心してワンちゃんを預けられる人をあなたも探してみませんか？</p>
                </div>
                <div class="item_content">
                    <ol class="step">
                        <li class="is-current">STEP1:預かり依頼作成</li>
                        <li>STEP2</li>
                        <li>STEP3</li>
                    </ol>
                    <div class="prof_create">
                        <p><i class="fas fa-map-marker-alt"></i>ワンちゃんのプロフィールを作成しましょう</p>
                    </div>
                    <img src="/assets/prof1.png" alt="">
                    <div class="prof_create">
                        <p><i class="fas fa-map-marker-alt"></i>預かり依頼の作成</p>
                    </div>
                    <img class="img_entrusted" src="/assets/request.png" alt="">
                    <img class="img_entrusted" src="/assets/content2.png" alt="">
                </div>


                <div class="item_content">
                    <ol class="step">
                        <li>STEP1</li>
                        <li class="is-current">STEP2:預けるユーザー決定</li>
                        <li>STEP3</li>
                    </ol>
                    <div class="prof_create">
                        <p><i class="fas fa-map-marker-alt"></i>預かり依頼の確認</p>
                    </div>
                    <img class="img_entrusted" src="/assets/check.png" alt="">
                    <img class="img_entrusted" src="/assets/bell.png" alt="">
                    <div class="prof_create">
                        <p><i class="fas fa-map-marker-alt"></i>エントリーが来たあと</p>
                    </div>
                    <img class="img_entrusted" src="/assets/request2.png" alt="">
                    <img class="img_entrusted" src="/assets/request3.png" alt="">
                </div>
                <div class="item_content">
                    <ol class="step">
                        <li>STEP1</li>
                        <li>STEP2</li>
                        <li class="is-current">STEP3:当日待ち合わせ</li>
                    </ol>
                    <div class="prof_create">
                        <p><i class="fas fa-map-marker-alt"></i>当日までに詳細の確認をしましょう</p>
                        <img class="img_entrusted" src="/assets/request4.png" alt="">
                        <p><i class="fas fa-map-marker-alt"></i>評価とコメントを書きましょう</p>
                        <img class="img_entrusted" src="/assets/request5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--スマホ--->

<div class="entrusted_dog" id="entrusted_dog">
    <div class="evaluation_head">
        <h1>ワンちゃんを預けたい</h1>
    </div>
    <div class="text_safe2" id="text_safe2">
    <!--------左部分（文章）------------------------->
        <div class="content_safe" id="content_safe">
            <div class="logo" id="logo">
                <img id="img_dog_s" src="/assets/guide_azu.gif" alt="">
                <h2>ワンちゃんを預けたい</h2>
                <p>Second Houseは、飼い主さんとワンちゃんを預かりたい人をマッチングするサービスです。</p>
                <p>ご近所で安心してワンちゃんを預けられる人をあなたも探してみませんか？</p>
            </div>
            <div class="item_content" id="item_content">
                <ol class="step" id="step">
                    <li class="is-current">STEP1:預かり依頼作成</li>
                    <li>STEP2</li>
                    <li>STEP3</li>
                </ol>
                <div class="prof_create" id="prof_create">
                    <p><i class="fas fa-map-marker-alt" id="allor_s"></i>ワンちゃんのプロフィールを作成しましょう</p>
                </div>
                <div class="img_entrusted_cont">
                    <img id="img_entrusted" src="/assets/prof1.png" alt="">
                </div>
                <div class="prof_create" id="prof_create">
                    <p><i class="fas fa-map-marker-alt" id="allor_s"></i>預かり依頼の作成</p>
                </div>
                <div class="img_entrusted_cont">
                    <img id="img_entrusted" class="img_entrusted" src="/assets/request.png" alt="">
                    <img id="img_entrusted" class="img_entrusted" src="/assets/content2.png" alt="">
                </div>
            </div>


            <div class="item_content" id="item_content">
                <ol class="step" id="step">
                    <li>STEP1</li>
                    <li class="is-current">STEP2:預けるユーザー決定</li>
                    <li>STEP3</li>
                </ol>
                <div class="prof_create" id="prof_create">
                    <p><i class="fas fa-map-marker-alt" id="allor_s"></i>預かり依頼の確認</p>
                </div>
                <img id="img_entrusted" class="img_entrusted" src="/assets/check.png" alt="">
                <img id="img_entrusted" class="img_entrusted" src="/assets/bell.png" alt="">
                <div class="prof_create" id="prof_create">
                    <p><i class="fas fa-map-marker-alt" id="allor_s"></i>エントリーが来たあと</p>
                </div>
                <img id="img_entrusted" class="img_entrusted" src="/assets/request2.png" alt="">
                <img id="img_entrusted" class="img_entrusted" src="/assets/request3.png" alt="">
            </div>
            <div class="item_content" id="item_content">
                <ol class="step" id="step">
                    <li>STEP1</li>
                    <li>STEP2</li>
                    <li class="is-current">STEP3:当日待ち合わせ</li>
                </ol>
                <div class="prof_create" id="prof_create">
                    <p><i id="allor_s" class="fas fa-map-marker-alt"></i>当日までに詳細の確認をしましょう</p>
                    <img id="img_entrusted" class="img_entrusted" src="/assets/request4.png" alt="">
                    <p><i id="allor_s" class="fas fa-map-marker-alt"></i>評価とコメントを書きましょう</p>
                    <img id="img_entrusted" class="img_entrusted" src="/assets/request5.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>
