<div class="space">
</div>
<div class="new_menber">

  <!---------まずはじめに・サービスの検索方法-------------->
  <h1>ワンちゃんを預かる人向け</h1>
  <h2>まずはじめに・注意事項</h2>
  <ul>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration57">
          注意事項・トラブルが起きた場合について教えてください
        </a>

    </li>
    <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration53">
            会員登録が未登録の場合でも、ワンちゃんを預かることはできますか？
          </a>

    </li>
    <li> <i class="fas fa-chevron-right"></i>
          <a href="/support/registration54">
            誰でも預かることできますか？
          </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration55">
            ワンちゃんが家のものを壊した場合どうなりますか？
          </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration56">
          ワンちゃんが他人に危害を加えた場合どうなりますか？
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration58">
          リクエスト機能とは何ですか？
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration59">
          副業禁止の規定にはひっかからないのでしょうか？
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration60">
          ワンちゃんを預かるまでの流れを教えてください
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration61">
          飼い主さんに事前に質問できますか？
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration62">
          「フォローする」とは何ですか？
        </a>
    </li>

  </ul>


<!---------お支払い方法-------------->
  <h2>お支払い方法</h2>
  <ul>

    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration37">
          支払い方法はどのようなものがありますか？
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration79">
          クレジットカード決済でエラーメッセージが表示されるのはどうしてですか？
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration39_1">
            海外発行のクレジットカードは利用できますか？
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration39">
          分割払いは可能ですか？
        </a>
    </li>
  </ul>

  <!---------飼い主さんとのやりとり-------------->
    <h2>飼い主さんとのやりとり</h2>
    <ul>

      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration40">
            「トークルーム」の一覧はどこから確認できますか？
          </a>
      </li>
      <li> <i class="fas fa-chevron-right"></i>
          <a href="/support/registration80">
            飼い主さんから連絡がない場合はどうしたらいいですか？
          </a>
      </li>
      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration42">
            「ダイレクトメッセージ」が送れません
          </a>
      </li>
      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration43">
            「トークルーム」の使い方が分かりません
          </a>
      </li>
      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration44">
            「ショートメッセージ」が送れません
          </a>
      </li>
      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration81">
            飼い主さんとの「やり取り」の回数に上限はありますか？
          </a>
       </li>
      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration46">
            トークルームのやり取りでファイルは添付できますか？
          </a>
      </li>
      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration47">
          「トークルーム」とは何ですか？
          </a>
      </li>

    </ul>

<!---------サービスのキャンセル・返金-------------->
    <h2>サービスのキャンセル・返金</h2>
    <ul>

      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration48">
            支払い後にキャンセルはできますか？
          </a>
      </li>
      <li> <i class="fas fa-chevron-right"></i>
          <a href="/support/registration49">
            相手方の都合でキャンセルになった場合は返金されますか？
          </a>
      </li>
    </ul>

<!---------サービスの評価-------------->
    <h2>サービスの評価</h2>
    <ul>

      <li><i class="fas fa-chevron-right"></i>
          <a href="/support/registration50">
            評価の入力にご協力ください
          </a>
      </li>
      <li> <i class="fas fa-chevron-right"></i>
            <a href="/support/registration51">
              サービスの評価の入力方法を教えてください
            </a>
      </li>
      <li> <i class="fas fa-chevron-right"></i>
            <a href="/support/registration52">
              支払い後にキャンセルになった相手方を評価することはできますか？
            </a>
      </li>
      <li> <i class="fas fa-chevron-right"></i>
            <a href="/support/registration63">
              「評価コメント」を削除することはできますか？
            </a>
      </li>
      <li> <i class="fas fa-chevron-right"></i>
            <a href="/support/registration64">
              「評価コメント」に書かれた悪い情報を削除することはできますか？
          </a>
      </li>

    </ul>

    <!---------リクエストの振込-------------->
        <h2>リクエストされた場合の報酬</h2>
        <ul>

          <li><i class="fas fa-chevron-right"></i>
              <a href="/support/registration82">
                  いつ振込されますか？
              </a>
          </li>
          <li> <i class="fas fa-chevron-right"></i>
              <a href="/support/registration83">
                  報酬の振込申請期限はありますか？
              </a>
          </li>
          <li> <i class="fas fa-chevron-right"></i>
                <a href="/support/registration84">
                  報酬の自動振込とはなんですか？
                </a>
          </li>
          <li> <i class="fas fa-chevron-right"></i>
                <a href="/support/registration85">
                  会員情報の氏名と銀行口座の名義が一致せず登録できません
              </a>
          </li>
          <li> <i class="fas fa-chevron-right"></i>
              <a href="/support/registration86">
                報酬の振込口座はどこで登録すればいいですか？
              </a>
          </li>
          <li> <i class="fas fa-chevron-right"></i>
                <a href="/support/registration87">
                  振込日当日になっても、振込先口座に振込まれていません
                </a>
          </li>
          <li> <i class="fas fa-chevron-right"></i>
                <a href="/support/registration88">
                  サービス代金や受け取る報酬の消費税の扱いは？
                </a>
          </li>

        </ul>
<<<<<<< HEAD
</div>
<!----スマホ--->
<div class="new_menber" id="new_menber">
    <div class="evaluation_head">
        <h1>ワンちゃんを預かる人向け</h1>
    </div>
  <!---------まずはじめに・サービスの検索方法-------------->
 <div class="conteinar_question">
      <h2>まずはじめに・注意事項</h2>
      <ul>
        <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration57">
              注意事項・トラブルが起きた場合について教えてください
            </a>

        </li>
        <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
              <a href="/support/registration53">
                会員登録が未登録の場合でも、ワンちゃんを預かることはできますか？
              </a>

        </li>
        <li> <i id="mark_arrow" class="fas fa-chevron-right"></i>
              <a href="/support/registration54">
                誰でも預かることできますか？
              </a>
        </li>
        <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
              <a href="/support/registration55">
                ワンちゃんが家のものを壊した場合どうなりますか？
              </a>
        </li>
        <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration56">
              ワンちゃんが他人に危害を加えた場合どうなりますか？
            </a>
        </li>
        <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration58">
              リクエスト機能とは何ですか？
            </a>
        </li>
        <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration59">
              副業禁止の規定にはひっかからないのでしょうか？
            </a>
        </li>
        <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration60">
              ワンちゃんを預かるまでの流れを教えてください
            </a>
        </li>
        <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration61">
              飼い主さんに事前に質問できますか？
            </a>
        </li>
        <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration62">
              「フォローする」とは何ですか？
            </a>
        </li>

      </ul>
</div>
<div class="conteinar_question">
<!---------お支払い方法-------------->
    <h2>お支払い方法</h2>
    <ul>

        <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration37">
              支払い方法はどのようなものがありますか？
            </a>
        </li>
        <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration79">
              クレジットカード決済でエラーメッセージが表示されるのはどうしてですか？
            </a>
        </li>
        <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration39_1">
                海外発行のクレジットカードは利用できますか？
            </a>
        </li>
        <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration39">
              分割払いは可能ですか？
            </a>
        </li>
    </ul>
</div>
<div class="conteinar_question">

  <!---------飼い主さんとのやりとり-------------->
    <h2>飼い主さんとのやりとり</h2>
    <ul>

      <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
          <a href="/support/registration40">
            「トークルーム」の一覧はどこから確認できますか？
          </a>
      </li>
      <li> <i id="mark_arrow" class="fas fa-chevron-right"></i>
          <a href="/support/registration80">
            飼い主さんから連絡がない場合はどうしたらいいですか？
          </a>
      </li>
      <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
          <a href="/support/registration42">
            「ダイレクトメッセージ」が送れません
          </a>
      </li>
      <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
          <a href="/support/registration43">
            「トークルーム」の使い方が分かりません
          </a>
      </li>
      <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
          <a href="/support/registration44">
            「ショートメッセージ」が送れません
          </a>
      </li>
      <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
          <a href="/support/registration81">
            飼い主さんとの「やり取り」の回数に上限はありますか？
          </a>
       </li>
      <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
          <a href="/support/registration46">
            トークルームのやり取りでファイルは添付できますか？
          </a>
      </li>
      <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
          <a href="/support/registration47">
          「トークルーム」とは何ですか？
          </a>
      </li>

    </ul>
</div>
<div class="conteinar_question">

<!---------サービスのキャンセル・返金-------------->
    <h2>サービスのキャンセル・返金</h2>
    <ul>

      <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
          <a href="/support/registration48">
            支払い後にキャンセルはできますか？
          </a>
      </li>
      <li> <i id="mark_arrow" class="fas fa-chevron-right"></i>
          <a href="/support/registration49">
            相手方の都合でキャンセルになった場合は返金されますか？
          </a>
      </li>
    </ul>
</div>
<div class="conteinar_question">

<!---------サービスの評価-------------->
    <h2>サービスの評価</h2>
    <ul>

      <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
          <a href="/support/registration50">
            評価の入力にご協力ください
          </a>
      </li>
      <li> <i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration51">
              サービスの評価の入力方法を教えてください
            </a>
      </li>
      <li> <i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration52">
              支払い後にキャンセルになった相手方を評価することはできますか？
            </a>
      </li>
      <li> <i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration63">
              「評価コメント」を削除することはできますか？
            </a>
      </li>
      <li> <i id="mark_arrow" class="fas fa-chevron-right"></i>
            <a href="/support/registration64">
              「評価コメント」に書かれた悪い情報を削除することはできますか？
          </a>
      </li>

    </ul>
</div>
<div class="conteinar_question">

    <!---------リクエストの振込-------------->
        <h2>リクエストされた場合の報酬</h2>
        <ul>

          <li><i id="mark_arrow" class="fas fa-chevron-right"></i>
              <a href="/support/registration82">
                  いつ振込されますか？
              </a>
          </li>
          <li> <i id="mark_arrow" class="fas fa-chevron-right"></i>
              <a href="/support/registration83">
                  報酬の振込申請期限はありますか？
              </a>
          </li>
        
          <li> <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration85">
                  会員情報の氏名と銀行口座の名義が一致せず登録できません
              </a>
          </li>
          <li> <i id="mark_arrow" class="fas fa-chevron-right"></i>
              <a href="/support/registration86">
                報酬の振込口座はどこで登録すればいいですか？
              </a>
          </li>
          <li> <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration87">
                  振込日当日になっても、振込先口座に振込まれていません
                </a>
          </li>
          <li> <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration88">
                  サービス代金や受け取る報酬の消費税の扱いは？
                </a>
          </li>

        </ul>
    </div>
=======


>>>>>>> refs/remotes/origin/master
</div>
