<div class="space">
</div>
<div class="title">
  <h1></h1>
</div>
<div class="background_safe00">
    <div class="text_safe00">

    <!--------左部分（文章）------------------------->
        <div class="content_safe">
            <div class="logo">
                <img src="/guide_flow.jpg" alt="">
                <h2>預ける/預かる流れ</h2><br>
                <p>預かり依頼作成からエントリー、メッセージ、実際にワンちゃんを預けるまでの流れを説明します。また預かる方預ける方双方が気持ちよくやりとりしていただけるようにメッセージ文章のテンプレートをご用意しました。</p>
            </div>
            <div class="nav_flow">
                <p><i class="fas fa-arrow-circle-down"></i>預ける/預かる流れ</p>
                <p><i class="fas fa-arrow-circle-down"></i>メッセージ文章テンプレート（飼い主さん用）</p>
                <p><i class="fas fa-arrow-circle-down"></i>メッセージ文章テンプレート（預かる方用）</p>
            </div>
            <div class="item_title2">
                <h3>預ける/預かる流れ</h3>
            </div>
            <div class="flow_rec_wrapp">
                <div class="flow_rec_left">
                    <p><i class="fas fa-user ic_rec fa-2x"></i>ワンちゃんを預けたい人</p>
                    <div class="flow_rec_icon">
                        <div class="rec_icon_head">
                            <p>1.預かり依頼を作成する</p>
                        </div>
                        <div class="rec_icon_content">
                            <p>画面上部のナビゲーションから預かり依頼を作成し公開します。</p>
                            <p><%= link_to("預かり依頼の作成の仕方", "/support/entrusted_dog") %></p>
                        </div>
                    </div>
                    <div class="bell_icon">
                        <p>エントリーがあるとお知らせに通知が来ます。またトークルームが開かれます。</p>
                    </div>
                    <div class="flow_rec_icon" id="icon_mov">
                        <div class="rec_icon_head">
                            <p>2.預けるユーザーを決める</p>
                        </div>
                        <div class="rec_icon_content">
                            <p>マイページの預かり依頼から預けるユーザーを選択します。</p>
                        </div>
                    </div>
                    <div class="flow_rec_icon" id="icon_mov4">
                        <div class="rec_icon_head">
                            <p>3.当日、待ち合わせ</p>
                        </div>
                        <div class="rec_icon_content">
                            <p>当日、ワンちゃんと待ち合わせ場所まで向かいましょう。</p>
                        </div>
                    </div>
                    <div class="flow_rec_icon" id="icon_mov4">
                        <div class="rec_icon_head">
                            <p>4.ワンちゃんお迎え</p>
                        </div>
                        <div class="rec_icon_content">
                            <p>待ち合わせ場所までお迎えに行きましょう。</p>
                        </div>
                    </div>
                    <div class="flow_rec_icon" id="icon_mov4">
                        <div class="rec_icon_head">
                            <p>5.預かり依頼の完了と評価入力</p>
                        </div>
                        <div class="rec_icon_content">
                            <p>預かり依頼詳細から完了と預かってもらった方の評価をしてください。</p>
                        </div>
                    </div>
                    <div class="bell_icon">
                        <p>評価の入力が完了した3日後にトークルームがクローズします。</p>
                    </div>
                </div>
                <div class="flow_rec_center">
                    <div class="flow_rec_center2">

                    </div>
                </div>
                <div class="flow_rec_right">
                    <p><i class="fas fa-user ic_rec2 fa-2x"></i>ワンちゃんを預かりたい人</p>
                    <div class="flow_rec_icon2" id="icon2_mov">
                        <div class="rec_icon_head2">
                            <p>1.預かり依頼を探す</p>
                        </div>
                        <div class="rec_icon_content">
                            <p>検索ボックスから預かり依頼を検索します。</p>
                            <p><%= link_to("預かり依頼検索の仕方", "/support/deposit_dog") %></p>
                        </div>
                    </div>
                    <div class="flow_rec_icon2 icon2_hei" id="icon2_mov">
                        <div class="rec_icon_head2">
                            <p>2.預かり依頼にエントリーする</p>
                        </div>
                        <div class="rec_icon_content">
                            <p>お気に入りのワンちゃんを見つけたら預かり依頼からエントリーします。</p>
                        </div>
                    </div>
                    <div class="flow_rec_icon2 icon2_hei" id="icon2_mov3">
                        <div class="rec_icon_head2">
                            <p>3.お知らせを確認する</p>
                        </div>
                        <div class="rec_icon_content">
                            <p>飼い主さんから選ばれるとお知らせが届きます。当日の待ち合わせのことなど詳細をトークルームで確認しましょう。</p>
                        </div>
                    </div>
                    <div class="flow_rec_icon2 icon2_hei" id="icon2_mov5">
                        <div class="rec_icon_head2">
                            <p>4.当日、待ち合わせ</p>
                        </div>
                        <div class="rec_icon_content">
                            <p>待ち合わせ場所に向かいましょう。</p>
                        </div>
                    </div>
                    <div class="flow_rec_icon2 icon2_hei" id="icon2_mov6">
                        <div class="rec_icon_head2">
                            <p>5.ワンちゃんお見送り</p>
                        </div>
                        <div class="rec_icon_content">
                            <p>ワンちゃんを連れて待ち合わせ場所に向かいましょう。</p>
                        </div>
                    </div>
                    <div class="flow_rec_icon2 icon2_hei" id="icon_mov4">
                        <div class="rec_icon_head2">
                            <p>6.お預かり完了と評価入力</p>
                        </div>
                        <div class="rec_icon_content">
                            <p>エントリー詳細から完了と飼い主さんの評価をしてください。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item_title2">
                <h3>メッセージ文章テンプレート（飼い主さん用）</h3>
            </div>
            <div class="template_deposit">
                <h4>1.エントリーされた時の挨拶</h4><br>
                <p>依頼するかに関わらず、まずはあいさつして、気持ちのよいやりとりをスタートさせましょう。</p>
                <p id="temp">(例)</p>
                <div class="template_deposit_content">
                    <p>この度はエントリーしていただき、ありがとうございます。</p><p>ユーザー選択は○日以内に行いますので、どうぞよろしくお願いいたします。早速ですが、質問させて頂いてもよろしいでしょうか？</p>
                </div>
            </div>
            <div class="template_deposit">
                <h4>2. やりとりが滞った場合</h4><br>
                <p>連絡が滞った場合、まずは状況を確認します。</p>
                <p id="temp">(例)</p>
                <div class="template_deposit_content">
                    <p>○日に送信したメッセージの内容について、その後返信をいただけてないので確認のため連絡させていただきました。どうぞよろしくお願いいたします。</p>
                </div>
            </div>
            <div class="template_deposit">
                <h4>3. 止むを得ずキャンセルをする場合</h4><br>
                <p>トラブル防止のためにも、キャンセル理由に加えてきちんと謝罪の連絡をしましょう。</p>
                <p id="temp">(例)</p>
                <div class="template_deposit_content">
                    <p>大変申し訳ありませんが、予定が代わり預かり依頼のキャンセルをさせていただくことにしました。エントリーしていただいて大変申し訳ないのですが、キャンセルをさせていただきます。また機会がありましたら、どうぞよろしくお願いいたします。</p>
                </div>
            </div>
            <div class="template_deposit">
                <h4>4. お預かり完了後</h4><br>
                <p>預かってもらった感謝と評価をしたことを伝えましょう</p>
                <p id="temp">(例)</p>
                <div class="template_deposit_content">
                    <p>この度は預かってもらってありがとうございました。大変助かりました。評価を入力させていただきましたので宜しければこちらの評価も入力していただければと思います。また機会がありましたらよろしくお願いいたいします。</p>
                </div>
            </div>
            <div class="item_title2">
                <h3>メッセージ文章テンプレート（預かる方用）</h3>
            </div>
            <div class="template_deposit">
                <h4>1.エントリー前に問い合わせをする</h4><br>
                <p>不明な点を事前に確認します。</p>
                <p id="temp">(例)</p>
                <div class="template_deposit_content">
                    <p>預かり依頼を拝見しましたエントリーしたいと考えているのですが、私は猫を飼っていまして自宅に猫がいるのですが、預かることは可能でしょうか？</p>
                </div>
            </div>
            <div class="template_deposit">
                <h4>2. 飼い主さんに選ばれた際</h4><br>
                <p>気持ちのいいやり取りを心がけます。また選んでもらった感謝の気持ちを伝えましょう。</p>
                <p id="temp">(例)</p>
                <div class="template_deposit_content">
                    <p>この度はエントリーを選んでいただきありがとうございます。ワンちゃんに万が一のことがないように慎重に預からせていただきます。当日の待ち合わせについてですが○○駅のロータリーの○○の前でいかがでしょうか？</p>
                </div>
            </div>
            <div class="template_deposit">
                <h4>3. やりとりが滞った場合</h4><br>
                <p>連絡が滞った場合、まずは状況を確認します。</p>
                <p id="temp">(例)</p>
                <div class="template_deposit_content">
                    <p>○日に送信したメッセージの内容について、その後返信をいただけてないので確認のため連絡させていただきました。どうぞよろしくお願いいたします。</p>
                </div>
            </div>
            <div class="template_deposit">
                <h4>4. 止むを得ずキャンセルをする場合</h4><br>
                <p>トラブル防止のためにも、キャンセル理由に加えてきちんと謝罪の連絡をしましょう。</p>
                <p id="temp">(例)</p>
                <div class="template_deposit_content">
                    <p>大変申し訳ありませんが、予定が代わりエントリーしていた預かり依頼を受けることができなくなりました。選んでいただいて大変申し訳ないのですが、また機会がありましたら、どうぞよろしくお願いいたします。</p>
                </div>
            </div>
            <div class="template_deposit">
                <h4>5. お預かり完了後</h4><br>
                <p>飼い主さんにワンちゃんの様子などを伝えましょう</p>
                <p id="temp">(例)</p>
                <div class="template_deposit_content">
                    <p>お利口さんにしていてとても偉かったですよ。預かり依頼の完了と評価を入力させていただきましたので宜しければこちらの評価も入力していただければと思います。また機会がありましたらよろしくお願いいたします。</p>
                </div>
            </div>


        </div>
    </div>
</div>
