<div class="space">
</div>
<div class="support">
  <h1>よくある質問</h1>

  <div class="support_item">
    <div class="support_button_line">

      <div class="support_button">
        <a class="button" href="/support/registration_question">会員登録・情報変更</a>
      </div>
      <div class="support_button">
        <a class="button" href="/support/deposit">ワンちゃんの飼い主さん向け</a>
      </div>
      <div class="support_button">
        <a class="button" href="/support/entrusted">ワンちゃんを預かる人向け</a>
      </div>

    </div>

    <div class="support_button_line">

        <div class="support_button">
          <a class="button" href="/support/ban">Scond Houseの禁止行為・マナー</a>
        </div>
        <div class="support_button">
          <a class="button" href="/support/system">サポート・制度</a>
        </div>
        <div class="support_button">
          <a class="button" href="/support/other">その他Scond House全般について</a>
        </div>
    </div>
  </div>
</div>

  <!ピックアップ記事---------------->
  <div class="pick_up">
    <h1 class="pick">ピックアップ記事</h1>

      <div class="pick_warrap">
        <div class="pick_item">
          <a href="/support/registration7"><p>Second　HouseのWEBサイトへログインできなくなりました</p></a>
        </div>
        <div class="pick_item">
          <a href="/support/registration25"><p>Second　Houseで利用しているユーザー名は変更できますか？</p></a>
        </div>
        <div class="pick_item">
          <a href="/support/registration26"><p>クレジットカード登録情報の変更方法</p></a>
        </div>
      </div>
<!2行目---------------->
      <div class="pick_warrap">
        <div class="pick_item">
          <a href="/support/registration73"><p>どんな犬でもサービスを利用できますか？</p></a>
        </div>
        <div class="pick_item">
          <a href="/support/registration29"><p>「リクエスト」という機能について教えてください</p></a>
        </div>
        <div class="pick_item">
          <a href="/support/registration37"><p>支払い方法はどのようなものがありますか？</p></a>
        </div>
      </div>
<!3行目---------------->
      <div class="pick_warrap">
        <div class="pick_item">
          <a href="/support/registration51"><p>サービスの評価の入力方法を教えてください</p></a>
        </div>
        <div class="pick_item">
          <a href="/support/registration48"><p>支払い後にキャンセルはできますか？</p></a>
        </div>
        <div class="pick_item">
          <a href="/support/registration49"><p>相手方の都合でキャンセルになった場合は返金されますか？</p></a>
        </div>
      </div>
<!4行目---------------->
      <div class="pick_warrap">
        <div class="pick_item">
          <a href="/support/registration67"><p>強制退会となるケースについて</p></a>
        </div>
        <div class="pick_item">
          <a href="/support/registration65"><p>どういったことがSecond Houseの禁止行為に当たりますか？</p></a>
        </div>
        <div class="pick_item">
          <a href="/support/registration68"><p>Second Houseのサイト外でやり取りしても大丈夫ですか？</p></a>
        </div>
      </div>

  </div>
