<div class="space">
</div>
<div class="new_menber">

  <!---------その他Scond House全般について-------------->
  <h1>その他Scond House全般について</h1>

  <ul>

    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration74">
          Scond Houseとは何ですか？
        </a>
    </li>
    <li> <i class="fas fa-chevron-right"></i>
          <a href="/support/registration75">
            Scond Houseで何をすることができますか？
          </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration76">
          個人情報などのセキュリティ対策は大丈夫ですか？
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration78">
          携帯電話、スマートフォンからアクセスできますか？
        </a>
    </li>



  </ul>

</div>
