<div class="space"></div>

<div class="passward_re">
    <h1>パスワードを再設定する</h1>
    <div class="passward_re_item">
        <p>SecondHouseに登録したメールアドレスを入力してください</p>
        <%= email_field :page, :email %>
    </div>
</div>
