<div class="space"></div>

<div class="passward_re">
    <h1>パスワードを再設定する</h1>
    <div class="passward_re_item">
        <p>SecondHouseに登録したメールアドレスを入力してください</p>
        <form class="" action="/support/pass_set" method="post">
            <% if @user %>
                <%= email_field :page, :email, :value => "#{@user.email}" %>
            <% else %>
                <%= email_field :page, :email %>
            <% end %>

            <p><a href="#">携帯電話番号で再設定したい場合はこちら</a></p>
            <div class="submit">
                <input name="email" id="pass_re" type="submit" value="続ける">
            </div>
        </form>
    </div>
</div>
