<div class="space">
</div>

<div class="recruitment">
    <div class="company_left">
        <div class="company_logo">
            <p class="com_item1">RECRUITMENT</p>
            <p class="com_item2"><i class="fas fa-building fa-2x"></i></p>
            <p class="com_item3">採用情報</p>
        </div>
    </div>
    <div class="company_right">
        <div class="right_item1">
            <div class="right_item11">
                <p>職種</p>
                <p>WEBデザイナー/プログラマー</p>
            </div>
            <div class="right_item11">
                <p>あると歓迎するスキル</p>
                <p>HTML/CSS/JavaScript/JQuery</p>
                <p>Ruby/Rails/Swift/Java</p>
            </div>
            <div class="right_item11">
                <p>給与</p>
                <p>年収500万以上</p>

            </div>
            <div class="right_item11">
                <p>試用期間</p>
                <p>3ヶ月</p>
            </div>

        </div>
        <div class="right_item2">
            <div class="right_item22">
                <p>休日</p>
                <p>完全週休2日制（土日 ※1）、国民の祝日、年末年始（12月29日から1月4日まで）</p>
            </div>
            <div class="right_item22">
                <p>勤務時間</p>
                <p>9:00〜18:00</p>
            </div>
        </div>
    </div>
</div>
<!------スマホ----->
<div class="recruitment" id="recruitment">
    <div class="company_left" id="company_left">
        <div class="company_logo_s">
            <p class="com_item1">RECRUITMENT</p>
            <p class="com_item2"><i class="fas fa-building fa-2x"></i></p>
            <p class="com_item3">採用情報</p>
        </div>
    </div>
    <div class="company_right" id="company_right">
        <div class="right_item1" id="right_item1">
            <div class="right_item11" id="right_item11">
                <p>職種</p>
                <p>WEBデザイナー/プログラマー</p>
            </div>
            <div class="right_item11" id="right_item11">
                <p>あると歓迎するスキル</p>
                <p>HTML/CSS/JavaScript/JQuery</p>
                <p>Ruby/Rails/Swift/Java</p>
            </div>
            <div class="right_item11" id="right_item11">
                <p>給与</p>
                <p>年収500万以上</p>

            </div>
            <div class="right_item11" id="right_item11">
                <p>試用期間</p>
                <p>3ヶ月</p>
            </div>
            <div class="right_item11" id="right_item11">
                <p>休日</p>
                <p>完全週休2日制（土日 ※1）、国民の祝日、年末年始（12月29日から1月4日まで）</p>
            </div>
            <div class="right_item11" id="right_item11">
                <p>勤務時間</p>
                <p>9:00〜18:00</p>
            </div>
        </div>
    </div>
</div>
