<div class="space">

</div>

<div class="sentence">
  <h2>相手方と連絡が取れなくなってしまいました。</h2>

    <div class="sentence1">
      <p>万が一ワンちゃんを預けたまま連絡が取れなくなった場合、警察に被害届を提出して頂き、運営は当局からの情報開示請求に速やかに応じ、全面的に捜査に協力いたします。</p>
    </div>
</div>
