<div class="space">

</div>

<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>Second Houseからの通知メールをドメイン指定で受信したい</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>メール受信設定にて、下記のドメインをご指定くださいますようお願いいたします。</p><br><br>
          <p>「secondhouse.tokyo」</p><br><br>
        <p>パスワードの<a href="/support/re_password">再発行手続きはこちらから</a></p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
