<div class="space">

</div>

<div class="sentence">
  <h2>「リクエスト」という機能について教えてください</h2>

    <div class="sentence1">
      <h2>飼い主さん</h2><br><br>
      <p>一度預かってもらって相性が良かった方にもう一度預かってもらえないか</p>
      <p>お願いすることです。相手の方次第なので確実に預かってもらえるかはわかりませんが、同じ人にお願いした方がワンちゃんも安心すると思いますんでぜひご利用ください。</p>
      <p>なお、リクエストして預かってもらう場合は1泊2000円（税別）になります。</p><br><br>
      <h2>預かる方</h2><br><br>
      <p>一度預かったワンちゃんをもう一度預からせてもらえないかお願いすることです。</p>
      <p>飼い主さん次第なので確実ではないですが、可能かどうか確認してみましょう。</p>
      <p>なお、リクエストして預かる場合は1泊2000円（税別）になります。</p>
    </div>
</div>
