<div class="space">

</div>

<div class="sentence">
  <h2>ワンちゃんを預けるまでの流れを教えてください</h2>

    <div class="sentence1">
      <h2>Step1 会員登録をする</h2>
      <p>会員登録はこちらから</p><br><br><br>
      <h2>Step2 ワンちゃんのプロフィールを作成する</h2>
      <p>ワンちゃんのプロフィール編集はこちらから</p><br><br><br>
      <h2>Step3 預かってもらう日程を作成する</h2>
      <p>日程作成はこちらから</p><br><br><br>
      <h2>Step4 メッセージが来た中から預かってもらう人を決める</h2>
      <p>トークルームはこちら</p><br><br><br>
      <h2>Step5 決済をする</h2>
      <p>決済方法登録はこちら</p><br><br><br>
      <h2>Step6 当日ワンちゃんのお渡し</h2>
      <p>事前にメッセージで決めた待ち合わせ場所でワンちゃんをお渡ししましょう</p><br><br><br>
      <h2>Step7 ワンちゃんお向かい</h2>
      <p>指定の時間にワンちゃんをお向かいに行きましょう</p><br><br><br>
      <h2>Step8 預かってくれた方の評価</h2>
      <p>預かってくれた方の評価をして依頼を完了させましょう</p>






    </div>
</div>
