<div class="space">

</div>

<div class="sentence">
  <h2>本人確認申請に必要な書類は何ですか？</h2>

    <div class="sentence1">
      <p>下記のうち、どれか一つをご提出いただきます。</p>
      <p class="color">氏名、生年月日、現住所が確認できる写しが必要です。</p>
      <p class="color">Second Houseでは、”マイナンバーカード”での本人確認申請はお受けできません。</p>
      <p class="color">また、すべて、国内で発行のものに限らせていただいております。</p><br><br>
      <p>運転免許証</p>
      <p>健康保険証</p>
      <p>パスポート</p>
      <p>住民票（※1）</p>
      <p>住民基本台帳</p>
      <p>在留カード（外国人登録証明書）</p>
      <p>国民年金手帳</p>
      <p>共済組合員証</p>
      <p>身体障がい者手帳</p>
      <p>運転経歴証明書</p><br><br><br>
      <p>※1: マイナンバー法（番号法）に基づき、個人番号（マイナンバー）の記載された住民票は、本人確認書類としてご利用いただけません。住民票を本人確認書類として利用される場合は、個人番号（マイナンバー）が記載されないよう申請時にご留意ください。</p>















    </div>
</div>
