<div class="space">

</div>

<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>サービス代金や受け取る報酬の消費税の扱いは？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>当サイトでのお取引には消費税がかかります。また価格は全て税抜価格を表記しております。</p>
        <p>※ サービス代金・リクエスト・有料オプション含む。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
