<div class="space">

</div>

<div class="sentence">
  <h2>リクエスト機能とは何ですか？</h2>

    <div class="sentence1">
      <p>・飼い主さんからリクエストされる場合</p><br>
      <p>一度預かったワンちゃんの飼い主さんから預かってもらえないかお願いされることです。リクエストされた場合はもちろん料金はかかりません。また飼い主さんがSecond Houseに1泊2000円お支払い頂きますので手数料の20%を控除した1600円をワンちゃんを預かった報酬としてSecond Houseからお振込いたします。</p><br><br>

      <p>・報酬の受け取りについて</p><br>
      <p>報酬は月末締めの翌月末払いです。振込手数料はお客様負担とさせて頂きます。</p><br><br>

        <p>・お客様からリクエストされる場合</p><br>
        <p>ワンちゃんを預かるお客様から飼い主さんにリクエストされる場合は1泊2000円お支払い頂きます。飼い主さんの承諾が必要ですのでメッセージでご相談をお願いいたします。</p>



    </div>
</div>
