<div class="space">

</div>

<div class="sentence">
  <h2>安心してワンちゃんを預けられますか？</h2>

    <div class="sentence1">
      <p>預かる方はお金を出してもワンちゃんと過ごしたいと思っているワンちゃん好きな方なので大切にしてくれます。</p>
      <p>ただ飼育のプロではないので飼い主さんの方で積極的にワンちゃんとの接し方やして欲しいこと、して欲しくないことを伝えましょう。</p>
      <p>実際に預かってもらう前にメッセージで不安点は確認してください。それでももし不安ということであれば相手方次第ですが預かってもらう前にワンちゃんも交えて実際に１度会って話してみるというのも可能ですのでご検討ください。</p>
      
    </div>
</div>
