<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>Facebookで登録したのですが、通常のログイン画面からメールアドレスを入力してログインすることはできますか?</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>Facebook で登録されたアカウントにおいて、メールアドレスおよびパスワードを入力してログインするには、パスワードの再発行手続きを行う必要があります。</p><br>
        <p>パスワード再発行手続き完了後、Facebookに登録したEメールアドレスと新しいパスワードでログインすることができます。</p>
        <p>パスワードの<a href="/support/re_password">再発行手続きはこちらから</a></p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>Facebookで登録したのですが、通常のログイン画面からメールアドレスを入力してログインすることはできますか?</h2>

    <div class="sentence1">
      <p>Facebook で登録されたアカウントにおいて、メールアドレスおよびパスワードを入力してログインするには、パスワードの再発行手続きを行う必要があります。</p><br>
      <p>パスワード再発行手続き完了後、Facebookに登録したEメールアドレスと新しいパスワードでログインすることができます。</p>
      <p>パスワードの再発行手続きはこちらから</p>
      <p>解決しない場合はこちらからお問い合わせください</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
