<div class="space">

</div>

<div class="sentence">
  <h2>会員情報とはなんですか？</h2>

    <div class="sentence1">
      <p>Second Houseをご利用するには「会員情報」の登録が必要となります。</p>
      <p>また安心してご利用いただくために飼い主さん、預かる方、共に本人確認をさせていただいております。</p>
      <p>飼い主さんは自身の情報とワンちゃんの情報をプロフィールに記載してください。</p>
      <p>個人情報に関しては他のユーザーには公開されません。</p>
      <p>預かる方はご自身の情報を登録してください。</p><br><br>

      <p>【よくあるご質問】</p><br>
      <p>Q1:　支払いするクレジットカードの名義は家族の名義でも大丈夫ですか？</p>
      <p>A:　恐れ入りますが、トラブル回避のためご自身の名義のクレジットカードをご利用ください。</p><br><br>

      <p>Q2:　リクエストされてワンちゃんを預かった時の報酬は家族名義の講座にできますか？</p>
      <p>A:　申し訳ございませんが不要のトラブル回避のためご本人名義の銀行口座をご用意ください。</p><br><br>
    </div>
</div>
