<div class="space">

</div>

<div class="sentence">
  <h2>登録後にメールアドレスの変更はできますか？</h2>

    <div class="sentence1">
      <p>メールアドレスの変更はこちらから可能です。</p><br>
      <p>メールアドレスの変更の手順</p><br>
      <p>1.マイページで新しいメールアドレスを上書き入力</p>
      <p>2.ページ下部の変更ボタンをクリック</p>
      <p>3.新しいメールアドレスにココナラからメールが届きます</p>
      <p>4.メール内のURLをクリックしログインされると、メールアドレスの変更が完了します。
      ※ログインが必要な場合は、変更前のメールアドレスのご入力をお願いいたします。
      変更完了後は新メールアドレスでログインいただけます。</p><br>
      <p>  解決しない場合はこちらからお問い合わせください</p>

    </div>
</div>
