<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>報酬の振込口座はどこで登録すればいいですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <h4>振込口座情報登録について</h4>

        <p>振込口座情報の登録・確認・変更は、出品者メニューの「売上管理・振込申請」から行うことができます。</p>
        <p><a href="/support/bank">●振込口座情報の確認・変更はこちら</a></p><br><br>
        <h4>口座名義の登録に関するご注意事項</h4><br>
        <p>  必ず通帳に記載されている名義の通り全角カナ入力を行ってください。</p><br>
        <p>※その他登録情報では、「銀行コード」「支店コード」「口座情報（種類/番号/全角カナ名義）」の登録情報は必ず、通帳・キャッシュカード・契約銀行での登録名義をご確認いただいた上で、正確な口座情報のご登録をお願いいたします。
        口座名義が一文字でも異なっている場合、振込実行時に金融機関側でエラーとなり、指定の口座へお振込することができません。</p><br>
        <p>※口座名義の相違がある場合、振込依頼申請が取り消され、振込口座名義を修正いただいた後、改めて報酬振込申請を行っていただく必要がございますのでご注意ください。</p>
        <p>※氏名の｢ヲ｣という文字については、金融機関でご登録いただけないカタカナとなります。</p>
        <p>SecondHouseの登録においても、通帳などの記載と同じく、氏名は「オ」にてご登録くださいますようお願いいたします。</p><br><br>
        <h4>振込口座情報登録ぺージより入力可能な文字・記号について</h4>
        <p>●入力できる文字は下記となります。</p><br>
        <p>・全角カナ</p>
        <p>・全角アルファベット</p>
        <p>・全角スペース </p><br>

        <p>●入力できる記号は下記のみ入力可能となります。</p>
        <p>・「，（カンマ）」</p>
        <p>・「．（ピリオド）」</p>
        <p>・「（（開き括弧）」</p>
        <p>・「）（閉じ括弧）」</p>
        <p>・「ー（ハイフン）」</p>
        <p>・「/（スラッシュ）」</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
=======
<div class="sentence">
  <h2>報酬の振込口座はどこで登録すればいいですか？</h2>

    <div class="sentence1">
      <h4>振込口座情報登録について</h4>

      <p>振込口座情報の登録・確認・変更は、出品者メニューの「売上管理・振込申請」から行うことができます。</p>
      <p>・振込口座情報の登録・確認・変更はこちら</p><br><br>
      <h4>口座名義の登録に関するご注意事項</h4><br>
      <p>  必ず通帳に記載されている名義の通り全角カナ入力を行ってください。</p><br>
      <p>※その他登録情報では、「銀行コード」「支店コード」「口座情報（種類/番号/全角カナ名義）」の登録情報は必ず、通帳・キャッシュカード・契約銀行での登録名義をご確認いただいた上で、正確な口座情報のご登録をお願いいたします。
      口座名義が一文字でも異なっている場合、振込実行時に金融機関側でエラーとなり、指定の口座へお振込することができません。</p><br>
      <p>※口座名義の相違がある場合、振込依頼申請が取り消され、振込口座名義を修正いただいた後、改めて報酬振込申請を行っていただく必要がございますのでご注意ください。</p>
      <p>※氏名の｢ヲ｣という文字については、金融機関でご登録いただけないカタカナとなります。</p>
      <p>SecondHouseの登録においても、通帳などの記載と同じく、氏名は「オ」にてご登録くださいますようお願いいたします。</p><br><br>
      <h4>振込口座情報登録ぺージより入力可能な文字・記号について</h4>
      <p>●入力できる文字は下記となります。</p><br>
      <p>・全角カナ</p>
      <p>・全角アルファベット</p>
      <p>・全角スペース </p><br>

      <p>●入力できる記号は下記のみ入力可能となります。</p>
      <p>・「，（カンマ）」</p>
      <p>・「．（ピリオド）」</p>
      <p>・「（（開き括弧）」</p>
      <p>・「）（閉じ括弧）」</p>
      <p>・「ー（ハイフン）」</p>
      <p>・「/（スラッシュ）」</p>
    </div>

>>>>>>> refs/remotes/origin/master
</div>
