<div class="space">

</div>

<div class="sentence">
  <h2>なぜ500円なのですか？</h2>

    <div class="sentence1">
      <p>オンラインで気軽に決済しやすい価格であり、また利用者さんが増えることがSecond Houseの利用価値をあげることにもなると考え、安価な金額を設定させていただいています。</p>
    </div>
</div>
