<div class="space">

</div>

<div class="sentence">
  <h2>「ダイレクトメッセージ」が送れません</h2>

    <div class="sentence1">
      <p>文字数制限を超えている可能性があります。</p>
      <p>一度の「ダイレクトメッセージ」で送信可能な文字数は1,000文字までのため、文字数をご確認ください。</p>
      <p>解決しない場合はこちらからお問い合わせください</p>
    </div>
</div>
