<div class="space">

</div>

<div class="sentence">
  <h2>ワンちゃんが他人に危害を加えた場合どうなりますか？</h2>

    <div class="sentence1">
      <p>Second Houseでは一切責任は負い兼ねますので予めご了承ください。</p>
      <p>また飼い主さんへの賠償請求権もないものとします。</p>
    </div>
</div>
