<div class="space">

</div>


<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>クレジットカード決済でエラーメッセージが表示されるのはどうしてですか?</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>ご利用のクレジットカードに関して、以下の点をご確認ください。</p><br>
        <p>①日本国内で発行された「VISA」「MasterCard」「JCB」「AMERICAN EXPRESS」のカードである</p><br>

        <p>②クレジット番号が正しいこと</p><br>

        <p>③セキュリティコードが正しいこと（カード裏面の3桁,もしくは4桁の数字）</p><br>

        <p>④有効期限が切れていないこと</p><br>

        <p>⑤利用限度額を超えていないこと</p><br>

        <p class="color">※海外発行のクレジットカードはご利用いただけませんのでご注意ください</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
