<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>預かってくれた人の家のものを壊した場合はどうなりますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>ワンちゃんが物を壊したり、預かってくれた人、第三者に被害を与えた場合、預かっている人の責任になります。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>預かってくれた人の家のものを壊した場合はどうなりますか？</h2>

    <div class="sentence1">
      <p>ワンちゃんが物を壊したり、預かってくれた人、第三者に被害を与えた場合、預かっている人の責任になります。</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
