<div class="space">

</div>

<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>「本人確認」とは何ですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>本人確認書類を運営に提出し、承認されると、プロフィールページに「本人確認：済」と表示されます。これにより、Second houseでマッチングサービスを利用できるようになります。</p><br><br>
        <p>本人確認の手順方法</p><br><br>
        <p>１．マイページの「アカウント設定」 → 「会員情報を変更する」</p>
        <p>氏名、住所、生年月日、性別の項目をご入力の上、「変更する」を押して保存</p>
        <p>※登録情報の変更がございます場合は、こちら から変更をお願いします。</p><br><br>
        <p>２．本人確認申請ページ</p>
        <p>記載されている必要書類のうち、いずれかの画像を添付して申請</p>
        <p>本人確認申請の詳細はこちらから</p><br><br>
        <p class="color">
        ※申請後、5営業日以内に運営で確認の上、承認などのご案内をさせていただきます。</p>
        <p class="color">※申請書類を添付いただく際、パスポートや健康保険証、運転免許証の裏面など、現住所が別に記載されている場合は、そのページの画像も添付いただく必要がございますのでご注意ください。</p><br><br>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
