<div class="space">

</div>

<div class="sentence">
  <h2>「トークルーム」とは何ですか？</h2>

    <div class="sentence1">
      <p>預かってもらう人からメッセーシが来ると2人のみに見える非公開のページです。ここで、メッセージを交換したり、添付ファイルのやり取りができます。</p>
    </div>
</div>
