<div class="space">

</div>

<div class="sentence">
  <h2>トークルームのやり取りでファイルは添付できますか？</h2>

    <div class="sentence1">
      <p>画像ファイルのみ添付が可能です。</p>
      <p>添付できるファイル形式はpeg,png,gif,bmpです。</p>
      <p>  ※トークルームに添付したファイルが受け渡し時に変化がある（画像の色相環が変わるなど）場合は、ファイルを圧縮（zip）していただき、圧縮ファイルでの受け渡しをお試しください。</p><br><br>
      <p>＜容量について＞</p><br>
      <p>一度のメッセージにつき、添付できる容量は合計で100MBで最大3つまでファイルを添付できます。</p>
      <p>容量の上限を超えてしまう場合は、データを1つづつ送信されるか、Zipファイル形式にして圧縮することをお試しください。</p><br><br>
      <p>＜位置情報について＞</p><br>
      <p>スマートフォンやタブレットなどのモバイル端末で撮影された画像をアップロードされる際、端末の位置情報サービスの機能によって、撮影時の位置情報がアップロードされた画像に記録されるケースがあります。</p>
      <p>ご希望になられない方は、端末の設定状況などをご確認の上、ファイル添付機能をご利用いただきますようお願いいたします。</p><br>
      <p>解決しない場合はこちらからお問い合わせください</p>

    </div>
</div>
