<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>Scond Houseで何をすることができますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>Second Houseでは飼い主さんが安心してワンちゃんを</p><p>預けることができる場所を見つけることができます。</p><br>
        <p>またワンちゃんを飼いたいけど飼えない方にワンちゃんと触れ合う機会を提供いたします。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>Scond Houseで何をすることができますか？</h2>

    <div class="sentence1">
      <p>Second Houseでは飼い主さんが安心してワンちゃんを</p><p>預けることができる場所を見つけることができます。</p><br>
      <p>またワンちゃんを飼いたいけど飼えない方にワンちゃんと触れ合う機会を提供いたします。</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
