<div class="space">

</div>

<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>「ショートメッセージ」が送れません</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>文字数制限を超えている可能性があります。</p>
        <p>一度の「ショートメッセージ」で送信可能な文字数は3,000文字までのため、文字数をご確認ください。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
