<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>報酬の自動振込とはなんですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>申請期限までに報酬の振込申請がなかった場合、期限が経過した該当報酬のみを登録いただいた銀行口座に、自動的に振込申請を行います。</p><br>
        <p class="sentence1_color">報酬の振込申請では、【マイページのアカウント設定の「会員情報」で入力いただく、氏名（フリガナ）などの情報と「振込先口座」の名義が一致していること】が必要となり、一致していない場合は、報酬の振込申請を行うことができません。</p><br><br>
        <p>振込が正常に行えるよう正確な口座情報のご登録をお願いいたします。</p><br>
        <p>●会員情報の登録・変更はこちら＞ </p>
        <p>●振込口座情報の確認・変更はこちら＞</p>
        <p>●報酬管理・振込依頼はこちら＞</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>報酬の自動振込とはなんですか？</h2>

    <div class="sentence1">
      <p>申請期限までに報酬の振込申請がなかった場合、期限が経過した該当報酬のみを登録いただいた銀行口座に、自動的に振込申請を行います。</p><br>
      <p class="sentence1_color">報酬の振込申請では、【マイページのアカウント設定の「会員情報」で入力いただく、氏名（フリガナ）などの情報と「振込先口座」の名義が一致していること】が必要となり、一致していない場合は、報酬の振込申請を行うことができません。</p><br><br>
      <p>振込が正常に行えるよう正確な口座情報のご登録をお願いいたします。</p><br>
      <p>●会員情報の登録・変更はこちら＞ </p>
      <p>●振込口座情報の確認・変更はこちら＞</p>
      <p>●報酬管理・振込依頼はこちら＞</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
