<div class="space">
</div>

<div class="new_menber">
  <!---------会員登録・情報変更-------------->
    <h1>会員登録・情報変更</h1>
    <h2>新規会員登録</h2>
    <ul>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration">
                会員登録は無料ですか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
             <a href="/support/registration1">
             登録した生年月日やメールアドレスは公開されますか？
             </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration2">
                登録確認メールが届きません
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration3">
                Second Houseへマイナンバーの提示は必要ですか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration4">
                新規登録の時に ***@facebook.com のアドレスを使用できますか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration5">
                未成年者でもサービスを利用できますか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration6">
                未成年者の会員登録はどのように行えばよいですか
            </a>
        </li>
    </ul>
<!---------ログイン・パスワード------------->
    <h2 class="menber_item">ログイン・パスワード</h2>
    <ul>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration7">
              Second HouseのWEBサイトへログインができなくなりました
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
                <a href="/support/registration8">
                    パスワードを忘れてログインできません
                </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration12">
                パスワードの再発行はどのようにすればいいですか？
            </a>
            </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration9">
                Yahoo!ID・Facebookで会員登録したのですが、パスワードがわからずメールアドレスを変更できません
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration10">
                Facebookで登録したのですが、Facebook連携をやめることはできますか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration11">
                Facebookで登録したのですが、通常のログイン画面からメールアドレスを入力してログインすることはできますか?
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration13">
                スマートフォンの機種変更をしても引き続きやりとりできますか？
            </a>
        </li>
    </ul>
<!---------マイページの各種機能------------->
    <h2 class="menber_item">マイページの各種機能</h2>

    <ul>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration14">
                秘密保持契約（NDA）とは何ですか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration15">
                会員情報とはなんですか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration16">
                「マイページ」とは何ですか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration17">
                「本人確認」とは何ですか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration18">
                本人確認申請に必要な書類は何ですか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration19">
                電話番号を認証する方法を教えてください
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration20">
                プロフィール画像やサービス画像、カバー画像がうまく表示されません
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration21">
                通知機能の詳細について
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration22">
                トークルームでメッセージを受信した時に通知メールが届きません
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration23">
                Second Houseからの通知メールをドメイン指定で受信したい
            </a>
        </li>

        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration24">
                特定のユーザーをブロックできますか？
            </a>
        </li>
    </ul>

<!---------会員情報の変更・退会------------->
    <h2 class="menber_item">会員情報の変更・退会</h2>

    <ul>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration25">
                Second Houseで利用しているユーザー名（名前）は変更できますか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration26">
                クレジットカード登録情報の変更方法
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration27">
                決済情報は変更できますか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration27_1">
                登録後にメールアドレスの変更はできますか？
            </a>
        </li>
        <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/support/registration28">
                退会するにはどうすればいいですか？
            </a>
        </li>
    </ul>
</div>
<!---スマホ--->
<div class="new_menber" id="new_menber">
    <div class="evaluation_head">
        <h1>会員登録・情報変更</h1>
    </div>
    <div class="conteinar_question">
        <h2>新規会員登録</h2>
        <ul>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration">
                    会員登録は無料ですか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                 <a href="/support/registration1">
                 登録した生年月日やメールアドレスは公開されますか？
                 </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration2">
                    登録確認メールが届きません
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration3">
                    Second Houseへマイナンバーの提示は必要ですか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration4">
                    新規登録の時に ***@facebook.com のアドレスを使用できますか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration5">
                    未成年者でもサービスを利用できますか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration6">
                    未成年者の会員登録はどのように行えばよいですか
                </a>
            </li>
        </ul>
    </div>
<!---------ログイン・パスワード------------->
    <div class="conteinar_question">
        <h2 class="menber_item">ログイン・パスワード</h2>
        <ul>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration7">
                  Second HouseのWEBサイトへログインができなくなりました
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                    <a href="/support/registration8">
                        パスワードを忘れてログインできません
                    </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration12">
                    パスワードの再発行はどのようにすればいいですか？
                </a>
                </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration9">
                    Yahoo!ID・Facebookで会員登録したのですが、パスワードがわからずメールアドレスを変更できません
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration10">
                    Facebookで登録したのですが、Facebook連携をやめることはできますか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration11">
                    Facebookで登録したのですが、通常のログイン画面からメールアドレスを入力してログインすることはできますか?
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration13">
                    スマートフォンの機種変更をしても引き続きやりとりできますか？
                </a>
            </li>
        </ul>
    </div>
<!---------マイページの各種機能------------->
    <div class="conteinar_question">
        <h2 class="menber_item">マイページの各種機能</h2>
        <ul>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration14">
                    秘密保持契約（NDA）とは何ですか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration15">
                    会員情報とはなんですか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration16">
                    「マイページ」とは何ですか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration17">
                    「本人確認」とは何ですか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration18">
                    本人確認申請に必要な書類は何ですか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration19">
                    電話番号を認証する方法を教えてください
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration20">
                    プロフィール画像やサービス画像、カバー画像がうまく表示されません
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration21">
                    通知機能の詳細について
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration22">
                    トークルームでメッセージを受信した時に通知メールが届きません
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration23">
                    Second Houseからの通知メールをドメイン指定で受信したい
                </a>
            </li>

            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration24">
                    特定のユーザーをブロックできますか？
                </a>
            </li>
        </ul>
    </div>

<!---------会員情報の変更・退会------------->
    <div class="conteinar_question">
        <h2 class="menber_item">会員情報の変更・退会</h2>

        <ul>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration25">
                    Second Houseで利用しているユーザー名（名前）は変更できますか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration26">
                    クレジットカード登録情報の変更方法
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration27">
                    決済情報は変更できますか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration27_1">
                    登録後にメールアドレスの変更はできますか？
                </a>
            </li>
            <li>
                <i id="mark_arrow" class="fas fa-chevron-right"></i>
                <a href="/support/registration28">
                    退会するにはどうすればいいですか？
                </a>
            </li>
        </ul>
    </div>
</div>
