<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>強制退会となるケースについて</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>下記に該当する場合は機能制限、強制退会などの措置を取らせていただきます。</p><br>
        <p>その際に依頼中、ワンちゃんの預かり予定は全てキャンセルとする場合があり、再入会が発覚した場合も予告なしに退会措置をする場合があります。</p><br>
        <p>違法性がある</p>
        <p>なりすまし、転売行為、個人情報漏えいなど第三者が実害を受けている迷惑行為</p><br>
        <p>その他、重大な規約違反と運営が判断した場合</p><br>
        <p>実害が発生していて故意によるものと断定された場合は損害賠償請求を行います。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>強制退会となるケースについて</h2>

    <div class="sentence1">
      <p>下記に該当する場合は機能制限、強制退会などの措置を取らせていただきます。</p><br>
      <p>その際に依頼中、ワンちゃんの預かり予定は全てキャンセルとする場合があり、再入会が発覚した場合も予告なしに退会措置をする場合があります。</p><br>
      <p>違法性がある</p>
      <p>なりすまし、転売行為、個人情報漏えいなど第三者が実害を受けている迷惑行為</p><br>
      <p>その他、重大な規約違反と運営が判断した場合</p><br>
      <p>実害が発生していて故意によるものと断定された場合は損害賠償請求を行います。</p>

>>>>>>> refs/remotes/origin/master
    </div>
</div>
