<div class="space">

</div>
<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>「フォローする」とは何ですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>一度預かってもらってワンちゃんと相性が良かった人を一覧で簡単に見返すことができる便利な機能です。</p>
        <p>預かってくれる方をフォローすると、マイページから預かってもらえる日程が確認できたり、リクエストを送ることができます。</p>
        <p>▼プロフィールページの「フォローする」よりご利用いただけます</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======

<div class="sentence">
  <h2>「フォローする」とは何ですか？</h2>

    <div class="sentence1">
      <p>一度預かってもらってワンちゃんと相性が良かった人を一覧で簡単に見返すことができる便利な機能です。</p>
      <p>預かってくれる方をフォローすると、マイページから預かってもらえる日程が確認できたり、リクエストを送ることができます。</p>
      <p>▼プロフィールページの「フォローする」よりご利用いただけます</p>
      
>>>>>>> refs/remotes/origin/master
    </div>
</div>
