<div class="space">

</div>

<div class="sentence">
  <h2>「トークルーム」の一覧はどこから確認できますか？</h2>

    <div class="sentence1">
      <p>トークルームは、マイページメニュー内の「トークルーム」から確認いただけます。</p>
      <p>『トークルーム』はこちら</p>
    </div>
</div>
