<div class="space">

</div>

<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>評価の感想（コメント）が削除されるのはどういった時ですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>飼い主さんと預かる方の双方が安心してSecond Houseをご利用いただくため、Second Houseでは第三者が閲覧できるサービスの評価の感想（コメント）について、運営にて削除を行うことがあります。</p><br><br>

        <p>なお、飼い主さんと預かる方の双方に対し平等なプラットフォームを提供するため、評価の感想（コメント）の削除については慎重に運営にて判断し実施しております。</p><br>

        <p>下記以外のケースにおいては、評価の感想（コメント）の削除は原則として行なっておりませんので、何卒ご容赦くださいますようお願いいたします。</p><br><br>

        <p>＜運営で評価コメントを削除する例＞</p><br>
        <p>氏名・住所・メールアドレスなど、個人情報が含まれている場合</p>
        <p>相手方に対する明らかな誹謗中傷・暴言が含まれている場合</p>
        <br><br>
        <p>なお、運営側でも日々監視しておりますが、違反内容を発見されましたら、マイページにございます「規約違反」の報告リンクよりご連絡いただければ、速やかに運営にて確認をさせていただきます。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
