<div class="space">

</div>

<div class="sentence">
  <h2>飼い主さんとの「やり取り」の回数に上限はありますか？</h2>

    <div class="sentence1">
      <p>  上限はありませんが、飼い主さんから「評価」が届いた時点で原則終了となります。</p>
      <p>ただし、「評価」が届いてからも、その後３日間は追加の質問等が可能です。</p>
      <p>解決しない場合はこちらからお問い合わせください</p>
    </div>
</div>
