<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>会員登録が未登録の場合でも、ワンちゃんを預かることはできますか?</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>初めてSecond Houseでワンちゃんを預かる方は会員情報登録をされることでご利用いただけます。</p>
        <p class="color">「会員情報の登録」後よりSecond House運営で承認後 </p>
        <p>サービスをご利用いただけます。</p>
        <p><a href="/users/index">●会員情報の登録はこちら</a></p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>会員登録が未登録の場合でも、ワンちゃんを預かることはできますか？</h2>

    <div class="sentence1">
      <p>初めてSecond Houseでワンちゃんを預かる方は会員情報登録をされることでご利用いただけます。</p>
      <p class="color">「会員情報の登録」後よりSecond House運営で承認後 </p>
      <p>サービスをご利用いただけます。</p>
      <p>●会員情報の登録はこちら＞</p>


>>>>>>> refs/remotes/origin/master
    </div>
</div>
