<div class="space">

</div>

<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>評価の入力にご協力ください</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>預かった方がトークルームで「完了」を送信すると「評価」を入力することができます。評価コメントは任意となりますが、評価は他のユーザーが参考にする大切なものとなりますので、「感想・どんな人におすすめか」など、ぜひ入力のご協力をお願いいたします。</p><br>

        <p>なお、評価を入力する際は、表示される注意事項を必ず読んでからご入力ください。</p><br><br>
        <p>【評価入力の注意事項】 </p>
        <p>あなたが入力した評価は、他のユーザーが参考にする大切なものとなります。お礼、お願いした理由、感想、どんな人にお勧めかなどをご記入ください。 読む人の立場に立ち、慎重かつ丁寧に評価を入力していただきますようお願いします。 </p><br><br>
        <p>【相手方へ】</p>
        <p>評価の入力は任意のため、評価がつかない場合もあります。 相手方に評価を必ず入力するように強要することや、評価内容を指示、または意図的に誘導することは禁止事項となります。</p><br><br>
        <p>【入力後の評価の削除について】</p>
        <p>サービスの公平性維持のため、個人情報やトークルームの具体的なやり取りを記載するなどのガイドラインに違反している場合を除き、双方が、評価及び評価コメントは削除・編集はできません。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
