<div class="space">

</div>
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>新規登録の時に ***@facebook.com のアドレスを使用できますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
      <p>***@facebook.comのメールアドレスは使用可能です。仮登録すると、Second Houseからのメールが Facebook メッセージの「その他」フォルダに送信されますのでご確認ください。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
