

<div class="space">

</div>
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>登録した生年月日やメールアドレスは公開されますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
      <p>ご登録いただいた生年月日やメールアドレスは、他の会員には公開はされません。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
