<div class="space">

</div>
<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>退会するにはどうすればいいですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>退会はこちらよりお願いいたします。</p><br>
        <h2>Second Houseを退会する条件</h2><br>
        <p>ワンちゃんを預かる方</p>
        <p>・お見送りまで全て完了している</p>
        <p>・振込依頼中の報酬がない（報酬の振込依頼を行なっている場合は、振込が完了してから退会手続きを行なってください）
        </p><br><br>

        <p>ワンちゃんの飼い主さん</p>
        <p>・預かってもらう予定が全て完了している</p><br>

        <h2>Second Houseを退会するにあたって</h2><br>

        <p>・退会手続き完了後、全てのサービスがご利用できなくなります</p>
        <p>・預かる・預ける予定者が残っている場合、キャンセルになります</p>
        <p>・退会手続き後はアカウントを元に戻すことはできません</p><br>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======

<div class="sentence">
  <h2>退会するにはどうすればいいですか？</h2>

    <div class="sentence1">
      <p>退会はこちらよりお願いいたします。</p><br><br>
      <h2>Second Houseを退会する条件</h2><br><br>
      <p>ワンちゃんを預かる方</p>
      <p>・お見送りまで全て完了している</p>
      <p>・振込依頼中の報酬がない（報酬の振込依頼を行なっている場合は、振込が完了してから退会手続きを行なってください）
      </p><br><br>

      <p>ワンちゃんの飼い主さん</p>
      <p>・預かってもらう予定が全て完了している</p><br><br>

      <h2>Second Houseを退会するにあたって</h2><br><br>

      <p>・退会手続き完了後、全てのサービスがご利用できなくなります</p>
      <p>・預かる・預ける予定者が残っている場合、キャンセルになります</p>
      <p>・退会手続き後はアカウントを元に戻すことはできません</p><br><br><br>
      <p>解決しない場合はこちらからお問い合わせください</p>









>>>>>>> refs/remotes/origin/master
    </div>
</div>
