<div class="space">

</div>

<div class="sentence">
  <h2>Scond Houseで何をすることができますか？</h2>

    <div class="sentence1">
      <p>Second Houseでは飼い主さんが安心してワンちゃんを</p><p>預けることができる場所を見つけることができます。</p><br>
      <p>またワンちゃんを飼いたいけど飼えない方にワンちゃんと触れ合う機会を提供いたします。</p>
    </div>
</div>
