<div class="space">

</div>

<div class="sentence">
  <h2>預かってくれた人の家のものを壊した場合はどうなりますか？</h2>

    <div class="sentence1">
      <p>ワンちゃんが物を壊したり、預かってくれた人、第三者に被害を与えた場合、預かっている人の責任になります。</p>
    </div>
</div>
