<div class="space">

</div>
<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>匿名でサービスを利用できますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>匿名（ニックネーム）、実名のどちらでもでサービスを利用できます。</p><br>
        <p>ただ万が一のトラブル防止のためSecond Houseには本人確認書類をご提示いただいています。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======

<div class="sentence">
  <h2>匿名でサービスを利用できますか？</h2>

    <div class="sentence1">
      <p>匿名（ニックネーム）、実名のどちらでもでサービスを利用できます。</p><br>
      <p>ただ万が一のトラブル防止のためSecond Houseには本人確認書類をご提示いただいています。</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
