<div class="space">

</div>

<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>支払い後にキャンセルになった相手方を評価することはできますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
      <p>キャンセルになった場合でも評価することができます。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
