<div class="space">

</div>

<div class="sentence">
  <h2>「フォローする」とは何ですか？</h2>

    <div class="sentence1">
      <p>一度預かってもらってワンちゃんと相性が良かった人を一覧で簡単に見返すことができる便利な機能です。</p>
      <p>預かってくれる方をフォローすると、マイページから預かってもらえる日程が確認できたり、リクエストを送ることができます。</p>
      <p>▼プロフィールページの「フォローする」よりご利用いただけます</p>
      
    </div>
</div>
