<div class="space">

</div>
<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>通知機能の詳細について</h1>
    </div>
    <div class="sentence1" id="sentence1">
      <p>会員登録は無料です。ワンちゃんを預かってもらう・預かるには会員登録が必要です。登録はこちら</p>
=======

<div class="sentence">
  <h2>通知機能の詳細について</h2>

    <div class="sentence1">
>>>>>>> refs/remotes/origin/master
      <p>Second Houseでのお知らせ通知機能では「お知らせ」と「トーク」のアイコンから通知内容が確認できます。</p><br><br>
      <p>＜お知らせ通知について＞</p><br>
      <p>「お知らせ」通知のアイコンをクリックすると、「あなた宛」「ダイレクトメッセージ」「ニュース」が分類され通知メッセージを切り替えて表示することができます。</p><br>
      <p>＜お知らせ通知での受信メッセージの詳細について＞</p><br>
      <p>・「あなた宛」・・・あなた宛への大事なメッセージが通知されます</p>
      <p>・「ダイレクトメッセージ」・・・個別でのダイレクトメッセージが通知されます</p>
      <p>・「ニュース」・・・Second House運営からのお知らせメッセージが通知されます</p><br><br>
      <p>＜トークについて＞</p><br>
      <p>「トーク」通知のアイコンをクリックすると、他ユーザーからのお預かり・お預けに関する内容が通知され表示することができます。</p>
<<<<<<< HEAD
=======
      <p>解決しない場合はこちらからお問い合わせください</p>

>>>>>>> refs/remotes/origin/master
    </div>
</div>
