<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>「トークルーム」とは何ですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
     <p>預かってもらう人からメッセーシが来ると2人のみに見える非公開のページです。ここで、メッセージを交換したり、添付ファイルのやり取りができます。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>「トークルーム」とは何ですか？</h2>

    <div class="sentence1">
      <p>預かってもらう人からメッセーシが来ると2人のみに見える非公開のページです。ここで、メッセージを交換したり、添付ファイルのやり取りができます。</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
