<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>分割払いは可能ですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>分割払いでの支払いには対応していません。</p>
        <p>依頼がキャンセルになった場合には返金しますので、ご安心ください。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>分割払いは可能ですか？</h2>

    <div class="sentence1">
      <p>分割払いでの支払いには対応していません。</p>
      <p>依頼がキャンセルになった場合には返金しますので、ご安心ください。</p>

      <p>解決しない場合はこちらからお問い合わせください</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
