<div class="space">

</div>

<div class="sentence">
  <h2>ワンちゃんを預かってもらうのは有料ですか？</h2>

    <div class="sentence1">
      <p>Second Houseでは24時間一律で500円（税抜き）で預かってもらうことが可能です。</p>
      <p>24時間以内の場合でも一律500円ですのでご了承ください。</p>
    </div>
</div>
