<div class="space">

</div>

<div class="sentence">
  <h2>サービス代金や受け取る報酬の消費税の扱いは？</h2>

    <div class="sentence1">
      <p>当サイトでのお取引には消費税がかかります。また価格は全て税抜価格を表記しております。</p>
      <p>※ サービス代金・リクエスト・有料オプション含む。</p>
      
    </div>
</div>
