<div class="space">

</div>

<div class="sentence">
  <h2>Second Houseで利用しているユーザー名（名前）は変更できますか？</h2>

    <div class="sentence1">
      <p>ユーザー名の変更は、こちらからご変更いただけます。</p><br>
      <p>また、ユーザー名の変更は各プロフィールページのアイコンからも行うことができます。同じ名前を他の方が先に登録されている場合は、その名前に変更することができません。</p>
    </div>
</div>
