<div class="space">

</div>

<div class="sentence">
  <h2>未成年者の会員登録はどのように行えばよいですか</h2>

    <div class="sentence1">
      <p>新規会員登録時に、未成年での生年月日入力が行われた場合は、親権者の同意を得た上で会員登録を行っていただく必要がございます。</p>
      <p>※未成年者の会員登録は、「親権者の同意を得た」チェックボックスへの入力が行われませんと会員登録いただけません。</p>
    </div>
</div>
