<div class="space">

</div>
<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>ワンちゃんを預かってもらうのは有料ですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>Second Houseでは1時間一律で100円（税抜き）で預かってもらうことが可能です。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======

<div class="sentence">
  <h2>ワンちゃんを預かってもらうのは有料ですか？</h2>

    <div class="sentence1">
      <p>Second Houseでは24時間一律で500円（税抜き）で預かってもらうことが可能です。</p>
      <p>24時間以内の場合でも一律500円ですのでご了承ください。</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
