<div class="space">

</div>

<div class="sentence">
  <h2>注意事項・トラブル関係について教えてください</h2>

    <div class="sentence1">
      <p>所有権について</p><br>
      <p>所有権の確認事項です。</p>
      <p>わんちゃんの所有権は飼い主さんに属する事をご理解の上会員登録をして下さい。</p><br><br><br>

      <p>注意事項について</p><br><br>
      <p>１.お散歩の際は必ずリードをして下さい。</p>
      <p>　ノーリードでのお散歩は、条例法律違反ですのでお守り下さい。</p><br>

      <p>2.わんちゃんのフンを公園などのゴミ箱に捨てることは、</p>
      <p>　マナー違反ですので必ずエチケットバッグなどで持ち帰って処理して下さい。</p><br>

      <p>3.他のわんちゃんとの接触は、トラブル防止と感染症予防も含めて避けて下さい</p>
      <p>　トラブルにおいての賠償金などの責任は一切負いかねます。</p><br>

      <p>4.わんちゃんが、お客様に対して損害を与えた場合(糞・おしっこなどの被害　物品破壊)の損害金などの</p>
      <p>　責任は一切負いかねますので、わんちゃんの管理・飼育をしっかりお願いします。</p><br>

      <p>5.食事・おやつは、飼い主さんから受け取った物以外与えないでください。</p>
      <p>　食べさせてはいけない生命にかかわる食べ物として　鳥の骨　魚の骨・これらは腸内に刺さります</p>
      <p>　ので危険です。ネギ類を食べると急性貧血症を起こします。また、消化不良で下痢が長く続く</p>
      <p>　イカ、タコ、エビ、椎茸、筍などは中毒症状を起こし、チョコレートなどを</p>
      <p>　大量に食べると命に係わるため危険です。</p>
      <p>　ワンちゃんの健康の為にも、飼い主さんから受け取ったエサ以外は与えないでください。</p><br>

      <p>6.わんちゃんのまた貸しなど禁止しています。</p>
      <p>　預かる期間は責任を持ってご自身で飼育をお願いいたします。</p><br><br><br>

      <p>トラブル時の責任の所在について</p><br><br>
      <p>1.ワンちゃんが物を壊した、お客様、第三者に危害を加えた場合</p>
      <p>→預かっているお客様が賠償などの責任を負います。</p><br>
      <p>2.ワンちゃんがケガをした場合</p>
      <p>→預かっているお客様が賠償などの責任を負います。</p><br>
      <p>3.ワンちゃんの体調がよくない場合</p>
      <p>→飼い主さんに相談の上、必要があれば病院に連れて行ってあげてください。治療費は預かっているお客様に過失がない時は飼い主さんの負担とします。</p><br>
      <p>4.ワンちゃんが行方不明になった、死亡した場合</p>
      <p>→預かっているお客様が賠償責任を負います。</p>










    </div>
</div>
