<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>副業禁止の規定にはひっかからないのでしょうか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>副業禁止の規定は労働基準法などの法律で定められたものではなく、あくまで就業規則による会社独自のルールです。</p>
        <p>一般的には「許可なく他の会社と『雇用契約』を結ぶことを禁ずる」といった内容が多いですが、「副業」がどの範囲まで及ぶかは会社ごとに異なりますので、ご自身でご確認くださいますようお願い致します。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>副業禁止の規定にはひっかからないのでしょうか？</h2>

    <div class="sentence1">
      <p>副業禁止の規定は労働基準法などの法律で定められたものではなく、あくまで就業規則による会社独自のルールです。</p>
      <p>一般的には「許可なく他の会社と『雇用契約』を結ぶことを禁ずる」といった内容が多いですが、「副業」がどの範囲まで及ぶかは会社ごとに異なりますので、ご自身でご確認くださいますようお願い致します。</p>

>>>>>>> refs/remotes/origin/master
    </div>
</div>
