<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>誰でも預かることできますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>Second Houseが著しく不適格と判断した場合にはご利用いただけません。</p>
        <p>過去のご利用状況、評価を参考に退会処分となる場合がございますのでご了承ください。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>誰でも預かることできますか？</h2>

    <div class="sentence1">
      <p>Second Houseが著しく不適格と判断した場合にはご利用いただけません。</p>
      <p>過去のご利用状況、評価を参考に退会処分となる場合がございますのでご了承ください。</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
