<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>個人情報などのセキュリティ対策は大丈夫ですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
       <p>データベース内のパスワード情報は暗号化して保存しています。</p>
       <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>個人情報などのセキュリティ対策は大丈夫ですか？</h2>

    <div class="sentence1">
      <p>データベース内のパスワード情報は暗号化して保存しています。</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
