<div class="space">

</div>

<div class="sentence">
  <h2>未成年者でもサービスを利用できますか？</h2>

    <div class="sentence1">
      <p>Second Houseでは、未成年の方でもご利用をいただくことができます。</p>
      <p>ただし、未成年の方は事前に親権者など法定代理人の同意が必要になります。</p>
      <p>未成年者の方はSecond House会員登録時に、親権者・法定代理人の同意を得て会員登録を行い、サービスをご利用ください。</p>
      <p>※会員登録の際に、親権者・法定代理人の同意入力を行うチェックが表示がありますので、未成年者は親権者の同意を得た上で会員登録を行ってください。</p>



    </div>
</div>
