<div class="space">

</div>

<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>相手方の都合でキャンセルになった場合は返金されますか?</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>キャンセルと同時にクレジットカードの返金処理を行います。</p><br>
        <p>【ご注意】</p><br>
        <p>Second House側では、キャンセル処理と同時に、クレジットカード会社へ対してのご利用料金の返還手続き（キャンセルデータの送信）は完了しております。</p><br>
        <p>ただし、クレジットカード会社によって、当社のキャンセルデータを取り込むタイミングが異なっており、最長1ヶ月ほど取り込みまでお時間かかるケースもあります。
        また、締め日によっても、ご購入時の金額を請求前に相殺できる場合と、いったん請求した後、返金あるいは次月の請求から差し引くなどの場合があります。</p><br>
        <p>クレジットカード会社により、これらのキャンセルデータの取り込み日や締め日がそれぞれ異なりますため、Second Houseで詳細についてはお調べすることができません。</p><br><br>
        <p>クレジットカードのご利用詳細については、個人情報保護の関係上、Second Houseで詳細をお調べすることができません。</p><br>
        <p>お手数ですが、ご不明な点は決済されたカード会社へ、直接お問い合わせをお願いします。</p>

      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
