<div class="space">

</div>

<div class="sentence">
  <h2>「フォローする」とは何ですか？</h2>

    <div class="sentence1">
      <p>お気に入りのワンちゃんをフォローすると、一覧で簡単に見返すことができる便利な機能です。</p>
      <p>ワンちゃんをフォローすると、マイページから「フォローしたワンちゃん」の一覧を見ることができ、リクエストを送ることや、預かり依頼があれば通知されます。</p><br>
      <p>▼プロフィールページの「フォローする」よりご利用いただけます</p>
      <p>フォローになった出品者の一覧はこちら</p>





    </div>
</div>
