<div class="space">

</div>

<div class="sentence">
  <h2>Second Houseへマイナンバーの提示は必要ですか？</h2>

    <div class="sentence1">
      <p>Second Houseの皆様は、マイナンバーを提示いただく必要はございません。

解決しない場合はこちらからお問い合わせください</p>
    </div>
</div>
