<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>ワンちゃんが家のものを壊した場合どうなりますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>SecondHouseは預かったワンちゃんがお客様又は第三者に対し損害を与えた場合等(物品破壊を含む)の損害金などの責任は一切負いかねます。</p>
        <p>また飼い主さん側への請求権もないものとします。</p><br><br>

        <p class="color">ワンちゃんは動物ですので、言うことを聞いてくれないことも吠えることも、家の家具を噛んで壊してしまうこともあります。</p><br>

        <p>その点予めご理解いただけない方はご利用をお断りさせて頂きます。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>ワンちゃんが家のものを壊した場合どうなりますか？</h2>

    <div class="sentence1">
      <p>預かったワンちゃんがお客様又は第三者に対し損害を与えた場合等(物品破壊を含む)の損害金などの責任は一切負いかねます。</p>
      <p>また飼い主さん側への請求権もないものとします。</p><br><br>

      <p class="color">ワンちゃんは動物ですので、言うことを聞いてくれないことも吠えることも、家の家具を噛んで壊してしまうこともあります。</p><br>

      <p>その点予めご理解いただけない方はご利用をお断りさせて頂きます。</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
