<div class="space">

</div>


<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>どんな犬でもサービスを利用できますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>どんなワンちゃんでも利用可能ですが、お預け前に体調を崩したり、あまりにも人見知り、知らない場所に行くと極度にストレスを感じるワンちゃんはご利用を控えられた方がよろしいかと思います。大切なワンちゃんですので飼い主さんの方でのご判断にお任せいたします。</p>
        <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
