<div class="space">

</div>


<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>「マイページ」とは何ですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
      <p>これまでに預かった（預かってもらった）ワンちゃんの履歴やお気に入りリスト、ダイレクトメッセージ等を確認することができます。またプロフィール情報の変更や、アカウント設定を確認することもできます。他の方がこのページを見ることはできません。</p><br>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
