<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>「評価コメント」に書かれた悪い情報を削除することはできますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>Second Houseでは以下の条件に該当する場合に「評価コメント」を削除いたします。</p><br><br>
        <p>●Eメールアドレスや電話番号などの個人情報が含まれている場合</p><br>
        <p>●運営が問題であると判断した場合</p><br><br>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>「評価コメント」に書かれた悪い情報を削除することはできますか？</h2>

    <div class="sentence1">
      <p>Second Houseでは以下の条件に該当する場合に「評価コメント」を削除いたします。</p><br><br>
      <p>●Eメールアドレスや電話番号などの個人情報が含まれている場合</p><br>
      <p>●運営が問題であると判断した場合</p><br><br>
      












>>>>>>> refs/remotes/origin/master
    </div>
</div>
