<div class="space">

</div>

<div class="sentence">
  <h2>スマートフォンの機種変更をしても引き続きやりとりできますか？</h2>

    <div class="sentence1">
      <p>スマートフォンの機種変更しても引き続き、同じアカウントでSecond Second Houseにログインしご利用いただけます。</p><br>
      <p>なお、機種変更後の機種でログインする際に新たにパスワード入力を求められます。</p>
      <p>パスワードを忘れた場合は、こちらから再発行手続きを行なってください。</p><br><br>
      <p>【ご注意】</p><br>

      <p>携帯電話番号ポータビリティによる携帯電話会社（キャリア）変更時のご注意</p>
      <p>1.機種変更前に必ずパスワードを確認し、必要に応じて再発行を手続きを行なってください。</p>
      <p>2.機種変更後にメールアドレスの変更手続きを行なってください。（パスワードの入力が必要です）</p>
      <p>解決しない場合はこちらからお問い合わせください</p>

    </div>
</div>
