<div class="space">

</div>

<div class="sentence">
  <h2>決済情報は変更できますか？</h2>

    <div class="sentence1">
      <p>マイページ内「設定」よりいつでも変更することができます。</p>

      <p>解決しない場合はこちらからお問い合わせください</p>
    </div>
</div>
