<div class="space">

</div>

<div class="sentence">
  <h2>「トークルーム」の使い方が分かりません</h2>

    <div class="sentence1">
      <p>下記のご利用ガイドにてご説明させて頂いておりますので、ご参照ください。</p>
      <p>預ける、預かる、決済までの取引の流れ、メッセージ文章のテンプレート</p>
      <p>解決しない場合はこちらからお問い合わせください。</p>





    </div>
</div>
