<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>プロフィール画像やワンちゃん画像、カバー画像がうまく表示されません</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>Facebook で登録されたアカウントにおいて、メールアドレスおよびパスワードを入力してログインするには、パスワードの再発行手続きを行う必要があります。</p><br>
        <p>アップロードが行える画像形式は「jpeg,png,gif」のいずれかとなり、最大100Mまでのファイル表示が可能となります。 </p><br>
        <p>プロフィール画像やワンちゃん画像にて正常に表示されない場合は、以下の画像サイズをご用意の上、画像のアップロードお試しください。</p><br>
        <p>また、「gif」のアニメーション機能についてはお使いいただくことはできません。</p><br><br>

        <h2>【プロフィール画像】</h2>
        <p>プロフィール画像サイズについて</p>
        <p>・182×182 ピクセル以上の正方形画像サイズでアップロードをお試しください。 </p>
        <p>プロフィール画像のアップロード方法について</p>
        <p>1.プロフィール編集ページに進む</p><br>
        <p>▼プロフィール編集ぺージはこちら </p>
        <p>https:// </p><br>
        <p>2.ファイルを選択するをクリックする </p>
        <p>3.画像を選択し、下部の「更新する」をクリックする</p><br><br>


        <h2>【ワンちゃん画像】</h2><br><br>
        <p>ワンちゃん画像のアップロード方法について</p><br>
        <p>1. ワンちゃんプロフィール編集ページより、該当サービスの「編集する」をクリック</p><br>
        <p>▼ワンちゃんプロフィール編集ページはこちら </p>
        <p>http://</p><br>
        <p>2. 上記の「ワンちゃんプロフィール」にアクセスし、変更する写真の「編集する」をクリック。</p><br>

        <p>3. 画像の追加登録を行う場合、プロフィール編集画面の「画像」の項目より「+アイコン」をクリック。</p>
        <p>4. 下部の「公開する」ボタンをクリック</p><br><br>
        <p class="color">※ワンちゃん画像は最大10枚まで登録いただくことが可能となっております。
        ※1〜4まで操作いただくことで、ワンちゃん画像の登録が完了いたします。</p>
        <p>ワンちゃん画像の追加登録手順については、以下ヘルプをご確認ください。 </p><br>
        <p>▼ [ヘルプ]サービス画像は何枚まで登録が可能ですか </p><br><br>
        <p>https://</p><br><br>

        <h2>【カバー画像】</h2><br>
        <p>カバー画像サイズについて</p>
        <p>・1280×420 ピクセルのサイズで表示されます。</p>
        <p>・上記サイズの縦横比に合わせた長方形画像のアップロードを推奨します。</p>
        <p>※上記サイズより、大きい画像の場合は縮小され、小さい場合は拡大されて表示されます。</p>
        <p>※縦横比が1280×420と異なる画像の場合は、カバー画像サイズ枠よりはみ出る部分は表示されません。</p>
        <p>しかしながら、アップロードの際に「画像を編集する」画面にて、画像の表示位置を上下に動かしたり、
        拡大、回転をして調整することが可能です。</p>
        <p>上記は任意の位置に調整し、決定ボタンを押すことで保存されます。</p>
        <p>※カバー画像は1枚のみのご登録となります。（複数枚はご登録いただけません）</p><br><br>
        <h2>カバー画像のアップロード方法について</h2><br>
        <p>1. プロフィール編集ページに進む</p><br>
        <p>▼プロフィール編集ぺージはこちら</p>
        <p>https://</p><br><br>
        <p>2. 「カバー画像を変更」を押し「カバー画像を変更する」を押した後で「画像をアップロード」をクリック。</p>
        <p>3. 画像を選択し、右下にある「決定」ボタンをクリックした後で、保存されたカバー画像右下にある「変更を保存」ボタンをクリック。</p><br>
        <p>※一度、カバー画像を保存してから編集する場合は、再び画像をアップロードしてください。</p><br><br>
        <h2>「画像ファイル形式」と「ファイル容量の上限」について</h2><br><br>
        <p>・プロフィール画像とワンちゃん画像でアップロードいただける、画像ファイル形式とファイル容量の上限は以下の通りとなります。</p>
        <p>【ファイル形式】 jpeg,png,gif</p>
        <p>【ファイル容量】 最大100Mまで</p><br><br>
        <p class="color">※一度に添付できる容量は合計で100MBまでとなり、スマートフォンの場合、機種やバージョンによっては添付することができませんので、その場合はPCからのアップロードをお試しください。</p>
        <p class="color">※カバー画像のファイル形式も上記に準するものとなります。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>プロフィール画像やワンちゃん画像、カバー画像がうまく表示されません</h2>

    <div class="sentence1">
      <p>アップロードが行える画像形式は「jpeg,png,gif」のいずれかとなり、最大100Mまでのファイル表示が可能となります。 </p><br>
      <p>プロフィール画像やワンちゃん画像にて正常に表示されない場合は、以下の画像サイズをご用意の上、画像のアップロードお試しください。</p><br>
      <p>また、「gif」のアニメーション機能についてはお使いいただくことはできません。</p><br><br>

      <h2>【プロフィール画像】</h2>
      <p>プロフィール画像サイズについて</p>
      <p>・182×182 ピクセル以上の正方形画像サイズでアップロードをお試しください。 </p>
      <p>プロフィール画像のアップロード方法について</p>
      <p>1.プロフィール編集ページに進む</p><br>
      <p>▼プロフィール編集ぺージはこちら </p>
      <p>https:// </p><br>
      <p>2.ファイルを選択するをクリックする </p>
      <p>3.画像を選択し、下部の「更新する」をクリックする</p><br><br>


      <h2>【ワンちゃん画像】</h2><br><br>
      <p>ワンちゃん画像のアップロード方法について</p><br>
      <p>1. ワンちゃんプロフィール編集ページより、該当サービスの「編集する」をクリック</p><br>
      <p>▼ワンちゃんプロフィール編集ページはこちら </p>
      <p>http://</p><br>
      <p>2. 上記の「ワンちゃんプロフィール」にアクセスし、変更する写真の「編集する」をクリック。</p><br>

      <p>3. 画像の追加登録を行う場合、プロフィール編集画面の「画像」の項目より「+アイコン」をクリック。</p>
      <p>4. 下部の「公開する」ボタンをクリック</p><br><br>
      <p class="color">※ワンちゃん画像は最大10枚まで登録いただくことが可能となっております。
      ※1〜4まで操作いただくことで、ワンちゃん画像の登録が完了いたします。</p>
      <p>ワンちゃん画像の追加登録手順については、以下ヘルプをご確認ください。 </p><br>
      <p>▼ [ヘルプ]サービス画像は何枚まで登録が可能ですか </p><br><br>
      <p>https://</p><br><br>

      <h2>【カバー画像】</h2><br>
      <p>カバー画像サイズについて</p>
      <p>・1280×420 ピクセルのサイズで表示されます。</p>
      <p>・上記サイズの縦横比に合わせた長方形画像のアップロードを推奨します。</p>
      <p>※上記サイズより、大きい画像の場合は縮小され、小さい場合は拡大されて表示されます。</p>
      <p>※縦横比が1280×420と異なる画像の場合は、カバー画像サイズ枠よりはみ出る部分は表示されません。</p>
      <p>しかしながら、アップロードの際に「画像を編集する」画面にて、画像の表示位置を上下に動かしたり、
      拡大、回転をして調整することが可能です。</p>
      <p>上記は任意の位置に調整し、決定ボタンを押すことで保存されます。</p>
      <p>※カバー画像は1枚のみのご登録となります。（複数枚はご登録いただけません）</p><br><br>
      <h2>カバー画像のアップロード方法について</h2><br>
      <p>1. プロフィール編集ページに進む</p><br>
      <p>▼プロフィール編集ぺージはこちら</p>
      <p>https://</p><br><br>
      <p>2. 「カバー画像を変更」を押し「カバー画像を変更する」を押した後で「画像をアップロード」をクリック。</p>
      <p>3. 画像を選択し、右下にある「決定」ボタンをクリックした後で、保存されたカバー画像右下にある「変更を保存」ボタンをクリック。</p><br>
      <p>※一度、カバー画像を保存してから編集する場合は、再び画像をアップロードしてください。</p><br><br>
      <h2>「画像ファイル形式」と「ファイル容量の上限」について</h2><br><br>
      <p>・プロフィール画像とワンちゃん画像でアップロードいただける、画像ファイル形式とファイル容量の上限は以下の通りとなります。</p>
      <p>【ファイル形式】 jpeg,png,gif</p>
      <p>【ファイル容量】 最大100Mまで</p><br><br>
      <p class="color">※一度に添付できる容量は合計で100MBまでとなり、スマートフォンの場合、機種やバージョンによっては添付することができませんので、その場合はPCからのアップロードをお試しください。</p>
      <p class="color">※カバー画像のファイル形式も上記に準するものとなります。</p>
      <p>解決しない場合はこちらからお問い合わせください</p>

>>>>>>> refs/remotes/origin/master
    </div>
</div>
