<div class="space">

</div>
<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>特定のユーザーをブロックできますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>特定のユーザーをブロックすることで、以下のことができなくなります。</p><br>
        <ul>
          <li>・お互いのダイレクトメッセージの送受信</li>
          <li>・相手があなたの投稿に申し込む</li>
          <li>・相手があなたのワンちゃんをお気に入り登録</li>
          <li>・相手があなたの評価コメントに投票する（「参考になった」をクリックしてもカウントされません）</li>
          <li>・相手があなたをフォローする</li>
          <li>・相手があなたにリクエストする</li>
        </ul>

        <p class="block">※ 相手がすでにあなたやあなたのサービスを、「フォローする・お気に入り登録・再開待ち」している場合は強制解除されます。</p><br>
        <p>
        ※ ブロックを設定しても、相手には通知はされません。</p><br>
        <p>※ トークルームでやりとりをしている途中でも相手をブロックすることができますが、トークルームは継続するのでご注意ください。</p><br>
        <p>※ダイレクトメッセージの送受信は、ブロックした時点でできなくなります。</p><br>
        <p>※ブロック数の上限は最大100名となります。</p><br><br><br>

        <h2>＜ブロック設定方法＞</h2><br>
        <p>ブロックは「相手のプロフィールページ」「ダイレクトメッセージ画面」から設定することができます。</p><br>
        <p>【パソコン版のプロフィールページ】</p><br>
        <h2>＜ブロック解除方法＞</h2><br><br>
        <p>ブロックは、「相手のプロフィールページ」「ダイレクトメッセージ画面」、設定＞「ブロック設定」より解除することが出来ます。</p>
        <p>・ブロック設定を変更する</p><br><br>
        <p> ・ブロック設定の確認・解除はこちらで行なえます。</p>
        <br><br><br>
        <p>【ご注意】</p><br><br>
        <p>※ トラブルの原因につながると判断した場合は、事前に通知することなくブロック設定を解除することがございます。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======

<div class="sentence">
  <h2>特定のユーザーをブロックできますか？</h2>

    <div class="sentence1">
      <p>特定のユーザーをブロックすることで、以下のことができなくなります。</p><br>
      <ul>
        <li>・お互いのダイレクトメッセージの送受信</li>
        <li>・相手があなたの投稿に申し込む</li>
        <li>・相手があなたのワンちゃんをお気に入り登録</li>
        <li>・相手があなたの評価コメントに投票する（「参考になった」をクリックしてもカウントされません）</li>
        <li>・相手があなたをフォローする</li>
        <li>・相手があなたにリクエストする</li>
      </ul>

      <p class="block">※ 相手がすでにあなたやあなたのサービスを、「フォローする・お気に入り登録・再開待ち」している場合は強制解除されます。</p><br>
      <p>
      ※ ブロックを設定しても、相手には通知はされません。</p><br>
      <p>※ トークルームでやりとりをしている途中でも相手をブロックすることができますが、トークルームは継続するのでご注意ください。</p><br>
      <p>※ダイレクトメッセージの送受信は、ブロックした時点でできなくなります。</p><br>
      <p>※ブロック数の上限は最大100名となります。</p><br><br><br>

      <h2>＜ブロック設定方法＞</h2><br>
      <p>ブロックは「相手のプロフィールページ」「ダイレクトメッセージ画面」から設定することができます。</p><br>
      <p>【パソコン版のプロフィールページ】</p><br>
      <h2>＜ブロック解除方法＞</h2><br><br>
      <p>ブロックは、「相手のプロフィールページ」「ダイレクトメッセージ画面」、設定＞「ブロック設定」より解除することが出来ます。</p>
      <p>・ブロック設定を変更する</p><br><br>
      <p> ・ブロック設定の確認・解除はこちらで行なえます。</p>
      <br><br><br>
      <p>【ご注意】</p><br><br>
      <p>※ トラブルの原因につながると判断した場合は、事前に通知することなくブロック設定を解除することがございます。</p>
      <p>解決しない場合はこちらからお問い合わせください</p>






>>>>>>> refs/remotes/origin/master
    </div>
</div>
