<div class="space">

</div>
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>未成年者でもサービスを利用できますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
      <p>Second Houseでは、未成年の方でもご利用をいただくことができます。</p>
      <p>未成年者の方はSecond House会員登録時に、親権者・法定代理人の同意を得て会員登録を行い、サービスをご利用ください。</p>
      <p>※会員登録の際に、親権者・法定代理人の同意入力を行うチェックが表示がありますので、未成年者は親権者の同意を得た上で会員登録を行ってください。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
