

<div class="space">

</div>

<div class="sentence">
  <h2>登録した生年月日やメールアドレスは公開されますか？</h2>

    <div class="sentence1">
      <p>ご登録いただいた生年月日やメールアドレスは、他の会員には公開はされません。

        解決しない場合はこちらからお問い合わせください</p>
    </div>
</div>
