<div class="space">

</div>

<div class="sentence">
  <h2>「評価コメント」を削除することはできますか？</h2>

    <div class="sentence1">
      <p>サービスの公平性維持のため、個人情報やトークルームの具体的なやり取りを記載するなどガイドラインに違反している場合を除き、評価コメントは削除、編集できません。</p>
    </div>
</div>
