<div class="space">

</div>

<div class="sentence">
  <h2>Second Houseのサイト外でやり取りしても大丈夫ですか？</h2>

    <div class="sentence1">
      <p>Second Houseを安心・安全な取引を行っていただくため、やり取りはサイト内のみとし、電話番号やメールアドレスの交換は禁止されています。</p><br>
      <p>＜Second Houseで禁止しているやり取りの例＞</p><br>
      <p>【外部での金銭授受】</p><br>
      <p>・Second Houseの決済を使用しない直接預かり依頼、またその勧誘及び勧誘に応じる行為</p><br><br>
      <p>【外部への誘導】</p><br>
      <p>・メールアドレス、Twitter、mixi、LINE、skypeのIDなど外部連絡先の交換を持ちかける行為</p><br>
      <p>・他サイト、運営で不健全と判断したサイトへ誘導する行為</p><br>
      <p>・他サイトの登録フォーム等を経由し、メールアドレスなど外部連絡先を取得する行為</p><br>
      <p>なお、運営側でも日々監視しておりますが、違反内容を発見されましたら、マイページにございます「規約違反」の報告リンクよりご連絡いただければ、速やかに運営にて確認をさせていただきます。</p>

    </div>
</div>
