<div class="space">

</div>

<div class="sentence">
  <h2>預かってくれる人の探し方が分かりません</h2>

    <div class="sentence1">
      <p>飼い主さんはワンちゃんの情報と日程を掲載して預かってもらう方を選ぶという形になります。預かってくれる方はプロフィールや評価などを参考にお選びください。</p>
    </div>
</div>
