<div class="space">

</div>
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>実際のやり取りはどのようになりますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>お預かり依頼作成後、希望者からメッセージが来ると2人だけが見ることのできる非公開のページ（トークルーム）がOPENし、そこでやり取りを行なっていただきます。</p><br>
        <p>預かってもらう方に気になることを質問したり、事前にワンちゃんの特徴を伝えたり、して欲しいこととして欲しくないことを伝えておきましょう。</p><br>
        <p>問題なさそうなら待ち合わせ場所を決めましょう。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
