<div class="space">

</div>

<div class="sentence">
  <h2>海外発行のクレジットカードは利用できますか？</h2>

    <div class="sentence1">
      <p>海外発行のクレジットカードはご利用できません。</p>
      <p>解決しない場合はこちらからお問い合わせください。</p>
    </div>
</div>
