<div class="space">

</div>

<div class="sentence">
  <h2>パスワードの再発行はどのようにすればいいですか？</h2>

    <div class="sentence1">
      <p>登録したEmailアドレスにパスワード再設定用のURLをお送りしますので、そちらから再設定を行ってください。</p>
      <p>手続きはこちらから。</p>
      <p>解決しない場合はこちらからお問い合わせください</p>

    </div>
</div>
