<div class="space">

</div>

<div class="sentence">
  <h2>Yahoo!ID・Facebookで会員登録したのですが、パスワードがわからずメールアドレスを変更できません</h2>

    <div class="sentence1">
      <p>「Yahoo!ID」または「Facebook」アカウントで会員登録をされた場合、ココナラ上のパスワードを取得することによりメールアドレスの変更が可能となります。</p><br>
      <p class="sentence_face">お手数ですが、パスワード再発行後にメールアドレスをご変更いただきますようお願いいたします。</p>
      <p>①パスワード再発行はこちら</p><br>
      <p class="sentence_face">②メールアドレスの変更はこちら</p>
      <p>サブメールアドレスを登録・変更する際にパスワードが必要な場合も、上記同様パスワード再発行をお願いいたします。</p><br>
      <p>※ 一度パスワードの再発行を行うと「Yahoo!ID」または「Facebook」ログインと、通常ログイン（メールアドレスとパスワードの組み合わせ）両方できるようになります。</p><br>
      <p>解決しない場合はこちらからお問い合わせください</p>













    </div>
</div>
