<div class="space">

</div>

<div class="sentence">
  <h2>ワンちゃんを預かるまでの流れを教えてください</h2>

    <div class="sentence1">
      <p>【step 1:会員登録をする】</p><br>
      <p>会員登録はこちらから</p><br><br>
        <p>【step 2:プロフィールを作成する】</p><br>
        <p>飼い主さんは安心して預けられる人を探しいますので</p>
        <p>できる限りプロフィールを充実させましょう</p><br><br>
        <p>【step 3:預かりたいワンちゃんを探す】</p><br>
        <p>ワンちゃんの検索はこちら</p><br><br>
        <p>【step 4:飼い主さんにメッセージを送る】</p><br>
        <p>飼い主さんに預かりたい旨の連絡をしましょう。</p>
        <p>その際にワンちゃんの特徴や不安な点、きになる点など確認しておきましょう。</p><br><br>
        <p>【step 5:お支払い】</p><br>
        <p>飼い主さんから了承をもらったらお支払いをお願いします。</p><br>

        <p>【step 6:ワンちゃんお向かい】</p><br>
        <p>事前に決めていた場所にワンちゃんをお向かいに行きましょう</p><br>
        <p>【step 7:ワンちゃんお見送り】</p><br>
        <p>お渡しの時間になったらワンちゃんをお見送りしましょう。</p>




    </div>
</div>
