<div class="space">

</div>

<div class="sentence">
  <h2>支払い後にキャンセルはできますか？</h2>

    <div class="sentence1">
      <p>支払いから2日間、相手方よりトークルームで連絡がなければ自動的にキャンセルされます。</p>
      <p>飼い主さんが都合が悪くなった場合、キャンセル希望の旨を相手方にトークルームからお伝えください。</p>
      <p>キャンセルが行われた場合は返金対応させて頂きます。</p>

    </div>
</div>
