<div class="space">

</div>

<div class="sentence">
  <h2>どういったことがSecond Houseでの「禁止行為」に該当しますか？</h2>

    <div class="sentence1">
      <p>飼い主さんと預かる方の双方が安心してSecond Houseをご利用いただくため、Second Houseでは禁止行為のルールを定めています。</p><br><br>
      <p>禁止行為やルール違反が確認された場合は、運営にて相談や依頼の取り消しを行い、場合によっては利用アカウントの停止も含めた措置を行っております。</p><br><br>
      <p>飼い主さんと預かる方の双方に対し、より安心・安全なプラットフォームを提供するための対応となりますので、何卒ご理解いただければ幸いです。</p><br><br>
      <p>＜禁止行為の一例＞</p><br>
      <p>ネットワークビジネスの勧誘・宣伝行為</p><br>
      <p>Second House外での連絡を誘導する行為、及び応じる行為</p>
      <p>※電話番号、メールアドレス、LINE、Skypeなどの外部ツールを用いたやりとりは、セキュリティ上の観点より禁止とさせていただいております。
      トークルーム以外でのやり取りが必要な場合は、Second House内でご利用いただけるダイレクトメッセージ機能をご活用ください。</p><br>
      <p>Second House外での取引や決済を誘導する行為、及び応じる行為
      ※相手から、Second House外での取引や決済（例：現金手渡し、銀行振込にて個人口座に振り込みの指示など）を誘導された場合は、一切応じることなく、速やかに運営までご連絡・ご相談いただきますようお願い致します。</p><br>
      <p>同日に複数のワンちゃんを預かる行為</p><br><br>
      <p>その他詳細なケースについては、以下のページにまとめておりますので、ご確認ください。</p><br>
      <p>▼「禁止行為」「出品禁止サービス」「マナー」の詳細について</p><br>
      <p>https:///<p><br>
      <p>なお、運営側でも日々監視しておりますが、違反内容を発見されましたら、マイページにございます「規約違反」の報告リンクよりご連絡いただければ、速やかに運営にて確認をさせていただきます。</p>


    </div>
</div>
