<div class="space">

</div>

<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>預かってくれる人はどのように選べばいいですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>まずは過去の評価とコメントを参考にしてください。また可能であればご近所の方に依頼されることをおすすめします。直接、自宅までワンちゃんを預けに行ければその方が安心です。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
