<div class="space">

</div>

<div class="sentence">
  <h2>秘密保持契約（NDA）とは何ですか？</h2>

    <div class="sentence1">
      <p>機密保持契約（NDA）とは、トークルームやダイレクトメッセージ等の非公開のやりとりでお互いが知り得た秘密情報を第三者に漏らさないことを定める契約です。</p><br>
        
    </div>
</div>
