<div class="space">

</div>

<div class="sentence">
  <h2>新規登録の時に ***@facebook.com のアドレスを使用できますか？</h2>

    <div class="sentence1">
      <p>***@facebook.comのメールアドレスは使用可能です。仮登録すると、Second Houseからのメールが Facebook メッセージの「その他」フォルダに送信されますのでご確認ください。

解決しない場合はこちらからお問い合わせください</p>
    </div>
</div>
