<div class="space">

</div>
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>クレジットカード登録情報の変更方法</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>クレジットカード情報の修正・削除は決済情報変更から行なえます。</p><br>
        <p>【変更方法について】</p><br>
        <p>クレジットカードの登録内容を変更したい場合は、「新しいカード情報」欄に「カード番号、有効期限、カード名義人、セキュリティコード」を入力し「更新」ボタンを押していただくことで上書き保存ができます。</p><br>
        <p>Android 4.4未満のスマートフォン端末では、以下の機能がご利用いただけません。</p><br>
        <p>・クレジットカード情報の新規登録 </p>
        <p>・登録済みクレジットカード情報の編集 </p><br><br>
        <p class="color">Android 4.4未満のスマートフォン端末にて、上記機能をご利用の場合は「OSのアップデート」もしくは「パソコンからのご利用」をお願いいたします。</p>
        <p>※「登録済みクレジットカードでの購入」および「登録済みクレジットカード情報の削除」は可能となります。</p><br><br>
        <p>【登録情報の削除方法について】</p><br><br>
        <p>クレジットカード情報を削除したい場合は、「カード情報を削除する」というボタンを押すことで削除することができます。</p><br>
        <p>なお、「未決済の項目が存在するため削除できません」というエラーメッセージが表示される場合は、決済が完了した後に削除のお手続きをお願いいたします。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
