<div class="space">

</div>
<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>パスワードの再発行はどのようにすればいいですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>登録したEmailアドレスにパスワード再設定用のURLをお送りしますので、そちらから再設定を行ってください。</p>
        <p><a href="/support/re_password">手続きはこちらから。</a></p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======

<div class="sentence">
  <h2>パスワードの再発行はどのようにすればいいですか？</h2>

    <div class="sentence1">
      <p>登録したEmailアドレスにパスワード再設定用のURLをお送りしますので、そちらから再設定を行ってください。</p>
      <p>手続きはこちらから。</p>
      <p>解決しない場合はこちらからお問い合わせください</p>

>>>>>>> refs/remotes/origin/master
    </div>
</div>
