<div class="space">

</div>
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>預かってくれる人の探し方が分かりません</h1>
    </div>
    <div class="sentence1" id="sentence1">
      <p>飼い主さんはワンちゃんの情報と日程を掲載して預かってもらう方を選ぶという形になります。預かってくれる方はプロフィールや評価などを参考にお選びください。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
