<div class="space">

</div>
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>決済情報は変更できますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
      <p>マイページ内「設定」よりいつでも変更することができます。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
