<div class="space">

</div>
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>Second Houseへマイナンバーの提示は必要ですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
      <p>マイナンバーを提示いただく必要はございません。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
