<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>サービスの評価の入力方法を教えてください</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>相手方の評価は、トークルームから入力できます。 </p>
        <p>引き渡しが完了した後、預かってくれた方が「完了」を送信するとトークルームより評価を入力することができます。</p>
        <p>評価の入力期限は「完了」が送信されてから９０日間となります。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>サービスの評価の入力方法を教えてください</h2>

    <div class="sentence1">
      <p>相手方の評価は、トークルームから入力できます。 </p>
      <p>引き渡しが完了した後、預かってくれた方が「完了」を送信するとトークルームより評価を入力することができます。</p>
      <p>評価の入力期限は「完了」が送信されてから９０日間となります。</p>

>>>>>>> refs/remotes/origin/master
    </div>
</div>
