<div class="space">

</div>

<div class="sentence">
  <h2>電話番号を認証する方法を教えてください</h2>

    <div class="sentence1">
      <p>電話番号の認証を行うとパスワードを忘れた時などに、電話番号を使用して再設定することができるようになります。</p><br>
      <p>電話番号の認証ができるのはSMS（ショートメッセージサービス）が利用できる端末のみになります。 （家庭用電話機などはご利用できませんのでご注意ください）</p><br>
      <p>※ 認証番号の入力を一定回数間違えると、ロックがかかり認証できなくなります。</p><br><br>
      <p>■電話番号認証方法</p><br>
      <p>Step1 電話番号を登録する</p>
      <p>マイページの「アカウント設定」より「電話番号を管理する」をクリックします。</p>

      <p>電話番号を入力し「電話番号を保存する」をクリックします。</p>
      <p>※ SMS（ショートメッセージサービス）が利用できる端末の電話番号を入力してください。</p><br><br>

      <p>Step2 電話番号を認証する</p>
      <p>「この電話番号を認証する」をクリックします。</p>
      <p>SMSで送られる認証番号を確認します。</p>
      <p>届いた認証番号を入力し「認証する」をクリックします。</p>
      <p>「この電話番号は認証済みです」と表示されていることを確認したら認証完了です。</p><br><br><br>
      <p>■認証番号が届かないときの対応</p><br>
      <p>SMSで認証番号が届かないときは、下記を確認してください。</p><br>
      <p>・受信設定</p>
      <p>迷惑メールの対策でSMSを受信しない、また登録者以外からのメッセージ拒否などの設定を行っていないか確認してください。</p><br><br>
      <p>・契約内容</p>
      <p>携帯電話の契約状況や端末によっては、SMSを利用できない場合があります。</p><br><br>
      <p>・電波状況</p>
      <p>SMSは携帯電話会社の電波を使用して受信してます。電波の不安定な場所は届かない可能性がありますので、電波の強いところで再度お試しください。</p><br><br>
      <p>・電話番号の誤入力</p>
      <p>電話番号を入力する際に、ハイフンを入れていないか、また誤った電話番号を入力していないか確認してください。</p><br><br>
      <p>※ 恐れ入りますが、050から始まる電話番号は、電話番号認証を行えません。</p><br><br>
      <p>解決しない場合はこちらからお問い合わせください</p>

    </div>
</div>
