<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>トークルームでメッセージを受信した時に通知メールが届きません</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>トークルームにメッセージが届いてから1分以上未読の場合に通知メールを配信しております。メッセージを受信してから1分以内にサイトにログインしてメッセージを既読された場合、通知メールは配信されません。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div
=======
<div class="sentence">
  <h2>トークルームでメッセージを受信した時に通知メールが届きません</h2>

    <div class="sentence1">
      <p>トークルームにメッセージが届いてから1分以上未読の場合に通知メールを配信しております。

メッセージを受信してから1分以内にサイトにログインしてメッセージを既読された場合、通知メールは配信されません。

解決しない場合はこちらからお問い合わせください</p>
    </div>
</div>
>>>>>>> refs/remotes/origin/master
