<div class="space">

</div>

<div class="sentence">
  <h2>Second Houseからの通知メールをドメイン指定で受信したい</h2>

    <div class="sentence1">
      <p>メール受信設定にて、下記のドメインをご指定くださいますようお願いいたします。</p><br><br>
        <p>「mail.」</p><br><br>



    <p>解決しない場合はこちらからお問い合わせください</p>
    </div>
</div>
