<div class="space">

</div>

<div class="sentence">
  <h2>クレジットカード決済でエラーメッセージが表示されるのはどうしてですか？</h2>

    <div class="sentence1">
      <p>ご利用のクレジットカードに関して、以下の点をご確認ください。</p><br>
      <p>①日本国内で発行された「VISA」「MasterCard」「JCB」</p>
      <p>「AMERICAN EXPRESS」のカードである</p>
      <p>②クレジット番号が正しいこと</p>
      <p>③セキュリティコードが正しいこと（カード裏面の3桁,もしくは4桁の数字）</p>
      <p>④有効期限が切れていないこと</p>
      <p>⑤利用限度額を超えていないこと</p>
      <p>※海外発行のクレジットカードはご利用いただけませんのでご注意ください</p>

    </div>
</div>
