<div class="space">
<<<<<<< HEAD
</div>

<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>会員登録は無料ですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
      <p>会員登録は無料です。ワンちゃんを預かってもらう・預かるには会員登録が必要です。登録はこちら</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======

</div>

<div class="sentence">
  <h2>会員登録は無料ですか？</h2>

    <div class="sentence1">
      <p>会員登録は無料です。
          ワンちゃんを預かってもらう・預かるには会員登録が必要です。登録はこちら</p>
      <p>解決しない場合はこちらからお問い合わせください。</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
