<div class="space">

</div>

<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>支払い方法はどのようなものがありますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>クレジットカード、Vプリカでのお支払いが可能です。</p>
        <p>ご利用可能なクレジットカードは、日本国内で発行されたカードの、VISA / Mastercard / JCB / AMEXがご利用いただけます。</p>
        <p class="color">※海外発行のクレジットカードはご利用いただけません。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
