<div class="space">

</div>

<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>秘密保持契約（NDA）とは何ですか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
       <p>機密保持契約（NDA）とは、トークルームやダイレクトメッセージ等の非公開のやりとりでお互いが知り得た秘密情報を第三者に漏らさないことを定める契約です。</p><br>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
