<div class="space">

</div>
<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>登録確認メールが届きません</h1>
    </div>
    <div class="sentence1" id="sentence1">
      <p>迷惑メールフォルダに振り分けられているか、登録メールアドレスが間違っている可能性がございます。
迷惑メールのフォルダを確認して、メール設定を見直していただくか、再登録をお願いいたします。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======

<div class="sentence">
  <h2>登録確認メールが届きません</h2>

    <div class="sentence1">
      <p>迷惑メールフォルダに振り分けられているか、登録メールアドレスが間違っている可能性がございます。
迷惑メールのフォルダを確認して、メール設定を見直していただくか、再登録をお願いいたします。

解決しない場合はこちらからお問い合わせください。</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
