<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>Second Houseは第一種動物取扱業を取得していますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>Second Houseは第一種動物取扱業を取得しています。</p><br>
        <p>法的にはSecond Houseが飼い主さんからワンちゃんの保管依頼を受け、預かる方に貸し出すという形になります。</p>
        <p>なので飼い主さん、預かる方共に第一種動物取扱業に該当することはありませんのでご安心ください。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>Second Houseは第一種動物取扱業を取得していますか？</h2>

    <div class="sentence1">
      <p>Second Houseは第一種動物取扱業を取得しています。</p><br>
      <p>法的にはSecond Houseが飼い主さんからワンちゃんの保管依頼を受け、預かる方に貸し出すという形になります。</p>
      <p>なので飼い主さん、預かる方共に第一種動物取扱業に該当することはありませんのでご安心ください。</p>

>>>>>>> refs/remotes/origin/master
    </div>
</div>
