<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>相手方と連絡が取れなくなってしまいました。</h1>
    </div>
    <div class="sentence1" id="sentence1">
         <p>万が一ワンちゃんを預けたまま連絡が取れなくなった場合、警察に被害届を提出して頂き、運営は当局からの情報開示請求に速やかに応じ、全面的に捜査に協力いたします。</p>
         <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>相手方と連絡が取れなくなってしまいました。</h2>

    <div class="sentence1">
      <p>万が一ワンちゃんを預けたまま連絡が取れなくなった場合、警察に被害届を提出して頂き、運営は当局からの情報開示請求に速やかに応じ、全面的に捜査に協力いたします。</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
