<div class="space">

</div>

<div class="sentence">
  <h2>匿名でサービスを利用できますか？</h2>

    <div class="sentence1">
      <p>匿名（ニックネーム）、実名のどちらでもでサービスを利用できます。</p><br>
      <p>ただ万が一のトラブル防止のためSecond Houseには本人確認書類をご提示いただいています。</p>
    </div>
</div>
