<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1 id="ch_font">ログインができなくなりました</h1>
    </div>
    <div class="sentence1" id="sentence1">
=======
<div class="sentence">
  <h2>Second HouseのWEBサイトへログインができなくなりました</h2>

    <div class="sentence1">
>>>>>>> refs/remotes/origin/master
      <p>お客様のご利用環境を確認の上、以下の解決方法をお試しください。</p><br>
      <p>＜解決方法＞</p>
      <div class="solution">
        <ul>
          <li><p>1. パスワードを忘れてしまった場合は、パスワード再発行手続きをお願いします。</p>
         <p>・パスワード再発行はこちら</p>
         <p>・携帯電話番号を利用してパスワードを再設定する場合はこちら</p></li>
         <li><p class="solution_1">2. PC / スマートフォンのブラウザ： Cookieを削除し、再度ログインを実行 </p></li>
        </ul>
      </div>
      <p class="note">※ブラウザ設定でCookieを「無効」にしないようご注意ください。</p>
      <p class="note1">Cookieの削除はご利用のブラウザーによって異なります。下記を参考に操作をお願いします。</p>

      <div class="solution1">
        <div class="solution1_item">
          <p>■ Google Chrome の場合</p>
          <p>　Google Chrome に記載される「特定またはすべてのCookieを削除する」のみを実行</p>
        </div>
        <div class="solution1_item">
          <p>■ Windows版 Internet Explorer の場合</p>
          <p>　Windows版 Internet Explorer に記載される「Cookieを削除するには」を実行（バージョンをご確認ください）</p>
        </div>
        <div class="solution1_item">
          <p>■ Windows版 Firefox の場合</p>
          <p>　Windows版 Firefox に記載される「Cookieを削除する」のみを実行</p>
        </div>
      </div>
      <div class="solution1_item">
        <p>■ Mac OS X版 Safari</p>
        <p>　1. メニューバーの【Safari】をクリックし次に【環境設定...】をクリック</p>
        <p>　2.【プライバシー】をクリックし「Cookieとその他のWebサイトのデータ」項目の</p>
          <p> 　　【詳細】をクリック</p>
          <p>　　※Safari 8の場合は「CookieとWebサイトのデータ」項目の【詳細】をクリック</p>
        <p>　3. Cookieを削除したいサイトでココナラを選択し【削除】をクリック</p>
        <p>　4.【完了】をクリック</p>
      </div>
<<<<<<< HEAD

=======
    </div>
>>>>>>> refs/remotes/origin/master

    <h2>＜上記いずれの対応でもログインできない場合＞</h2>

    <p>ご登録のメールアドレス宛のメールを受け取る方法がないか今一度ご確認ください。</p>
    <p>何らかの方法でご登録メールアドレス宛のメールを確認することができれば、</p>
      <p>パスワードの再設定によりログインが可能です。</p><br>
    <p>なお、解決方法の１〜３のすべてをご確認いただいても解決しない場合は、「解決しない場合はこちらからお問い合わせください」より</p>
    <p>問い合わせフォームを開き、下記内容を貼り付けて、必要項目をご記入の上、ご連絡ください。</p>

<<<<<<< HEAD
    <div class="sentence_item1" id="sentence_item1">
=======
    <div class="sentence_item1">
>>>>>>> refs/remotes/origin/master
      <h2>●必須項目</h2>
      <ol>
        <li>ユーザー名：</li>
        <li>Second Houseに登録されている生年月日：</li>
        <li>Second Houseに登録したい新しいメールアドレス：</li>
      </ol>

      <h2>●上記項目の他にいずれか一つを回答ください</h2>
      <ul>
        <li>・本人確認申請情報（本名、住所）：</li>
        <li>・登録電話番号：</li>
        <li>・出金先銀行口座（金融機関名、支店名など）：</li>
      </ul>

    </div>
    <p>※お問い合わせをいただいた場合でも、ユーザIDやパスワードを直接お答えすることはできません。</p>
    <p>※お問い合わせの際に、パスワードをお知らせいただく必要はございません。</p>
<<<<<<< HEAD
    <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
    <p>解決しない場合はこちらからお問い合わせください</p>



>>>>>>> refs/remotes/origin/master
    </div>
</div>
