<div class="space">

</div>
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>ユーザー名（名前）は変更できますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>ユーザー名の変更は、<a href="/users/edit/3">こちらから</a>ご変更いただけます。</p><br>
        <p>また、ユーザー名の変更は各プロフィールページのアイコンからも行うことができます。同じ名前を他の方が先に登録されている場合は、その名前に変更することができません。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
    </div>
</div>
