<div class="space">

</div>

<div class="sentence">
  <h2>Facebookで登録したのですが、Facebook連携をやめることはできますか？</h2>

    <div class="sentence1">
      <p>Facebookの連携を解除するには、Facebook側にて行なうことが可能です。</p><br>
      <p>また、ココナラで登録されているEメールアドレス、パスワードの組み合わせでログインするためにはこちらをご参考にされてください。</p><br>
      <p>解決しない場合はこちらからお問い合わせください</p>
    </div>
</div>
