<div class="space">

</div>

<div class="sentence">
  <h2>預かってくれる人から連絡がない場合はどうしたらいいですか？</h2>

    <div class="sentence1">
      <p>【まずは相手の方へご連絡をしてみましょう】</p><br>
      <p>相手方が返信をお忘れになっている場合もありますので、トークルームやダイレクトメッセージでもう一度ご連絡してみましょう。</p>
      <p>※ダイレクトメッセージは相手の方のプロフィールページから送信できます。</p><br><br><br>
      <p>【やり取りの途中で連絡が途絶えてしまった場合】</p><br>
      <p>トークルームで預かってくれる人から2日間以上、連絡が取れなくるとトークルームの下に「キャンセルをリクエスト」が表示されます。キャンセルリクエストを送信後、24時間以内に相手方から返信がなければ、運営でキャンセルを行います。</p><br>
      <p>なお、キャンセルの際は、代金はご利用いただいた決済手段に応じて返還させていただきます</p><br>
      <p>※決済手段に応じて返金手続きが異なりますため、詳しくはキャンセル時の返金についてのヘルプを参照ください</p>
    </div>
</div>
