<div class="space">

</div>

<div class="sentence">
  <h2>Scond Houseとは何ですか？</h2>

    <div class="sentence1">
      <p>ワンちゃん・飼い主さん・ワンちゃんが大好きな方。皆様が喜ぶサービスを目指しています。</p><br>
      <p>現状のペットホテル、レンタルペットの問題点・デメリットを改善し、ワンちゃんを飼いやすい社会作りに貢献したいと思っています。</p>
    </div>
</div>
