<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div class="long_h">
        <h1>相手方の都合でキャンセルになった場合は返金されますか?</h1>
    </div>
    <div class="sentence1" id="sentence1">
        <p>キャンセルと同時にクレジットカードの返金処理を行います。</p><br>
        <p>【ご注意】</p><br>
        <p>Second House側では、キャンセル処理と同時に、クレジットカード会社へ対してのご利用料金の返還手続き（キャンセルデータの送信）は完了しております。</p><br>
        <p>ただし、クレジットカード会社によって、当社のキャンセルデータを取り込むタイミングが異なっており、最長1ヶ月ほど取り込みまでお時間かかるケースもあります。
        また、締め日によっても、ご購入時の金額を請求前に相殺できる場合と、いったん請求した後、返金あるいは次月の請求から差し引くなどの場合があります。</p><br>
        <p>クレジットカード会社により、これらのキャンセルデータの取り込み日や締め日がそれぞれ異なりますため、Second Houseで詳細についてはお調べすることができません。</p><br><br>
        <p>クレジットカードのご利用詳細については、個人情報保護の関係上、Second Houseで詳細をお調べすることができません。</p><br>
        <p>お手数ですが、ご不明な点は決済されたカード会社へ、直接お問い合わせをお願いします。</p>

      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>相手方の都合でキャンセルになった場合は返金されますか？</h2>

    <div class="sentence1">
      <p>キャンセルと同時にクレジットカード/デビットカードの返金処理を行います。</p><br>
      <p>【ご注意】</p><br>
      <p>Second House側では、キャンセル処理と同時に、クレジットカード会社へ対してのご利用料金の返還手続き（キャンセルデータの送信）は完了しております。</p><br>
      <p>ただし、クレジットカード会社によって、当社のキャンセルデータを取り込むタイミングが異なっており、最長1ヶ月ほど取り込みまでお時間かかるケースもあります。
      また、締め日によっても、ご購入時の金額を請求前に相殺できる場合と、いったん請求した後、返金あるいは次月の請求から差し引くなどの場合があります。</p><br>
      <p>クレジットカード会社により、これらのキャンセルデータの取り込み日や締め日がそれぞれ異なりますため、Second Houseで詳細についてはお調べすることができません。</p><br><br>
      <p>デビットカードをご利用の場合、カードの仕様上、一旦利用を確定した後に、キャンセル後に二重引き落とし（後日に返金）が発生するケースがございます。</p><br>
      <p>Second House側でのお支払いおよびキャンセルの処理は正常に完了している場合、「デビットカード」側で一時的に引き落しが発生していることが考えられます。</p><br>
      <p>この場合は、後日、あらためて返金情報の確定が行なわれた時点で再度返金されますので今しばらくお待ちください。</p><br>
      <p>クレジットカード、デビットカードのご利用詳細については、個人情報保護の関係上、Second Houseで詳細をお調べすることができません。</p><br>
      <p>お手数ですが、ご不明な点は決済されたカード会社へ、直接お問い合わせをお願いします。</p>

>>>>>>> refs/remotes/origin/master
    </div>
</div>
