<div class="space">

</div>

<div class="sentence">
  <h2>会員登録は無料ですか？</h2>

    <div class="sentence1">
      <p>会員登録は無料です。
          ワンちゃんを預かってもらう・預かるには会員登録が必要です。登録はこちら</p>
      <p>解決しない場合はこちらからお問い合わせください。</p>
    </div>
</div>
