<div class="space">

</div>

<div class="sentence">
  <h2>登録確認メールが届きません</h2>

    <div class="sentence1">
      <p>迷惑メールフォルダに振り分けられているか、登録メールアドレスが間違っている可能性がございます。
迷惑メールのフォルダを確認して、メール設定を見直していただくか、再登録をお願いいたします。

解決しない場合はこちらからお問い合わせください。</p>
    </div>
</div>
