<div class="space">

</div>

<<<<<<< HEAD
<div class="sentence" id="sentence">
    <div id="evaluation_head">
        <h1>「評価コメント」を削除することはできますか？</h1>
    </div>
    <div class="sentence1" id="sentence1">
     <p>サービスの公平性維持のため、個人情報やトークルームの具体的なやり取りを記載するなどガイドラインに違反している場合を除き、評価コメントは削除、編集できません。</p>
      <p>解決しない場合は<a href="/support/inquiry">こちらからお問い合わせ</a>ください。</p>
=======
<div class="sentence">
  <h2>「評価コメント」を削除することはできますか？</h2>

    <div class="sentence1">
      <p>サービスの公平性維持のため、個人情報やトークルームの具体的なやり取りを記載するなどガイドラインに違反している場合を除き、評価コメントは削除、編集できません。</p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>
