<div class="space">

</div>

<div class="sentence">
  <h2> 「マイページ」とは何ですか？</h2>

    <div class="sentence1">
      <p>これまでに預かった（預かってもらった）ワンちゃんの履歴やお気に入りリスト、ダイレクトメッセージ等を確認することができます。またプロフィール情報の変更や、アカウント設定を確認することもできます。他の方がこのページを見ることはできません。</p><br>
      <p>解決しない場合はこちらからお問い合わせください</p>
    </div>
</div>
