<div class="space">

</div>

<div class="sentence">
  <h2>携帯電話、スマートフォンからアクセスできますか？</h2>

    <div class="sentence1">
      <p>フルブラウザを搭載したスマートフォンのみ対応しております。スマートフォンからSecond Houseにアクセスすると、自動的にスマートフォンに対応した表示になります。</p>
      <p>PCに切り替えたい場合は、ページ下部の「PC版を表示」ボタンをクリックしてください。</p>
    </div>
</div>
