<div class="space">
</div>
<div class="rule_pc">
    <div class="title">
      <h1>ルールとマナー</h1>
    </div>
    <div class="background_safe11">
        <div class="text_safe11">

        <!--------左部分（文章）------------------------->
            <div class="content_safe11">
                <div class="logo">
                    <img src="/guide_rule.jpg" alt="">
                    <h2>ルールとマナー</h2><br>
                    <p>みなさまに安心してSecondHouseをご利用いただくためのルールとマナーです。SecondHouseを利用する前に必ず以下の「禁止行為」「マナー」を確認してください。</p>
                </div>
                <div class="item_title2">
                    <h3>禁止行為</h3>
                </div>
                <div class="ban_rule">
                    <p>以下の行為は禁止します。</p>
                    <h4 class="sub_title"><i id="check_rule" class="fas fa-check-circle"></i>サービス利用するに当たって</h4>
                    <p>・法律、法令、条例に違反する行為</p>
                    <p>・他の会員に誤解を生じさせる虚偽の記載をする行為</p>
                    <p>・預ける意思がないにも関わらず預かり依頼を作成する行為</p>
                    <p>・他の会員の写真や文章を無断で使用する行為</p>
                    <p>・SecondHouseで取得した他の会員の個人情報やトークルームの内容を、</p><p class="rulu_item">サービス利用する目的以外のために利用または外部に公開する行為</p>
                    <p>・SecondHouse外の外部連絡先を聞き出す行為</p>
                    <p>・SecondHouseではトラブル防止のため、以下の行為を禁止しております。</p>
                    <p class="rulu_item">1.プロフィールページやサービス内容、トークルームなどにメールアドレスを記載する行為</p>
                    <p class="rulu_item">2.画像にQRコードを掲載する行為</p>
                    <p class="rulu_item">3.他サイトの登録フォームへ誘導し会員登録、または個人情報を登録させる行為</p>
                    <p>・SecondHouseの決済手法以外の方法で決済を促す行為</p>
                    <p>・SecondHouseでは、お預かり完了時に預かった方に代金をお支払いする方法を用いています。</p><p class="rulu_item">そのため以下の行為を禁止しております。</p>
                    <p class="rulu_item">1.SecondHouse内の決済を利用せずに、SecondHouse外で決済を行う行為</p>
                    <p class="rulu_item">2.成果報酬や月額払い等の独自の支払を促す行為</p>
                    <p>・外部サービスに誘導する行為・誘導に応じる行為</p>
                    <p>・SecondHouseではトラブルの防止のため、</p><p class="rulu_item">以下の行為を禁止しております。なお、これらはどちらから持ちかけた場合でも該当します。</p>
                    <p class="rulu_item">1.SecondHouseを介さずに外部で依頼を行うように持ちかける行為</p>
                    <p class="rulu_item">2.SecondHouseでは行っていないサービスの提供のために外部に誘導する行為</p>
                    <p class="rulu_item">3.次回以降の依頼を外部で行うように持ちかける行為</p>
                    <p class="rulu_item">4.決済が可能なサイトを記載し、そちらへ誘導する行為</p>
                    <p>・マネーロンダリングを目的とした行為</p>
                    <p>・預かり依頼を飼い主自らが受託する行為</p>
                    <p>・サービスが未提供又は不十分な状態で一方的にクローズする行為</p>
                    <h4 class="sub_title"><i id="check_rule" class="fas fa-check-circle"></i>その他</h4>
                    <p>・SecondHouseでは全ての会員が安心して安全にご利用いただけるように以下の迷惑行為を禁止しております。</p>
                    <p>・主な迷惑行為</p>
                    <p class="rulu_item">1.誹謗中傷</p>
                    <p class="rulu_item">2.脅迫行為</p>
                    <p class="rulu_item">3.差別行為</p>
                    <p class="rulu_item">4.他人に不快感を与える行為</p>
                    <p class="rulu_item">5.他人に不利益・損害を与える行為</p>
                    <p>・公序良俗に反する行為</p>
                    <p>・わいせつな投稿を行う行為</p>
                    <p>・SecondHouseでは全ての会員が安心して安全にご利用いただけるように以下の行為を禁止しております。</p>
                    <p class="rulu_item">1.性的発言</p>
                    <p class="rulu_item">2.露出度の高い画像の利用</p>
                    <p class="rulu_item">3.青少年に悪影響を与える行為</p>
                    <p class="rulu_item">4.当社がわいせつであると判断する行為</p>
                    <p>・営業活動、宣伝活動、宗教活動、選挙活動にあたる行為</p>
                    <p>・複数のアカウントを登録・所持する行為</p>
                    <p>・SecondHouseが不適切と判断する行為</p>
                    <p>・SecondHouseでは以下の行為を禁止しております。</p>
                    <p class="rulu_item">1.利用規約に反する行為</p>
                    <p class="rulu_item">2.ご利用ガイドに反する行為</p>
                    <p class="rulu_item">3.SecondHouseの運営を妨害する行為</p>
                    <p class="rulu_item">4.SecondHouseの信用を失墜、毀損させる行為</p>
                    <p class="rulu_item">5.青少年に悪影響を与える行為</p>
                </div>
                <div class="item_title22">
                    <h3>マナー</h3>
                    <h4 class="sub_title"><i id="check_rule" class="fas fa-check-circle"></i>マナーの基本</h4>
                    <div class="self_conent">
                        <h5>1.あいさつをしましょう</h5>
                        <p>やり取りが開始されたら、まず相手にあいさつをしましょう。誠実な態度を心がけると、お互い気持ちよくやり取りを進められます。</p>
                    </div>
                    <div class="self_conent">
                        <h5>2. 丁寧な言葉遣いを心がけましょう</h5>
                        <p>SecondHouseは多くのお客様にご利用いただき、年齢層も幅広いです。若者言葉が、年齢の上の方には不快に感じるケースもあります。このため、やり取りは敬語で行なうなど、相手に配慮した失礼のない言葉遣いを心がけましょう。</p>
                    </div>
                    <div class="self_conent">
                        <h5>3. 感情的にならないように心がけましょう</h5>
                        <p>文字だけのやり取りは、対面でのコミュニケーションより誤解が起こりやすくなります。いっときの感情でメッセージを送信せず、少し時間をおいて送信するなど冷静なやり取りを心がけましょう。</p>
                    </div>
                    <div class="self_conent">
                        <h5>4. 返信は速やかにしましょう</h5>
                        <p>メッセージを送信後に返事がないと、相手は不安になってしまうものです。受信後は速やかな返信を心がけ、またすぐに返事ができない場合は「ご連絡ありがとうございます。内容を確認後またご連絡します。」といった一時返信をすることで、相手に安心してもらえます。</p>
                    </div>
                    <h4 class="sub_title"><i id="check_rule" class="fas fa-check-circle"></i>ワンちゃんを預ける場合のマナー</h4>
                    <div class="self_conent">
                        <h5>1. 預かり依頼の内容は備考に詳細を記入しましょう。また、不明点は事前にダイレクトメッセージでエントリーしたユーザーに確認しましょう。</h5>
                        <p>預かり依頼に行って欲しいこと、して欲しくないことを具体的に伝えておきましょう。またワンちゃんの性格、クセなど細かく伝えておくと預かる方も安心できるでしょう。</p>
                    </div>
                    <div class="self_conent">
                        <h5>2. 要望は無理のない範囲でお願いしましょう</h5>
                        <p>預かり依頼に書いていなかった内容を追加でお願いしたい場合は無理のない範囲でお願いしましょう。</p>
                    </div>
                    <div class="self_conent">
                        <h5>3. サービスの感想・評価の入力を行いましょう </h5>
                        <p>コメント・評価はサービス改善につながる大切なものです。コメントと5段階評価の一部（総合評価）は公開され、他のユーザーも見ることができます。なお、誹謗中傷や個人情報などを記載することがないようご注意ください。（SecondHouseのルールに反する内容の場合は運営で削除し、記載した方のご利用を制限いたします。）</p>
                    </div>
                    <h4 class="sub_title"><i id="check_rule" class="fas fa-check-circle"></i>ワンちゃんを預かる場合のマナー</h4>
                    <div class="self_conent">
                        <h5>1. 飼い主さんの大切なワンちゃんを預かっている意識を持ちましょう。</h5>
                        <p>ワンちゃんは飼い主さんの家族の一員です。大切な家族を預かっていることを意識してください。</p>
                    </div>
                    <div class="self_conent">
                        <h5>2. ワンちゃんとの接し方</h5>
                        <p>ワンちゃんの性格にもよりますが、初めての人に警戒心や不安を抱くワンちゃんも多くいます。預かっている間は過度なスキンシップは避けて、ワンちゃんが落ち着ける環境を提供することを意識しましょう。</p>
                    </div>
                    <div class="self_conent">
                        <h5>3. 待ち合わせ時間やお見送り時間に遅れないようにしましょう。</h5>
                        <p>飼い主さんは用事があってワンちゃんを預けるので遅刻をするととても迷惑がかかります。時間に遅れないようにしましょう。万が一遅れる場合はわかり次第飼い主さんに連絡をしましょう。</p>
                    </div>
                    <div class="self_conent">
                        <h5>4. キャンセル時は相手に理由を伝えましょう</h5>
                        <p>やり取りの中で止むを得ずキャンセルをしたい場合は、相手にその理由を丁寧に伝えてからキャンセルを実行しましょう。理由なくキャンセルを実行し、相手が不快な思いをしないよう注意してください。</p>
                    </div>
                    <div class="self_conent">
                        <h5>5. 飼い主さんへの評価の入力を行いましょう</h5>
                        <p>預かった方の「良かった点」を伝えることは、飼い主さんとと預かる方の良い関係を作るための大切なものです。良かった点は公開され、全ユーザーが見ることができる状態になります。</p>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
<!-----スマホ--->
<div class="rule_pc" id="rule_s">
    <div class="evaluation_head">
        <h1>ルールとマナー</h1>
    </div>
    <div class="text_safe2" id="text_safe2">
        <div class="content_safe" id="content_safe">
                <div class="logo" id="logo">
                    <img src="/assets/guide_rule.jpg" alt="">
                    <h2>ルールとマナー</h2><br>
                    <p>みなさまに安心してSecondHouseをご利用いただくためのルールとマナーです。SecondHouseを利用する前に必ず以下の「禁止行為」「マナー」を確認してください。</p>
                </div>
                <div class="item_title2" id="item_title2">
                    <h3>禁止行為</h3>
                </div>
                <div class="ban_rule" id="ban_rule">
                    <p>以下の行為は禁止します。</p>
                    <h4 class="sub_title" id="sub_title"><i id="check_rule2" class="fas fa-check-circle"></i>サービス利用するに当たって</h4>
                    <p>・法律、法令、条例に違反する行為</p>
                    <p>・他の会員に誤解を生じさせる虚偽の記載をする行為</p>
                    <p>・預ける意思がないにも関わらず預かり依頼を作成する行為</p>
                    <p>・他の会員の写真や文章を無断で使用する行為</p>
                    <p>・SecondHouseで取得した他の会員の個人情報やトークルームの内容を、サービス利用する目的以外のために利用または外部に公開する行為</p>
                    <p>・SecondHouse外の外部連絡先を聞き出す行為</p>
                    <p>・SecondHouseではトラブル防止のため、以下の行為を禁止しております。</p>
                    <p class="rulu_item">1.プロフィールページやサービス内容、トークルームなどにメールアドレスを記載する行為</p>
                    <p class="rulu_item">2.画像にQRコードを掲載する行為</p>
                    <p class="rulu_item">3.他サイトの登録フォームへ誘導し会員登録、または個人情報を登録させる行為</p>
                    <p>・SecondHouseの決済手法以外の方法で決済を促す行為</p>
                    <p>・SecondHouseでは、お預かり完了時に預かった方に代金をお支払いする方法を用いています。</p><p class="rulu_item">そのため以下の行為を禁止しております。</p>
                    <p class="rulu_item">1.SecondHouse内の決済を利用せずに、SecondHouse外で決済を行う行為</p>
                    <p class="rulu_item">2.成果報酬や月額払い等の独自の支払を促す行為</p>
                    <p>・外部サービスに誘導する行為・誘導に応じる行為</p>
                    <p>・SecondHouseではトラブルの防止のため、</p><p class="rulu_item">以下の行為を禁止しております。なお、これらはどちらから持ちかけた場合でも該当します。</p>
                    <p class="rulu_item">1.SecondHouseを介さずに外部で依頼を行うように持ちかける行為</p>
                    <p class="rulu_item">2.SecondHouseでは行っていないサービスの提供のために外部に誘導する行為</p>
                    <p class="rulu_item">3.次回以降の依頼を外部で行うように持ちかける行為</p>
                    <p class="rulu_item">4.決済が可能なサイトを記載し、そちらへ誘導する行為</p>
                    <p>・マネーロンダリングを目的とした行為</p>
                    <p>・預かり依頼を飼い主自らが受託する行為</p>
                    <p>・サービスが未提供又は不十分な状態で一方的にクローズする行為</p>
                    <h4 class="sub_title"><i id="check_rule2" class="fas fa-check-circle"></i>その他</h4>
                    <p>・SecondHouseでは全ての会員が安心して安全にご利用いただけるように以下の迷惑行為を禁止しております。</p>
                    <p>・主な迷惑行為</p>
                    <p class="rulu_item">1.誹謗中傷</p>
                    <p class="rulu_item">2.脅迫行為</p>
                    <p class="rulu_item">3.差別行為</p>
                    <p class="rulu_item">4.他人に不快感を与える行為</p>
                    <p class="rulu_item">5.他人に不利益・損害を与える行為</p>
                    <p>・公序良俗に反する行為</p>
                    <p>・わいせつな投稿を行う行為</p>
                    <p>・SecondHouseでは全ての会員が安心して安全にご利用いただけるように以下の行為を禁止しております。</p>
                    <p class="rulu_item">1.性的発言</p>
                    <p class="rulu_item">2.露出度の高い画像の利用</p>
                    <p class="rulu_item">3.青少年に悪影響を与える行為</p>
                    <p class="rulu_item">4.当社がわいせつであると判断する行為</p>
                    <p>・営業活動、宣伝活動、宗教活動、選挙活動にあたる行為</p>
                    <p>・複数のアカウントを登録・所持する行為</p>
                    <p>・SecondHouseが不適切と判断する行為</p>
                    <p>・SecondHouseでは以下の行為を禁止しております。</p>
                    <p class="rulu_item">1.利用規約に反する行為</p>
                    <p class="rulu_item">2.ご利用ガイドに反する行為</p>
                    <p class="rulu_item">3.SecondHouseの運営を妨害する行為</p>
                    <p class="rulu_item">4.SecondHouseの信用を失墜、毀損させる行為</p>
                    <p class="rulu_item">5.青少年に悪影響を与える行為</p>
                </div>
                <div class="item_title2" id="item_title2">
                    <h3>マナー</h3>
                </div>
                <div class="ban_rule" id="ban_rule">
                    <h4 class="sub_title" id="sub_title"><i id="check_rule2" class="fas fa-check-circle"></i>マナーの基本</h4>
                    <div class="self_conent" id="self_conent">
                        <h5>1.あいさつをしましょう</h5>
                        <p>やり取りが開始されたら、まず相手にあいさつをしましょう。誠実な態度を心がけると、お互い気持ちよくやり取りを進められます。</p>
                    </div>
                    <div class="self_conent" id="self_conent">
                        <h5>2. 丁寧な言葉遣いを心がけましょう</h5>
                        <p>SecondHouseは多くのお客様にご利用いただき、年齢層も幅広いです。若者言葉が、年齢の上の方には不快に感じるケースもあります。このため、やり取りは敬語で行なうなど、相手に配慮した失礼のない言葉遣いを心がけましょう。</p>
                    </div>
                    <div class="self_conent" id="self_conent">
                        <h5>3. 感情的にならないように心がけましょう</h5>
                        <p>文字だけのやり取りは、対面でのコミュニケーションより誤解が起こりやすくなります。いっときの感情でメッセージを送信せず、少し時間をおいて送信するなど冷静なやり取りを心がけましょう。</p>
                    </div>
                    <div class="self_conent" id="self_conent">
                        <h5>4. 返信は速やかにしましょう</h5>
                        <p>メッセージを送信後に返事がないと、相手は不安になってしまうものです。受信後は速やかな返信を心がけ、またすぐに返事ができない場合は「ご連絡ありがとうございます。内容を確認後またご連絡します。」といった一時返信をすることで、相手に安心してもらえます。</p>
                    </div>
                    <h4 class="sub_title" id="sub_title"><i id="check_rule2" class="fas fa-check-circle"></i>ワンちゃんを預ける場合のマナー</h4>
                    <div class="self_conent" id="self_conent">
                        <h5>1. 預かり依頼の内容は備考に詳細を記入しましょう。また、不明点は事前にダイレクトメッセージでエントリーしたユーザーに確認しましょう。</h5>
                        <p>預かり依頼に行って欲しいこと、して欲しくないことを具体的に伝えておきましょう。またワンちゃんの性格、クセなど細かく伝えておくと預かる方も安心できるでしょう。</p>
                    </div>
                    <div class="self_conent" id="self_conent">
                        <h5>2. 要望は無理のない範囲でお願いしましょう</h5>
                        <p>預かり依頼に書いていなかった内容を追加でお願いしたい場合は無理のない範囲でお願いしましょう。</p>
                    </div>
                    <div class="self_conent" id="self_conent">
                        <h5>3. サービスの感想・評価の入力を行いましょう </h5>
                        <p>コメント・評価はサービス改善につながる大切なものです。コメントと5段階評価の一部（総合評価）は公開され、他のユーザーも見ることができます。なお、誹謗中傷や個人情報などを記載することがないようご注意ください。（SecondHouseのルールに反する内容の場合は運営で削除し、記載した方のご利用を制限いたします。）</p>
                    </div>
                    <h4 class="sub_title" id="sub_title"><i id="check_rule2" class="fas fa-check-circle"></i>ワンちゃんを預かる場合のマナー</h4>
                    <div class="self_conent" id="self_conent">
                        <h5>1. 飼い主さんの大切なワンちゃんを預かっている意識を持ちましょう。</h5>
                        <p>ワンちゃんは飼い主さんの家族の一員です。大切な家族を預かっていることを意識してください。</p>
                    </div>
                    <div class="self_conent" id="self_conent">
                        <h5>2. ワンちゃんとの接し方</h5>
                        <p>ワンちゃんの性格にもよりますが、初めての人に警戒心や不安を抱くワンちゃんも多くいます。預かっている間は過度なスキンシップは避けて、ワンちゃんが落ち着ける環境を提供することを意識しましょう。</p>
                    </div>
                    <div class="self_conent" id="self_conent">
                        <h5>3. 待ち合わせ時間やお見送り時間に遅れないようにしましょう。</h5>
                        <p>飼い主さんは用事があってワンちゃんを預けるので遅刻をするととても迷惑がかかります。時間に遅れないようにしましょう。万が一遅れる場合はわかり次第飼い主さんに連絡をしましょう。</p>
                    </div>
                    <div class="self_conent" id="self_conent">
                        <h5>4. キャンセル時は相手に理由を伝えましょう</h5>
                        <p>やり取りの中で止むを得ずキャンセルをしたい場合は、相手にその理由を丁寧に伝えてからキャンセルを実行しましょう。理由なくキャンセルを実行し、相手が不快な思いをしないよう注意してください。</p>
                    </div>
                    <div class="self_conent" id="self_conent">
                        <h5>5. 飼い主さんへの評価の入力を行いましょう</h5>
                        <p>預かった方の「良かった点」を伝えることは、飼い主さんとと預かる方の良い関係を作るための大切なものです。良かった点は公開され、全ユーザーが見ることができる状態になります。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
