<div class="space">
</div>
<div class="new_menber">

  <!---------サポート・制度-------------->
  <h1>サポート・制度</h1>

  <ul>

    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration69">
          預かってくれた人の家のものを壊した場合はどうなりますか？
        </a>
    </li>
    <li> <i class="fas fa-chevron-right"></i>
        <a href="/support/registration70">
          相手方と連絡が取れなくなってしまいました。
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration71">
          預かってくれる人はどのように選べばいいですか？
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration72">
          Second Houseは第一種動物取扱業を取得していますか？
        </a>
    </li>
    <li><i class="fas fa-chevron-right"></i>
        <a href="/support/registration73">
          どんな犬でもサービスを利用できますか？
        </a>
    </li>



  </ul>

</div>
